[2020-04-22 11:29] daltonfury42 opened #11 "Setup ESLint + Prettier"
ESLint and Prettier combo is a very standard static check + formatter for javascript.

[2020-04-22 11:36] daltonfury42 opened #12 "Change the Footer Message"
The footer currently looks like this:

![image](https://user-images.githubusercontent.com/11256376/79977198-7b439980-84bb-11ea-814e-25d4bf7219d2.png)

and it links to the material UI website.

Change is to simple display `(C) Flatboys 2020`

[2020-04-22 11:40] daltonfury42 opened #13 "UX: Home Button"
Add a home button, or even better, the "SimplQ" text at top right corner should take you to the homepage.

![image](https://user-images.githubusercontent.com/11256376/79977595-27858000-84bc-11ea-9981-84f81a35a441.png)

[2020-04-22 11:47] daltonfury42 opened #14 "[Firebase] Add User to Queue"
End to end functionality to add a user to the queue when the user clicks on the `Join Queue` button on the join queue page.

[2020-04-22 11:55] daltonfury42 opened #15 "Fix routes"
Assuming our hostname is simplq.com, this should be the behaviour:

| Route                              | Screen              |
|------------------------------------|---------------------|
| `simplq.com`                       | Create Queue Screen |
| `simplq.com/<queue-id>`            | Join Queue Screen   |
| `simplq.com/admin/<queue-id>`      | Admin Page          |
| `simplq.com/status/<token

[2020-04-22 11:57] daltonfury42 opened #16 "Standardise Component Names"
We have four critical components,

1. CreateQueue
2. JoinQueue
3. QueueStatus
4. Admin

`s/Admin/AdminQueue` for it to look good.

[2020-04-22 11:59] daltonfury42 opened #17 "[Cleanup] Axios"
Axios is not used, can be removed from `package.json` as well as the code.

[2020-04-22 12:00] daltonfury42 opened #18 "Add User to Queue Functionality in Queue Admin Page"

[2020-04-22 12:07] daltonfury42 opened #19 "Fix Margins and Overall Layout"
There is a grey area at the botton, needs to be be removed.

<img width="1680" alt="Screenshot 2020-04-22 at 5 32 24 PM" src="https://user-images.githubusercontent.com/11256376/79979698-8d273b80-84bf-11ea-808a-78379134c951.png">

Also for this screen, and other screens, fixing out main component to the center like in [this](https://material-ui.com/getting-started/templates/checkout/) template woul

[2020-04-22 12:09] daltonfury42 opened #20 "Redundant title 'SimplQ' in the homepage"
<img width="1680" alt="Screenshot 2020-04-22 at 5 38 48 PM" src="https://user-images.githubusercontent.com/11256376/79980116-3bcb7c00-84c0-11ea-9087-a9aea440abbf.png">

[2020-04-22 12:12] daltonfury42 opened #21 "Get a good domain name"

[2020-04-22 12:13] daltonfury42 opened #22 "[FireBase] Delete User"
Add delete user functionality and use it in the Queue Admin page and Queue Status page.

[2020-04-22 12:14] daltonfury42 opened #23 "[Firebase] Get Token Status"
Get token status from firebase and show it in the Queue status page

[2020-04-22 12:19] daltonfury42 opened #24 "Add call button to each entry in admin page."

[2020-04-22 12:20] daltonfury42 opened #25 "Secuity Enhancements"
Think of how to secure the application. Currently anyone can be admin!

[2020-04-22 12:23] daltonfury42 opened #26 "Internationalisation"
Let's support Malayalam and Hindi?

[2020-04-22 15:31] daltonfury42 opened #27 "[Firebase] Make DB non public"

[2020-04-22 19:49] #20 closed, assigned to sajmalyousef

[2020-04-23 04:47] #19 closed, assigned to daltonfury42

[2020-04-24 04:34] #12 closed, assigned to nobody

[2020-04-24 18:27] #15 closed, assigned to daltonfury42

[2020-04-25 11:03] #13 closed, assigned to akashkbaburajan

[2020-04-25 12:00] maaverik opened #34 "Migrate all current firebase services in client to firebase cloud functions"

[2020-04-25 12:21] daltonfury42 opened #35 "Pause Queue"
The queue admin should be able to pause the queue, so that it doesn't temporarly take any new users.

[2020-04-25 12:24] daltonfury42 opened #36 "[UX] Key Board Enter Should Do The Right Action"
For example, in the home page, when you type the queue name, and press enter, it should be as if the user had clicked on create queue.

Also, ensure that required fields are filled before allowing the button press. Else highlight that a field is required, or something like that.

Not just for create queue, but for add queue, and other pages as well.

[2020-04-25 17:11] #16 closed, assigned to nobody

[2020-04-26 07:35] daltonfury42 opened #40 "Add to Queue from Admin Page"

[2020-04-26 10:47] daltonfury42 opened #41 "Admin Page to Avoid refresh"

[2020-04-26 11:40] #14 closed, assigned to sajmalyousef

[2020-04-26 11:57] daltonfury42 opened #43 "[Firebase] Read Queue For Admin Page"

[2020-04-26 11:58] #40 closed, assigned to daltonfury42

[2020-04-26 20:33] sajmalyousef opened #48 "Status page not showing up for 1st user"
Status screen remains in loading state for the 1st joinee of the queue

[2020-05-01 19:53] maaverik opened #53 "Handle authentications and entitlements"

[2020-05-01 19:54] maaverik opened #54 "Make changes to a queue by admin result in corresponding changes in customer app states"

[2020-05-01 19:55] maaverik opened #55 "Handle queueIds in URLs elegantly"

[2020-05-02 17:15] #48 closed, assigned to nobody

[2020-05-03 06:47] daltonfury42 opened #63 "Move token ID to session storage"

[2020-05-03 06:50] daltonfury42 opened #64 "Order By Joining Time in Admin Page"

[2020-05-03 06:51] #18 closed, assigned to nobody

[2020-05-03 06:51] #23 closed, assigned to nobody

[2020-05-03 06:51] #24 closed, assigned to sajmalyousef

[2020-05-03 06:52] #27 closed, assigned to maaverik

[2020-05-03 06:53] #43 closed, assigned to daltonfury42

[2020-05-03 08:23] #17 closed, assigned to maaverik

[2020-05-03 08:24] #34 closed, assigned to maaverik

[2020-06-07 16:37] #21 closed, assigned to nobody

[2020-06-07 16:38] daltonfury42 commented on #21
https://simplq.me it is

[2020-06-07 16:38] daltonfury42 commented on #64
Done

[2020-06-07 16:38] #64 closed

[2020-06-07 16:38] daltonfury42 commented on #63
Done

[2020-06-07 16:38] #63 closed

[2020-06-07 16:41] daltonfury42 commented on #55
We should make Queue Name as the URL. I'll raised an issue for this in the backend side.

For example if the user created a queue by the name, "Joe's Restobar", the url would then be https://simplq.me/joesrestobar

[2020-06-07 16:46] daltonfury42 opened #93 "Invalid URL will also result in Join Queue Form"
If I type an invalid url, https://simplq.me/j/invalidurl this will also open a join queue form. It will then result in an error only on the user filling the form and click on join queue.

A proposal would be for the UI to request queue details right at the start, and ask the user to fill form only on it being a valid and open queue.

@akashkbaburajan In the design, as a result of the call to the b

[2020-06-07 16:47] daltonfury42 commented on #54
Done

[2020-06-07 16:47] #54 closed

[2020-06-07 16:50] daltonfury42 commented on #41
As discussed, use web-sockets. In browsers where there is no websocket support, let's check and fall back to a refresh button?

Blocked on backend support

[2020-06-07 16:55] #22 closed

[2020-06-07 16:56] daltonfury42 commented on #25
Duplicate, https://github.com/SimplQ/simplQ-backend/issues/13 will address this

[2020-06-07 16:56] #25 closed

[2020-06-10 19:20] daltonfury42 opened #94 "System Notification Alerts"
Websites can send notification through the browser to the OS:

![image](https://user-images.githubusercontent.com/11256376/84309538-e0dc0a00-ab7d-11ea-90bd-7dd4e8457aa6.png)
The same code should hopefully work on mobile.

We would have to politely ask the user to enable notifications from our site. Then the queue status can be pushed to the joiner better.

[2020-06-12 14:44] daltonfury42 opened #95 "The site description on google search is wrong"
![image](https://user-images.githubusercontent.com/11256376/84514726-1cdfae00-ace9-11ea-99d9-6d03e81688ff.png)

Our site description says "Web site created using create-react-app.". We badly need to change this.

[2020-06-12 19:47] daltonfury42 opened #96 "Set up google analytics"

[2020-06-17 05:03] daltonfury42 commented on #93
For now we can call queue info api, but a specific endpoint for the use case would be available after this change.

https://github.com/SimplQ/simplQ-backend/issues/21

[2020-06-18 06:25] maaverik commented on #95
Displays the right description now. The discrepancy was most likely due to old cache on google servers.

[2020-06-18 06:25] #95 closed

[2020-06-18 06:36] maaverik opened #99 "Redo entire frontend to follow a consistent design scheme"
The UI should reflect this design: https://xd.adobe.com/view/8d227f50-0d35-4319-63ad-ff4bad308415-fb13/.

In order to make the frontend code maintainable and extensible, the plan is to use SCSS modules so that we can leverage the features SCSS provides while also maintain a clear separation between JS and CSS. Using CSS inline with react components should be avoided as much as possible. These post

[2020-06-18 06:40] maaverik commented on #41
Will add a self refresh every few seconds as a temporary solution till websocket support is enabled on the backend.

[2020-06-18 17:21] daltonfury42 commented on #41
@maaverik If you think of it, a self refresh every 10s is simple, no complications, it would simply work.

A 10s delay in knowing that the user was notified is acceptable, in my opinion. Same with Admin view. What do you think?

[2020-06-19 09:18] daltonfury42 commented on #99
I was thinking of a very tiny POC that we can do to validate this. This is just a proposal, and I don't know how this approach will scale. How about we create a new components folder in our src folder,

`src/library/basic/button/index.js`:

![image](https://user-images.githubusercontent.com/11256376/85116346-c8818480-b23a-11ea-99ea-c0caa9785557.png)

And a corresponding storybook file for it.

If

[2020-06-19 21:07] daltonfury42 opened #102 "Snackbar / Error Handling Issue"
![image](https://user-images.githubusercontent.com/11256376/85179443-a1f53500-b29e-11ea-91be-7b3e675f25ba.png)

Steps to reproduce,

1) Go to dev.simplq.me
2) If you have not done before, clear localstorage once so that recent auth changes don't cause problems.
3) Turn off internet. Then try creating a queue

Expected: A snackbar to tell the user that he/she is offline.

[2020-06-22 06:41] maaverik commented on #102
Fix added to latest PR

[2020-06-22 06:41] #102 closed

[2020-06-22 06:42] maaverik commented on #11
Conflicts resolved and husky workflow added to run eslint and prettier on every commit

[2020-06-22 06:42] #11 closed

[2020-06-22 06:42] maaverik commented on #41
Sounds good

[2020-06-26 07:11] sajmalyousef opened #105 "Feature : Add a page exclusively to post content"
Why?
To increase traffic and for customer acquisition. On searching for queue management systems , most websites have their own pages with curated content - with key words for better search results.
example : https://ace.aurionpro.com/what-is-queue-management-system/

How?
Our main page will have a button that directs to a page with content. We will keep it simple and just have a plain article ini

[2020-06-26 08:32] daltonfury42 commented on #105
+1 we need this. This can be in the form of the FAQ we were talking about?

[2020-06-26 08:52] sajmalyousef commented on #105
The more the better, I'd say an FAQ page and an about page.

[2020-06-26 09:03] daltonfury42 commented on #105
Can you take this up? You can create the content in google docs, then we can think of how to add it to the website?

[2020-06-26 09:55] sajmalyousef commented on #105
We have enough content to start with I guess, That wont be an issue

[2020-06-26 17:48] daltonfury42 commented on #105
Then, can you link the exact content to the issue? If a page like in the example you gave is enough, we can do it in plain HTML/CSS and add it to the site

[2020-06-26 17:49] daltonfury42 commented on #105
Or how should we proceed?

[2020-06-28 07:56] sajmalyousef commented on #96
Completed setup and able to view dashboard with user stats

[2020-06-28 07:56] #96 closed

[2020-06-28 17:29] maaverik commented on #99
The home and create queue pages have been rewritten partially following the guidelines mentioned in the beginning. The changes are in the new-frontend branch. I'll send a PR soon when the admin page is also changed, atleast partially. Then I'll make separate issues for the remaining tasks on each of the pages so that others can take them up if they want.

[2020-06-28 17:48] daltonfury42 opened #112 "Dev/Master to point to devbackend.simplq.me"

[2020-06-29 18:08] maaverik commented on #112
Raising PR

[2020-06-29 18:08] #112 closed

[2020-06-29 18:18] maaverik opened #115 "Fix the problem with the lint workflow"
The lint workflow set up using github actions fails saying eslint is not installed even though eslint is part of package.json. Use this for reference https://github.com/samuelmeuli/lint-action.

[2020-06-29 18:26] maaverik opened #116 "Add images and stepper transitions to home page"
The home page in the new design (https://xd.adobe.com/view/5b8cc4d6-174a-48f4-53fa-5088ed723862-2dbd/) uses images from https://undraw.co/illustrations. Find the required images and add them to the homepage along with the steppers for the how-to-join and how-to-create sections. Get the latest code either from master or new-frontend and add on top.

[2020-07-03 18:03] daltonfury42 opened #117 "User Sign Up"
We need to allow users to sign up. We can have a popup for google/other provider signup, or a redirect. If we can sign people up by mobile numbers, that would be great.

[2020-07-04 09:35] daltonfury42 opened #119 "Logic Cleanup Based on New API Structure"
The non-presentational logic / routes etc can be redesigned and cleaned up based on the new design:

https://docs.google.com/spreadsheets/d/11e9VmPXeru_E4bmMOjjULOa9Giz99gTPNI2NUy6s7r4/edit#gid=0

We can do this one the old UI, and hopefully reuse it on the new UI

Primary Objectives:

1) Each page would at the start load information from backend, and use it. No/minimal dependancy between pages.

[2020-07-04 09:36] daltonfury42 commented on #119
@maaverik What do you think, I am thinking of revamping logic of each by one by one, with the objective above in mind.

[2020-07-04 17:11] sajmalyousef commented on #117
who should sign up? Both queue creator and user?

[2020-07-04 17:27] thehamzarocks commented on #117
As we've discussed before, signing up is crucial in production as relying on auth tokens in local storage has several problems including device lock-in.

At least for the queue creator, signing up should be mandatory as the repercussions could be severe if the creator somehow lost access to the queue he created, affecting several customers.

Instead of taking the user to the create queue page, on

[2020-07-04 17:43] daltonfury42 commented on #117
I agree with you on everything except making sign up mandatory for creating queues. I'd rather keep it easy to create queue (by not letting sign up come in between), and then remind in a good way somehow that he/she needs to sign up if he wants get more out of the site.

We could write somewhere on the Admin page, something like  "[Sign up](das) to not risk loosing your queues"

We could also make

[2020-07-04 17:49] daltonfury42 commented on #117
@sajmalyousef Also, for the joiner, absolutely no insistence/need to sign up, but if someone wants to sign up, that should be supported... Also, if you have already signed up with us, maybe because you also manage some queus, we can give extra perks.

If you are a registered user, maybe we can give extra hidden addons like email notification, and he doesn't have to type name and mobile number agai

[2020-07-04 18:06] nirmalkv commented on #117
I am of the opinion that we should enforce authentication for both creators and clients. Considering the present scenario, queue creators must be keep track all queue participants. Like if a queue participant is tested positive for covid-19, this information will help authorities to track other participants. It can be a usp for the app.

It is a privacy issue though. But we can share the details t

[2020-07-04 18:13] thehamzarocks commented on #117
"Sign up to not risk loosing your queues" - a business uses our app, but doesn't sign up thinking it'll be ok. But if anything goes wrong and he loses his queue, he loses potential customers. When we build applications like this, we must assume users are not very bright and must try to protect them from themselves.

For most businesses, queues are not ephemeral.

[2020-07-04 18:19] sajmalyousef commented on #117
We're at user acquisition phase, and at this point I'd say making them sign up acts as a hindrance in trying this app out, by making it compulsory. We can make signing up compulsory if the user wants features like private queue and multiple queues , as part of the retention phase , wherein he likes our product and wants to use it more. I agree with hamza , and maybe we could keep a disclaimer.
As

[2020-07-04 18:36] nirmalkv commented on #117
Yep that would work, but we have to verify the phone numbers. That is also a kind of authentication right? We can recommend user to sign in in order avoid this again. Govt mandates businesses to keep track of their customers. So say a coffee shop uses our app, they would have to devise another the mechanism to keep track of their customers. My be we should keep default behavior as private queue an

[2020-07-04 20:46] daltonfury42 commented on #53
This has been taken care of. We are sending JWT tokens with every request, which the backend is using for authenticating and also to identify the objects to be returned.

[2020-07-04 20:46] #53 closed

[2020-07-04 20:47] daltonfury42 commented on #119
Should take care of #93

[2020-07-04 20:52] daltonfury42 commented on #115
Done. Let it run for some time. When we are confident it's working, let's add it as a branch protection rule.

But I'm not sure if it will work when someone sends a PR from a fork.

[2020-07-04 20:52] #115 closed

[2020-07-05 06:04] daltonfury42 commented on #99
@maaverik can you identify and create more sub tasks?

[2020-07-05 06:11] sajmalyousef opened #121 "[Design] New UI integrate home page and create queue page"
The beginning page currently does not serve any purpose and should have the functionality same as in create queue link.  Simply move the steps section and text box from 2 to 1
1.
![Screenshot from 2020-07-05 11-37-55](https://user-images.githubusercontent.com/13188906/86526668-7d12db80-beb4-11ea-81cc-860f46e7021c.png)

2.
![Screenshot from 2020-07-05 11-42-14](https://user-images.githubusercontent

[2020-07-05 06:35] maaverik commented on #121
We designed it this way to have a decent looking homepage with the all the information. Putting create functionality there would bloat the page.

[2020-07-05 06:38] sajmalyousef commented on #121
@daltonfury42  what do you think? I find it redundant clicking on create a queue just to go to another page to create a queue
Maybe since the steps are already there below in the home page , just introduce text box here ?

[2020-07-05 07:10] akashkbaburajan commented on #121
@sajmalyousef a little bit redundancy is fine as long as the idea and message is conveyed.

[2020-07-05 07:28] sajmalyousef commented on #121
Steve Krug in his book "Don't make me think" highlights the following attributes of a usable design

Useful: Does it do something people need done?

Learnable: Can people figure out how to use it?

Memorable: Do they have to relearn it each time they use it?

Effective: Does it get the job done?

Efficient: Does it do it with a reasonable amount of time and effort?

Desirable: Do people want it?

[2020-07-05 08:15] daltonfury42 commented on #121
![image](https://user-images.githubusercontent.com/11256376/86528040-1ac0d780-bec2-11ea-8a4a-a53deae48d68.png)

These are my thoughts,

1) I've hard people say, lesser the click, the better. When discussing UX, they think of it as a huge win to reduce even a single click. But if we needed to have an extra click to make it look good, that compromise can "maybe" be taken.

2) People don't like huge

[2020-07-05 14:12] thehamzarocks commented on #94
There are two parts to this: requesting permission to show notifications and actually sending them.

1. Permissions - A good practice is only requesting permission in response to a user event. One good place would be to have an enable notifications button where the joiners are waiting to get notified. This would prevent annoying popups to visitors of the site who might simply end up disabling them

[2020-07-05 14:27] daltonfury42 commented on #94
Yes, an enable system notification button would make it being asked on the user's request, and hence he would be more likely to grant permission. We should keep the button in a nice spot so that people will see it.

Would you like the get a system notification when your turn comes? (Yes button)

But let's explore the notification capability first and then think on a smart place to place this. And

[2020-07-05 14:59] thehamzarocks commented on #41
Yes, since we don't have requirements for low-latency or high volume transfers, we can stick to traditional polling.

[2020-07-05 17:26] thehamzarocks commented on #41
A few questions:

1. Should we remove the refresh/check status buttons post this change?
2. Currently, if there's a network error, the error notification would keep popping up on every poll which is annoying. Can we change it to persist until the user closes it? It would pop up again though.

[2020-07-05 17:38] daltonfury42 commented on #41
1. Let them stay, so that people can play with them. It gives them something to do while waiting.

2. Yes.

Also, try to use an axios interceptor and redux to centralise this. https://dev.to/teroauralinna/global-http-request-and-response-handling-with-the-axios-interceptor-30ae

3. Yes, we can do that. We need to make sure all these ideas are tracked. Can you create an issue for this and assign to

[2020-07-05 17:40] daltonfury42 commented on #121
@akashkbaburajan What do you think?

[2020-07-05 17:42] thehamzarocks opened #125 "[Design] Show User's personal details on waiting page."
Right now, the waiting page is very generic. As discussed with @daltonfury42, Having at least the user's name on the page might be a good touch. Can discuss what exactly we need to show on the waiting page.

[2020-07-05 17:53] daltonfury42 commented on #117
Let's tackle all these things step by step.

For now, think of the **minimal addition to the current app** that allows users to sign up. The question is if we need to enforce registration. People are lazy, 90% people would despise signing up. Let's not force them to sign up.

As for businesses which want to keep track of visitors, your idea is nice, and we should think more and keep it for future.

[2020-07-05 17:53] thehamzarocks opened #126 "Don't automatically close error snackbar"
Let the error snackbars persist for two reasons:

1. The user gets more time to read them.
2. In the case of polling for data, if an error occurs, we don't want it to repeatedly open and close which would be annoying.

(https://firebase.google.com/docs/functions/use-cases#notify_users_when_something_interesting_happens)

[2020-07-05 18:00] daltonfury42 opened #127 "[Design] Add Login / Signup to design"
We need to add login and sign up to the design. Where to place it, when to ask, etc etc. Sidebar?

#117 Has some discussion regarding this.

[2020-07-05 18:03] daltonfury42 opened #128 "[Design] Report Issue Button"
We need to have a report issue link for people to raise bugs (it can link to https://github.com/SimplQ/simplQ-frontend/issues/new), and a view on github link somewhere.

Also, maybe at the waiitng page, somewhere a tiny text telling that this is opensource project, can contributions are welcome would be a good to have.

[2020-07-05 18:11] akashkbaburajan commented on #121
I guess this has become a question on why a home page is required.
This was my thought process when I designed home page with two buttons - create and join queue
1. On advertising our app to potential customers, just the home page is enough to make them understand all that our app does. There is an option to create a queue and an option to join a queue. Nothing hidden. Everything intuitive.
2. A p

[2020-07-05 18:17] daltonfury42 commented on #128
Some  random ideas from other sites:

![image](https://user-images.githubusercontent.com/11256376/86539197-51c1d800-bf18-11ea-95ad-f178a4c00c5b.png)

![image](https://user-images.githubusercontent.com/11256376/86539313-1542ac00-bf19-11ea-8cb8-ac434651f8e2.png)

![image](https://user-images.githubusercontent.com/11256376/86539359-6bafea80-bf19-11ea-8a2a-7f55e6a47af7.png)

![image](https://user-imag

[2020-07-05 18:20] akashkbaburajan commented on #127
What will be the difference of signing up to not signing up now? I guess some differences would be
1. Signed in person can see history of queues created and joined... Else on clicking history in sidebar will ask them to sign in first.
Anything else as of now?

[2020-07-05 18:29] daltonfury42 commented on #121
We are not discussing "why" a homepage is required. The home page, with all its present content is required. The page is still intact with all the things (1, 2, 4, 5) covered.

What I am thinking is, if we add a text box also to it,

[code]

And that way, we can avoid an extra page.

Regarding queue customisation, I was wondering if we can let the user customise it (point 3) once he created the qu

[2020-07-05 18:37] akashkbaburajan commented on #121
Hmm... That wouldn't be too bad I guess...

[2020-07-06 18:01] maaverik commented on #126
Right ow, this is set to close in 5 seconds. Do you propose to increase the time or keep it persistent till a user closes it in certain cases?

[2020-07-06 18:05] maaverik commented on #119
We can make the changes to new-frontend itself instead of master and roll it out. It'll save us the time to merge again with the new UI later on.

[2020-07-06 18:13] daltonfury42 commented on #119
Agreed. Some guidelines:

1. We are abusing the global store in the old code. That has to go.
2. No dependency between pages. All information needed for loading a page should be there in the URL for the page, and then at start itself, each page should call the appropriate backend API to get all the information it needs.

For example, the joining page will call GET token, admin page will call GET q

[2020-07-07 17:31] daltonfury42 commented on #35
Duplicate of https://github.com/SimplQ/simplQ-backend/issues/20

Closing

[2020-07-07 17:31] #35 closed

[2020-07-07 17:33] daltonfury42 commented on #55
This will be covered by #119

[2020-07-07 17:35] daltonfury42 commented on #127
Personally I want to difference. (for now).

[2020-07-07 17:48] daltonfury42 commented on #117
https://medium.com/incredible-product-insights/do-you-really-require-users-to-login-signup-for-using-your-app-26ec031485f7

https://www.quora.com/Is-it-better-to-force-a-login-signup-to-use-an-app-or-let-users-use-it-freely-until-they-hit-a-feature-that-requires-a-login

[2020-07-08 05:21] thehamzarocks commented on #117
I agree that we need users to be able to evaluate our product before signing up. So let's take this approach:

There should be ample warning when creating the queue. We could do something like changing the text of the button to "Create Temporary Queue" (or something less jarring). And have some info text that says signing up is required for permanent qeueues.

While we could take a different appro

[2020-07-08 05:26] daltonfury42 commented on #117
Let's create another issue to track the mobile number approach.

[2020-07-10 07:12] daltonfury42 opened #130 "[Design] Fonts"
I could not find the font that's used in the design. I think it might be a good idea to use fonts from a good provider like https://fonts.google.com/

Can you fix a good overall font, and update the design.

[2020-07-10 14:32] thehamzarocks opened #131 "User-Friendly message when the token has been deleted"
Currently, when the user is deleted from the queue, he receives an error saying "the token has been deleted".

We should have a clearer message, or even change the display to something other than the notified one.

[2020-07-10 15:09] daltonfury42 commented on #131
For now, the UI is blindly displaying the response from backend. Let's keep this open, and once the new UI is done, we should find out how to handle this properly.

Rough idea, we from the backend can return proper error codes, and the UI would have to display the human friendly text. What do you think?

[2020-07-10 19:50] maaverik commented on #94
https://www.youtube.com/watch?v=ggUY0Q4f5ok

This might be helpful

[2020-07-11 11:59] #41 closed

[2020-07-11 12:38] maaverik commented on #36
Done in latest new-frontend PR

[2020-07-11 12:38] #36 closed

[2020-07-11 12:38] maaverik commented on #99
Closing this and splitting up into tasks

[2020-07-11 12:38] #99 closed

[2020-07-11 12:40] maaverik opened #134 "Admin Page UI"
Make the admin page look identical to the one in the design: https://xd.adobe.com/view/5b8cc4d6-174a-48f4-53fa-5088ed723862-2dbd/screen/2fbb3e31-1e3a-4eab-ac2f-7d7f2247f6b3/

[2020-07-11 12:41] maaverik opened #135 "Status page UI"
Make the status page look identical to the one in the design: https://xd.adobe.com/view/5b8cc4d6-174a-48f4-53fa-5088ed723862-2dbd/screen/368ed3ce-47dc-4ef9-9827-54cf3f359d7c/

[2020-07-11 12:42] maaverik opened #136 "Add sidebar"
Create sidebar as shown in the design: https://xd.adobe.com/view/5b8cc4d6-174a-48f4-53fa-5088ed723862-2dbd/screen/55f12f5b-017e-4391-8fbe-ef35ba56a8bc/

[2020-07-11 12:44] maaverik opened #137 "Design a common footer for every page / Remove fork ribbon"
Modify the stepper used in multiple pages to look and function like the one shown in the design: https://xd.adobe.com/view/5b8cc4d6-174a-48f4-53fa-5088ed723862-2dbd/screen/39e59fcc-5f46-4d1e-bbfc-b9702208c0eb/
https://xd.adobe.com/view/5b8cc4d6-174a-48f4-53fa-5088ed723862-2dbd/screen/368ed3ce-47dc-4ef9-9827-54cf3f359d7c/

Also add a footer (can be empty for now)

[2020-07-11 15:30] thehamzarocks commented on #94
Since we are currently not using push notifications, we would have to rely on the application running in some window on the browser to be able to view notifs.

If we want to be able to notify the user no matter which page of the app he's currently in (even homepage), then we need to be able to detect notify status throughout the UI.

If we require the queue status page to be left open, then we can

[2020-07-11 16:21] maaverik commented on #94
We can't really be expected to provide notifications when the app is closed since ours is a web app after all, so there's no need to think about supporting that, at least for the near future. As for displaying notifications no matter what page the user is on, there might be a way to do that using the service workers. We have this file simplq/src/serviceWorker.js which I intended to enable once the

[2020-07-11 18:36] maaverik opened #138 "Convert CreateQueue to functional component"
The CreateQueue component is a class based component right now while all the others are functional components that use hooks. Convert this component as well to a functional component that uses hooks while maintaining all the current features.

[2020-07-11 18:48] daltonfury42 commented on #94
I second that. Let's get a simple notification system implemented where you get notified only if you are on the status page.

Service workers idea looks interesting, we can explore that in a follow up PR or whenever anyone is interested in picking it up.

[2020-07-11 19:48] daltonfury42 commented on #116
For the stepper, I found this, shall I give it a try?

https://www.youtube.com/watch?v=N7W-S4JhMXY

@maaverik @thehamzarocks

[2020-07-12 08:00] maaverik commented on #116
Seems like a ton of work. I was thinking of modifying this a bit and get something close to the design: https://material-ui.com/components/steppers/#text-with-carousel-effect. It seems like it'll be much easier and won't bloat the codebase too much.

[2020-07-12 08:11] thehamzarocks opened #140 "Notifications: Handle cases where the browser doesn't support notifications"
Currently, we ask the user to enable notifications through a button. But notifications aren't supported on all browsers.

We should handle such cases by hiding the button entirely/ showing a popup.

[2020-07-12 18:26] daltonfury42 opened #142 "Move to API Gateway"

[2020-07-25 07:40] daltonfury42 opened #145 "[Design] Do we need a title and then a caption in our sliders"
![image](https://user-images.githubusercontent.com/11256376/88451889-f8462c80-ce77-11ea-80e3-f551006b9631.png)

We have a bit of repetition here.. "Manage Queue" as title and then again the caption, "Manage your queue seamlessly and efficiently"

I feel just the caption would do.

[2020-07-25 10:14] daltonfury42 commented on #145
I think it's fine... just have to change the text, which we can do later

[2020-07-25 10:14] #145 closed

[2020-07-26 14:26] thehamzarocks opened #147 "[Design] Contact Us section in app"
Allowing potential users to reach out to us with their requirements would increase outreach.

People would be able to find SimplQ on social media/ other forums and try it out for themselves. If they felt anything could be done to make it better for their use case, they could reach out to us for collaboration.

Let's have a "Contact Us" section and make it clear to potential users that we're ready

[2020-07-31 17:35] daltonfury42 opened #149 "Share and Refresh Buttons"
![image](https://user-images.githubusercontent.com/11256376/89061372-38c70e00-d382-11ea-94d7-ef87d9c6cbdf.png)

[2020-07-31 17:35] daltonfury42 commented on #134
I'm taking up https://github.com/SimplQ/simplQ-frontend/issues/149

[2020-07-31 17:59] daltonfury42 opened #150 "[Admin] Active User's List"
Implement this..
![image](https://user-images.githubusercontent.com/11256376/89063330-9a3cac00-d385-11ea-9039-8572b319e98e.png)

[2020-07-31 18:02] daltonfury42 commented on #150
Displaying the time would be interesting, from a time zone perspective. We need to show it in the user's local time.

1) Let's not have "Join time:" written
2) If it's not today's time, we should have `XX:XX pm, Y days ago`

[2020-07-31 18:05] daltonfury42 commented on #150
Also the bell would have three states, the normal, on hover, and also thee notified state

[2020-07-31 20:49] daltonfury42 opened #153 "Give Material Like ripple effect to buttons"
https://codepen.io/finnhvman/pen/jLXKJw

we should try this, looking nice. Then we can remove the blue ugly border which comes on focus:

![image](https://user-images.githubusercontent.com/11256376/89076110-58b7fb00-d39d-11ea-9b23-9e04543bc720.png)

[2020-07-31 21:00] daltonfury42 opened #154 "[Bug] Home Page Slider Should Preload the SVGs"

[2020-08-07 21:18] daltonfury42 commented on #147
How should we allow people to contact us? Will giving our personal email somewhere help? If we give one of our email id, will people / bots spam us?

[2020-08-07 21:20] daltonfury42 commented on #147
I'd prefer people be send to "https://github.com/SimplQ/simplQ-frontend/issues/new", for example, we can write somewhere,

For comments, feedbacks or bugs reach us [here](https://github.com/SimplQ/simplQ-frontend/issues/new).

cc @raima-zachariah @akashkbaburajan

[2020-08-07 21:28] daltonfury42 commented on #128
Duplicate of #147

[2020-08-07 21:28] #128 closed

[2020-08-07 21:32] daltonfury42 commented on #116
Done

[2020-08-07 21:32] #116 closed

[2020-08-08 07:45] maaverik opened #161 "Fix error boundary"
The error boundary which is set up does not work for some reason and needs investigation and possible rework. It's in https://github.com/SimplQ/simplQ-frontend/blob/new-frontend/simplq/src/components/ErrorHandler.jsx

[2020-08-08 20:21] daltonfury42 opened #162 "How about a fully page loading screen component that we can reuse?"
We could also simply leave it white and blank... but a "Loading..." graphics would be nice.

[2020-08-08 20:22] daltonfury42 opened #163 "Explore using redux for handling network calls"

[2020-08-08 20:22] daltonfury42 opened #164 "HandleApiError at one place"
Hook into axios and catch all backend call failures at one place.

[2020-08-08 20:24] daltonfury42 commented on #161
Also we can use an axios interceptor to handle api call errors in one place: https://stackoverflow.com/questions/48990632/how-to-manage-axios-errors-globally-or-from-one-point

[2020-08-08 20:25] daltonfury42 commented on #164
https://stackoverflow.com/questions/48990632/how-to-manage-axios-errors-globally-or-from-one-point

[2020-08-08 20:26] daltonfury42 commented on #147
Downside of this is that the reporter should have a github account. But what is the next best easiest way to get non-tech people to give feedback?

[2020-08-08 20:35] daltonfury42 opened #165 "Move notification logic to notification service"
if possible

[2020-08-08 20:54] daltonfury42 commented on #161
I've also noticed that ErrorBoundary is a class component, and inside it we are using `useDispatch`. Hooks can be used only from functional components. Can we also rewrite error boundary as a functional component?

[2020-08-08 21:16] #138 closed

[2020-08-09 09:22] maaverik commented on #161
I'm not sure if it's possible to make it functional since the docs don't have a functional version for it. Will do some research. You might be right about the useDispatch, but the reason for the error boundary failing is something else I think, since the useDispatch is only for showing the error popup and not really required in the boundary. I think I added it to debug the boundary failure.

[2020-08-09 09:24] maaverik commented on #147
How about we make a new email account for just this purpose and have that account forward the mails to each of us so that atleast one of us could respond. This way all of us would stay informed too.

[2020-08-09 10:05] daltonfury42 commented on #161
This is just a clue/theory... I think the error bountary code is fine, but someone else is catching the error before it reaches your code... Is the exception coming on console?

[2020-08-09 10:14] daltonfury42 commented on #147
yes, lets do this...

[2020-08-09 10:14] maaverik commented on #161
Well, the exception wasn't caught anywhere, the page itself used to crash which is exactly what the boundary should take care of. I forgot how I tested it, so will have to check again.

[2020-08-09 10:30] daltonfury42 commented on #162
cc: @akashkbaburajan

[2020-08-09 10:32] daltonfury42 commented on #147
cc: @akashkbaburajan

[2020-08-09 11:29] daltonfury42 opened #167 "[Future] We can add scroll transitions"
I was checking out this site. This guy has made a pretty neat site, and I'm loving the transitions here when you scroll down the site: https://absurd.design/

https://michalsnik.github.io/aos/

[2020-08-09 11:34] akashkbaburajan opened #168 "Tweak Home Page CSS of SimlQ explained components"
Currently in new.simplq.me the "Create a Queue at the click of a button" and "Join a queue without being there" components are positioned top and bottom. It would be nice to have them side by side on a wider screen but top and bottom on a smaller screen.
![Screenshot (9)](https://user-images.githubusercontent.com/16539463/89731120-32135780-da62-11ea-83cc-eaf8175e2f86.png)
![Screenshot (10)](https:

[2020-08-09 11:44] daltonfury42 commented on #168
Hmm. We should do something of that lines... sizing, padding etc on home page should be changed.  One thing is, two steppers side by side would look a little odd.

[2020-08-10 21:42] daltonfury42 opened #170 "Centralize Periodic API Refresh Code"
We do periodic refresh of certain endpoints. It makes sense to do those only when the components that need the data are currently visible. This code is repeated in multiple places. Explore if there is a way to keep it DRY. This is blocked on #163

[2020-08-11 19:48] maaverik commented on #154
Could you describe the exact issue? I'd like to try this one.

[2020-08-11 19:54] maaverik commented on #163
Could you describe the rationale for adding redux to handle the calls? I thought it was only required when the data coming from the calls is passed around between components a lot which doesn't happen for us, at least for now.

[2020-08-11 20:39] daltonfury42 commented on #163
Cleaner components. Network calls are not a presentational logic, and hence, I think they should move out. If you look at [Admin page](https://github.com/SimplQ/simplQ-frontend/blob/new-frontend/simplq/src/components/pages/Admin/index.jsx), lines 23-61 can be reduced I feel. I place of all those lines, we can just call actions in the right way.

#170 is also another thing, but I am not sure this i

[2020-08-11 20:40] daltonfury42 commented on #163
This works as long as there are just one queue / token being managed. I'm not sure how this will evolve to, if we have more than one token / queue...

[2020-08-11 20:43] daltonfury42 commented on #163
Actually, before we implement this change, let me talk to someone and validate this...

[2020-08-11 20:58] daltonfury42 commented on #163
My knowledge on this is a bit outdated, I've seen it being used in the days before `redux-toolkit` like this, using `redux-thunk`:
https://blog.logrocket.com/data-fetching-in-redux-apps-a-100-correct-approach-4d26e21750fc/
https://daveceddia.com/where-fetch-data-redux/

But @maaverik your question still remains, and let me come back to you. Even I'm not 100% convinced

[2020-08-12 03:59] daltonfury42 commented on #154
This is a very nitty-gritty thing I had noticed. If you load the homepage, and then clear the network calls hostory,
![image](https://user-images.githubusercontent.com/11256376/89973454-fbb22400-dc7d-11ea-9d71-bfe23a08500a.png)

Then move the slider, you'll see that the images are loaded on demand:
![image](https://user-images.githubusercontent.com/11256376/89973527-2d2aef80-dc7e-11ea-9159-15ecf17

[2020-08-13 20:30] maaverik commented on #147
How about we make one? No point delaying it. What's your opinion on simplq.support@gmail.com?

[2020-08-13 20:45] daltonfury42 commented on #147
simplq@gmail.com is taken?

[2020-08-16 19:16] daltonfury42 commented on #163
@PavanDongare @maaverik I talked to a friend in depth about this, and he also is of the opinion that we don't need to add redux for network calls.

@PavanDongare If there is a strong argument from your side as to why we need this, lets do this. Otherwise lets close the issue.

[2020-08-18 05:35] daltonfury42 opened #171 "Styling our expansion panel"
One independent task to take up would styling the "Add Manually" expansion panel:

![image](https://user-images.githubusercontent.com/11256376/90474291-95784600-e142-11ea-84dc-6093c8afffdf.png)

Design: https://xd.adobe.com/view/5b8cc4d6-174a-48f4-53fa-5088ed723862-2dbd/screen/9d04ccf4-6738-477b-a1a1-73e3ecba47c5/

The expansion panel would be a generic component that we can then reuse at other pl

[2020-08-18 15:39] jithinlal opened #172 "Exposing amplify config info"
Is it okay to expose amplify cloud details including AmplifyAppId in the back-end folder ?

[2020-08-18 16:54] jithinlal commented on #153
I'll do this

[2020-08-18 16:55] jithinlal commented on #153
The primary color seems to be #3a3768, can we change this into #776fff ?

That seems to be the image color used throughout the app.

[2020-08-18 16:59] sajmalyousef commented on #153
Should'nt "share queue" be changed to "Share" , since refresh is just "refresh" and not refresh queue?

[2020-08-18 17:17] maaverik commented on #172
Hi, which file and details are you talking about in https://github.com/SimplQ/simplQ-frontend/tree/new-frontend/simplq/amplify/backend? @daltonfury42  and @thehamzarocks, do you guys know if the App Id is safe to expose?

[2020-08-18 17:30] maaverik commented on #153
Hi @jithinlal, this is the design we're following: https://xd.adobe.com/view/5b8cc4d6-174a-48f4-53fa-5088ed723862-2dbd/grid. Two colors are used throughout, #3A3768 for dark and #6C63FF with opacity 20% for light. So, what did you mean by #776fff being used? I think we've used just these two everywhere.

[2020-08-18 17:33] maaverik commented on #153
@sajmalyousef You're right. By the end, it should look like this, so we just need to get there.
![Screenshot from 2020-08-18 23-01-58](https://user-images.githubusercontent.com/12583528/90545885-ede12f00-e1a6-11ea-9f36-259db68af7ef.png)

[2020-08-18 17:34] daltonfury42 commented on #172
I want to investigate in the weekend. amplify-cli generated a .gitignore on it's own, also, when we were setting this up for you, you needed credentials... so I thought things are secure... I'll take a look

[2020-08-18 17:35] jithinlal commented on #153
@maaverik what i meant is that, the color of the images used below your home page is #776fff, if we could include that as the color, the ripple effect will be pronounced and all.
![2020-08-18_22-58](https://user-images.githubusercontent.com/9658385/90546203-5e884b80-e1a7-11ea-919e-fa6b0906d484.png)

[2020-08-18 17:36] jithinlal commented on #153
@maaverik it was just a thought, nm

[2020-08-18 17:37] jithinlal commented on #153
Created a PR request that included the ripple, can you look into that ?

[2020-08-18 17:39] maaverik commented on #153
We're thinking of sticking to the design we have right now. So at least for now, we'll leave the color as it is.

[2020-08-18 17:44] daltonfury42 commented on #153
@jithinlal the color looks a bit too bright, in my opinion. Can you try changing the ripple colour instead to see if helps on the dark button?

[2020-08-18 17:47] jithinlal commented on #153
@daltonfury42 you talking about the color when hovered? The rippling effect is not seen on the home page, since the page navigation is happening pretty fast, but it could be seen on the create queue page though

[2020-08-18 17:53] jithinlal commented on #172
https://github.com/aws-amplify/amplify-cli/issues/1032

based on this issue, it's okay, but needs to make sure

[2020-08-18 19:29] maaverik commented on #135
I'm thinking of adding this library for showing the notification within the browser https://quantumalert.cosmogic.com/.

[2020-08-18 19:29] maaverik commented on #147
Yeah, it's taken already

[2020-08-18 20:29] sajmalyousef opened #176 "[Design ] Announcements to be shared with queue users"
An incremental feature to the custom form feature wherein, the queue creator can notify some common details to all the queue users .
1.
**Given**
A shopkeeper has not created a queue

***When ***
He creates a queue and also wants to make an announcement (Specific offer ) to everyone who joins the queue

***Then***
Anyone opening the join queue link should be able to see the announcement , the admi

[2020-08-18 20:54] daltonfury42 commented on #176
We would need let the queue owner set a small and optional queue description, which will be shown when someone is in the joining page. Like google forms.

But your proposal is a bit more that this. Can you come up with real life usecases where a shopkeeper gives frequent offers... I don't think a lot of shops will find this "general announcement" feature useful.

[2020-08-19 15:31] jithinlal commented on #165
where is this located on the code ?

[2020-08-19 16:01] jithinlal opened #178 "Add manually button not working on the create queue page."
Seems like the add manually button below the create queue page is useless. Not able to add a number or a name

[2020-08-19 16:16] daltonfury42 commented on #178
Yes, we have not completed this yet. This is one task.

[2020-08-19 16:52] jithinlal commented on #178
@daltonfury42 , i have fixed this bug for now, and I will try to make this into a common component. But please merge my older PR or reject it, so that I can create another PR for this one

[2020-08-19 17:18] maaverik commented on #165
The code is referenced in this PR: https://github.com/SimplQ/simplQ-frontend/pull/132/files. @daltonfury42, could you elaborate on what you mean exactly here?

[2020-08-19 17:25] maaverik commented on #165
https://github.com/SimplQ/simplQ-frontend/blob/new-frontend/simplq/src/components/common/NotificationButton.jsx this is the main file with the logic. It's supposed to be used in the queue status page for the queue members to be notified, but I don't see it being used there right now. @thehamzarocks @daltonfury42, did we remove it by accident or was there a reason it was removed?

[2020-08-19 17:35] daltonfury42 commented on #165
I didn't intentionally move it... @thehamzarocks was also asking... so it was removed by mistake... for this task, I can give a rough idea now, but if a more detailed design is required,  I'll take a look during the weekend.

Basic idea is, we would be better off creating a NotificationService outside of react, which exposes two functions:

1) askUserForPermission() -> Asks for permission if permi

[2020-08-19 17:37] maaverik commented on #165
Okay, I'll add it back. Maybe I removed it by accident when I refactored the status pages.

[2020-08-19 17:46] maaverik commented on #165
@jithinlal If this doesn't seem interesting to you, you could look at #150. It's a relatively tougher task, but you could start doing small parts of it.

[2020-08-19 18:09] maaverik opened #180 "[Design] Notifications button placement"
Right now, I've placed the notification button below the status container. The refresh and queue buttons will be removed soon following the design, but where should we place the notification button. It need not be a button either, we just need to show an option that the user intuitively understands.

![Screenshot from 2020-08-19 23-25-33](https://user-images.githubusercontent.com/12583528/90673311

[2020-08-19 18:10] #94 closed

[2020-08-19 18:22] #153 closed

[2020-08-20 16:07] jithinlal commented on #171
created a PR on this. Please check.

[2020-08-22 19:49] navaneeth-spotnana opened #183 "Call button in Admin Page"
@akashkbaburajan We are not letting the admin call the user... we should have a call button, I feel.. like the the old UI..

The privacy concern that Edwin had raised, I feel we can ignore for now... what do you think?

[2020-08-22 19:49] #183 closed, assigned to nobody

[2020-08-22 19:51] daltonfury42 opened #184 "Call Facility From Admin Page"
We are not letting the admin call the user... we should have a call button, I feel.. like the the old UI..

The privacy concern that Edwin had raised, I feel we can ignore for now... what do you think?

[2020-08-22 20:02] #26 closed, assigned to nobody

[2020-08-22 20:11] maaverik opened #186 "Replace buttons with icons on status page UI"
The refresh and leave queue options in the status page are accessible by buttons right now. They need to be replaced by icons as shown here: https://xd.adobe.com/view/5b8cc4d6-174a-48f4-53fa-5088ed723862-2dbd/screen/af56beb9-338f-47cb-acec-a02cffdcde96/

The contact admin icon can also be added even though it doesn't have any functionality right now.

[2020-08-22 20:12] maaverik opened #187 "Queue history for admin"
A log of the history of the queue has to be added in the admin page: https://xd.adobe.com/view/5b8cc4d6-174a-48f4-53fa-5088ed723862-2dbd/screen/2fbb3e31-1e3a-4eab-ac2f-7d7f2247f6b3/specs/

[2020-08-22 20:20] #55 closed, assigned to maaverik

[2020-08-22 21:11] daltonfury42 opened #188 "Admin Page Items on hover should have a nice transition"
![image](https://user-images.githubusercontent.com/11256376/90965908-1b511400-e4ea-11ea-9a49-e466eec8f3e3.png)

I am liking this... can we do something like this for our queue list?

[2020-08-23 11:51] maaverik opened #190 "Format the phoneInput component"
The flag in the phoneInput component in the join page is messed up. Adding an arbitrary padding value to the exact dropdown button fixes it in the dev tools panel, but getting the right class to add it in the code is tricky.

Also, the border color is wrong. I'd also prefer the phone input heading to be removed.

[2020-08-23 12:30] daltonfury42 opened #191 "Consistant sitewide margin"

[2020-08-23 16:46] daltonfury42 opened #193 "Style the 404 Page"
Add a link to report the issue on github too, in addition to a nice 404 page

[2020-08-23 19:12] #93 closed

[2020-08-23 19:17] rohitjethoe commented on #193
Hi @daltonfury42 , I could work on this issue.

[2020-08-23 19:29] maaverik commented on #193
Sure, go ahead. Do you have some design in mind for the page?

[2020-08-23 19:34] rohitjethoe commented on #193
@maaverik I'll send a screenshot of it if i've made a mockup of it in figma.

[2020-08-23 19:56] maaverik opened #195 "Vertically center the 404 page"
The PageNotFound component does not take up the entire html page and hence is not vertically centered. The goal is to get the content to show up at the center of the screen vertically and horizontally.

[2020-08-24 18:31] rohitjethoe commented on #193
Hey @maaverik , I've made a mockup and my question was if it looks good to you. I also think the website needs a footer because it will make the homepage and 404 page look better.

Screenshot(s) of mockup:

<img width="832" alt="mockup" src="https://user-images.githubusercontent.com/69147709/91082148-86186180-e648-11ea-9524-fd561af38097.png">

[2020-08-24 19:07] maaverik commented on #193
It looks good Rohit. A few things to note, we're ditching the old design we had, so the color and the button style will be a bit different from this mockup. Take a look at https://new.simplq.me and https://new.simplq.me/123 to see what we have now. We also won't need the blue bar on the top. The design we're following is this: https://xd.adobe.com/view/8d227f50-0d35-4319-63ad-ff4bad308415-fb13/, s

[2020-08-24 19:09] maaverik commented on #193
If you need help with anything, just post it here. We'll respond soon.

[2020-08-24 19:59] daltonfury42 commented on #193
@rohitjethoe Feel free to innovate, what do you think about this?

![image](https://user-images.githubusercontent.com/11256376/91090104-33ec3600-e672-11ea-808e-1153d365d155.png)

Also, you can go to https://undraw.co/search and search for 404, you'll fine nice SVGs... try fitting one of those into your page, (maybe between SimplQ and the subtile)

[2020-08-24 20:02] rohitjethoe commented on #193
my opinion: Undraw isn't very professional (anymore). It's to fast and easy. I would suggest making your own illustration or else find less popular ones. The rest looks good.

[2020-08-24 20:05] daltonfury42 commented on #193
True... My plan is to use undraw for fast prototyping, and replace all illustrations in one go with something less mainstream. In the below one, the whitespacing is messed up... but somewhat close to what I have in mind:

![image](https://user-images.githubusercontent.com/11256376/91090628-00f67200-e673-11ea-8db3-20650382126a.png)

[2020-08-24 20:06] maaverik commented on #193
The only thing I dislike about this is the simplq heading. It looks too much like the homepage. If it's at least smaller, it would look better imo.

[2020-08-25 15:47] daltonfury42 commented on #193
Yes. Maybe smaller (one third current size) and positioned at top right corner? then 404 image can move up and spacing can be increased between the image, the subtitle and the buttons.

[2020-08-26 11:50] maaverik commented on #193
That sounds like it'll look good. @rohitjethoe could you think about what variation would look best? If you have other ideas or pictures we could use, let us know.

[2020-08-27 18:21] #195 closed

[2020-08-29 10:31] daltonfury42 opened #198 "Can we have a "Star us on github" link somehere?"
<img width="1585" alt="Screenshot 2020-08-29 at 11 59 58 AM" src="https://user-images.githubusercontent.com/11256376/91634780-a6fa0180-ea10-11ea-8272-b27cba9cdbdd.png">

https://buttons.github.io/

[2020-08-29 11:03] akashkbaburajan opened #200 "Move queue history to Queue Settings page"
The queue history need not be in queue admin page but instead in queue settings page - Reason being
1. You dont want to clutter queue admin page with a lot of information
2. Queue history is not a critical functionality which needs to be on the main page.
![Queue History in Queue Admin Page](https://user-images.githubusercontent.com/16539463/91635334-62249980-ea15-11ea-90cd-02cc32a9180a.png)

[2020-08-29 11:13] daltonfury42 commented on #200
hmm. I am of the opinion that the expansion panel, which will be closed by default, should be fine.

[2020-08-29 11:38] akashkbaburajan commented on #200
naa... i think having it separately will be cleaner. Updated design - https://xd.adobe.com/view/99a3a298-8f0c-468a-6cf3-614e96f6f9f5-ef92/
![Queue History](https://user-images.githubusercontent.com/16539463/91635937-32c45b80-ea1a-11ea-8ea0-e41cc422c3cc.png)
![Queue Settings](https://user-images.githubusercontent.com/16539463/91635938-33f58880-ea1a-11ea-95c8-119bd57513b8.png)

[2020-08-29 12:30] akashkbaburajan commented on #184
Yes, I agree. This will need a new design of the User Tile on Queue Admin page. I have made a new one with the following things in mind:
1. It should not be cluttered.
2. It should have all the basic functionalities that we need -> Call, Notify, Delete

The different states of old user tile.
![Old User Tile](https://user-images.githubusercontent.com/16539463/91636848-7373a300-ea21-11ea-9880-7a7ce0

[2020-08-29 12:52] navaneeth-spotnana commented on #184
This is really nice.. especially the rearrangement involving the token number.

I'm not a big fan of our "x" button. Keeping it inside the tile will keep it cluttered.. can we somehow keep it outside and bigger, what do you think?

[2020-08-29 13:14] akashkbaburajan commented on #184
Awesome, a little bigger "X" button is doable 👍

[2020-08-29 13:17] daltonfury42 commented on #200
I'm a bit concerned about how things will turn out on desktop... all the above screens look good on mobile screens, but we should not be allocating a page per each of these, and it will look bad on bigger screens.

[2020-08-29 13:26] daltonfury42 commented on #200
I'm strongly in for keeping the live queue, live history, pause/delete queue button and all directly visible on the admin page. and somehow intelligently designed so that they will arrange themselves well between mobile and desktop...

1) There could be things side by side on bigger screen, and then will go down into one item per row on mobile.

2) We should not hide these stuff behind other scree

[2020-08-29 13:29] daltonfury42 commented on #200
Rough idea about what I mean, things should automatically wrap down on small screens. On deskop, we would have two things side by side, and on mobile they will all be on single line.

![image](https://user-images.githubusercontent.com/11256376/91637963-b76aa600-ea29-11ea-96d0-68092fa534d7.png)

[2020-08-29 13:32] daltonfury42 commented on #200
Think UX... reduce clicks as much as possible... if everything is available on the admin dashboard, no need to click around... Here to see the queue history the user would have to do three clicks... Lets discuss on call

[2020-08-29 13:50] daltonfury42 commented on #184
Can we have a 90 degree rotated remove notch like this (rough diagram) on the right side of the tile:

![IMG_20200829_191543](https://user-images.githubusercontent.com/11256376/91638345-95beee00-ea2c-11ea-9928-aa9e9700d5e4.jpg)

Of some different color but not too bright..

[2020-08-29 13:59] daltonfury42 commented on #200
![image](https://user-images.githubusercontent.com/11256376/91638449-58a72b80-ea2d-11ea-86d1-eda7bf9d9e8a.png)

I was just studying the github issues page... The main thing about the issue page is the discussion that happens on the middle, and takes 50% of the width, 30% is other controls (assignees, labels etc), and remaining 20% is margin. We should utilise screen real estate.

Now open the same

[2020-08-29 21:25] daltonfury42 opened #201 "[Technical]Explore and integrate sentry"
https://sentry.io/

[2020-08-30 07:09] maaverik commented on #201
I'll look into this. It seems interesting.

[2020-08-30 09:53] daltonfury42 commented on #201
Yes, it might be useful for us. They have a free plan that might suit our
needs too

On Sun, 30 Aug, 2020, 12:40 pm Nithin Jose Tom, <notifications@github.com>
wrote:

[2020-09-01 16:07] sajmalyousef opened #204 "Admin Dashboard - Copy and Refresh Button Placement"
![A1D5750A-3A15-4386-B6D5-8D7330410F49](https://user-images.githubusercontent.com/13188906/91877077-2995f180-ec9b-11ea-873b-a0fbb7451964.jpeg)

Redesigning share link , since we’re technically just copying . Refer bit.ly

[2020-09-01 19:28] daltonfury42 commented on #204
+1

[2020-09-02 08:11] maaverik commented on #204
I prefer not showing the actual link, just a copy button. The refresh button can be next to it too as suggested. So, in effect it would be just changing the text of the share button we have right now to something like 'Click to copy link' which could change to say Link copied for about 5 seconds or so after clicking.

[2020-09-02 08:47] sajmalyousef commented on #204
https://blog.prototypr.io/3-ways-to-copy-to-clipboard-5077f5774b55 , there are 3  designs suggested here. And I see a very valid point .
"While adding a button is a good option, it requires the user to learn and follow a new procedure. In addition, there’s not a widely recognized icon for copying to clipboard, which can make it difficult to spot the functionality. "
And lets give the option to the

[2020-09-02 19:43] MehmetFiratKomurcu commented on #136
Hey @maaverik , I'm trying to do this issue but I'm stuck with somewhere. I created a PR for you to detect my fault. Could you review and help me what is the problem? Thanks.

[2020-09-03 17:14] #162 closed

[2020-09-05 09:16] daltonfury42 opened #207 "Website Roadmap"
Design prototype: https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/

Presented, roughly, as a linear priority list, but in reality quite a lot are interlinked and so can be worked on concurrently.

[2020-09-05 09:30] daltonfury42 opened #208 "[HomePage] Landing Section (Without Navbar)"
![image](https://user-images.githubusercontent.com/11256376/92302173-98b76280-ef87-11ea-8ccb-ab55a561b22b.png)

When homepage is visited, the user should be presented with what is in the image above. Upon scrolling down, other contents in the page will come, but this should be the exact view when the user lands on the page, independent of the screen height.

1. The curved violet area in the bottom

[2020-09-05 09:36] daltonfury42 commented on #207
**Home Page**

![image](https://user-images.githubusercontent.com/11256376/92302059-9ef90f00-ef86-11ea-90a3-fdf7e5767f49.png)

* [ ]  Home page - Without the navbar (https://github.com/SimplQ/simplQ-frontend/issues/208)

[2020-09-05 16:27] daltonfury42 opened #209 "[HomePage] Why Simplq Redesign"
This section of the homepage currently looks like below:

![image](https://user-images.githubusercontent.com/11256376/92309315-1d26d700-efc2-11ea-9a5e-a23892aad858.png)

In the new design it will be changed to:

![image](https://user-images.githubusercontent.com/11256376/92309296-ff597200-efc1-11ea-8719-c0fe384e87d1.png)

1. On wider screens the three cards will be on a single row, but on screen w

[2020-09-05 16:41] daltonfury42 opened #210 "[HomePage] Create Queue and Join Queue "How To" Section Redesign"
In the current homepage, on scrolling down, there is a slider titled "Create a Queue at the click of a Button":
![image](https://user-images.githubusercontent.com/11256376/92309569-53655600-efc4-11ea-89ca-96718cf70684.png)

The slider can be removed, and then replaced with three cards like this:

![image](https://user-images.githubusercontent.com/11256376/92309578-6d069d80-efc4-11ea-9474-26991d558

[2020-09-05 16:51] daltonfury42 opened #211 "[HomePage] Features Section Redesign"
Our features Section looks like this currently:

![image](https://user-images.githubusercontent.com/11256376/92309776-01bdcb00-efc6-11ea-9e11-a8acf5a91a55.png)

Transform it into:

![image](https://user-images.githubusercontent.com/11256376/92309789-15693180-efc6-11ea-9356-d7c163ca8f14.png)

Design: https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/

[2020-09-05 17:11] daltonfury42 opened #212 "[HomePage] Add footer section at the End"
![image](https://user-images.githubusercontent.com/11256376/92309837-7c86e600-efc6-11ea-97a5-d0b0b38a6361.png)

https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/

[2020-09-05 17:31] daltonfury42 opened #213 "Curved Divs For New Homepage"
As per the new design, there are two curved divs on the homepage. Should be doable with some SVGs.

https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/

A tutorial which might help: https://redstapler.co/curved-custom-shape-div-css-svg/

[2020-09-05 17:37] #200 closed

[2020-09-05 17:37] daltonfury42 commented on #200
Addressed in new design

[2020-09-05 17:40] daltonfury42 commented on #204
This was a good idea, but later on, the new button in the latest design was also looking good.

@sajmalyousef What do you think we should do? Can we leave it as is in the new design or you think we need to change?

[2020-09-05 17:41] daltonfury42 commented on #191
Closing as current design is looking good.

[2020-09-05 17:44] daltonfury42 commented on #187
Let's revisit this feature after we implement the new design. I think this is a feature we can build at the end, once the core features are done. What do you say?

[2020-09-05 17:45] #191 closed

[2020-09-05 17:49] daltonfury42 commented on #210
Should these cards lift up on hover as is suggested in https://github.com/SimplQ/simplQ-frontend/issues/188 ?

[2020-09-05 17:49] #184 closed

[2020-09-05 17:57] daltonfury42 opened #214 "[HomePage] Implement Homepage Navbar"
Design: https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/fe137c74-d5e2-4fe1-af85-10877cc560b8/

![image](https://user-images.githubusercontent.com/11256376/92310735-c83d8d80-efce-11ea-9fe3-92643e13571c.png)

1. This navbar is specific to the home page.
2. My Queues and SignIn/SignUp need not be implemented right now
3. The navbar should be responsive. On mobile it should

[2020-09-05 18:07] #188 closed

[2020-09-05 18:07] #168 closed

[2020-09-05 18:07] #167 closed

[2020-09-05 18:08] #154 closed

[2020-09-05 18:10] daltonfury42 commented on #147
@maaverik is this email ID created?

[2020-09-05 18:10] #142 closed

[2020-09-05 18:10] #137 closed

[2020-09-05 18:10] daltonfury42 commented on #136
@m

[2020-09-05 18:10] #136 closed

[2020-09-05 18:11] daltonfury42 commented on #121
Covered in new design

[2020-09-05 18:11] #121 closed

[2020-09-05 21:48] daltonfury42 commented on #213
Raised PR #216 for the landing page div

[2020-09-06 07:56] maaverik commented on #147
Not yet. Which one do we want? Gmail doesn't seem to allow words like support or admin in the email ids anymore.

[2020-09-06 08:34] daltonfury42 commented on #147
Anything is fine with me

On Sun, 6 Sep, 2020, 1:26 pm Nithin Jose Tom, <notifications@github.com>
wrote:

[2020-09-06 10:22] maaverik commented on #147
How about just team.simplq@gmail.com?

[2020-09-06 14:24] thehamzarocks opened #221 "[Technical]Responsiveness Issue on low viewport height"
![image](https://user-images.githubusercontent.com/12778300/92327916-a0a3ff00-f07a-11ea-9b39-cecf7f1dbf85.png)

The icons and buttons overlap when the height is low

[2020-09-06 16:37] MehmetFiratKomurcu commented on #212
Hi @daltonfury42, I'm trying to do this issue, this is how it's looking currently:
![image](https://user-images.githubusercontent.com/26375064/92330533-25d9e480-f078-11ea-987d-93f836152f95.png)
I wanted to ask that do you have that SimpleQ with people picture svg file, because currently mine is(the one with red square) a screenshot from your design. Thanks.

[2020-09-06 16:48] daltonfury42 commented on #212
If you go to the design, on the right side there is a `</>` button. When you click on it, all the assets are available on the right pane:

![image](https://user-images.githubusercontent.com/11256376/92330718-bc190500-f08e-11ea-9cf6-81ecb7b66311.png)

You can click on the asset and download the SVG:

![image](https://user-images.githubusercontent.com/11256376/92330731-d521b600-f08e-11ea-8422-79e259

[2020-09-06 17:10] MehmetFiratKomurcu commented on #212
Didn't know that feature, thank you!

[2020-09-06 18:23] daltonfury42 commented on #147
Yeah, looks decent

On Sun, 6 Sep, 2020, 3:52 pm Nithin Jose Tom, <notifications@github.com>
wrote:

[2020-09-06 18:36] maaverik commented on #147
It's created.

[2020-09-07 20:48] maaverik commented on #208
The input field and the buttons are unreachable right now due to the placement of the CreateJoinForm. I believe we need to sort out the positioning to fix this.

[2020-09-08 06:21] daltonfury42 commented on #208
Yeah, I had made only the react component level changes. We need to make
the CSS changes.

I just tried on mobile, and it's totally screwed up. 😅

On Tue, 8 Sep, 2020, 2:19 am Nithin Jose Tom, <notifications@github.com>
wrote:

[2020-09-09 18:50] maaverik opened #222 "[Technical]Research if we should migrate to partial server side rendering"
We have a client-side rendered app right now and from what I understand, SEO and social media sharing doesn't work very well with client-side rendered JS apps yet. It might be a good idea to at least partially move our app to an SSR model. We could maybe have just our homepage pre-built and sent from the server. This would speed up load times and help with SEO. More research is needed on if this i

[2020-09-09 19:13] maaverik commented on #201
I can't test this out while running it locally. I'll research a bit more and try pushing the changes soon to see if it actually runs as expected.

[2020-09-09 19:14] daltonfury42 commented on #222
Yes this is a really good idea, we should serve our homepage as a static site. How about we complete development of homepage in this repo and simple move it into the backend? Backend can serve it as a static html file.

I don't think we should rewrite our entire backend for this, though. Gain to effort ratio is very low. We would have to one of these frameworks, and also, it's not as mainstream/po

[2020-09-09 19:20] maaverik commented on #222
There's no need to rewrite the backend. If we are using a framework like next, it would run as a separate service from our java backend, only handling serving the frontend (essentially replacing node in the browser) as far as I understand. But it might be overkill for us since our homepage just has two buttons and no other dynamic stuff. We could just rewrite it with pure HTML once we're done and

[2020-09-09 19:56] daltonfury42 commented on #222
Now I'm wondering if we should wait till we make the home page and then migrate to html... I think it's better that we do it now itself...

I think once it's a static HTML file, we can also leverage bootstrap for two reasons (not fully convinced, we should think more):

1) Responsiveness
2) They have a good navbar, that is responsive and would reduce to hamburger (sidebar) on mobile.

What do you

[2020-09-09 21:59] maaverik commented on #222
I'm with you on that. Moving it now makes more sense. We could just continue to make the changes after making the page static. It's all css changes anyway. I'm not sure it'll be quite that easy to just replace the public html file we have right now with a static one and still have all our react code work fine though. We'll need to figure out how to best do that.

The browser has to load this stati

[2020-09-10 05:51] daltonfury42 commented on #222
It's theoretically possible. Let try check this weekend.

On Thu, 10 Sep, 2020, 3:30 am Nithin Jose Tom, <notifications@github.com>
wrote:

[2020-09-10 10:20] daltonfury42 commented on #222
On quick look, Gastby looks very interesting. @maaverik can you do some experiments on it for simplq, in a new branch? We could try it out, and then decide if we should use it.

[2020-09-10 16:54] maaverik commented on #222
Okay

[2020-09-10 19:01] #204 closed

[2020-09-10 19:19] sajmalyousef opened #223 "[Queue Admin dashboard] Modify existing share link button as per the new design"
#207 Refer this issue for the detailed roadmap

Position the "Copy queue link"  button adjacent to Queue name as per the [design](https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/fe137c74-d5e2-4fe1-af85-10877cc560b8)

1. User clicks on the below button to copy the queue link
![image](https://user-images.githubusercontent.com/13188906/92788768-da9d3a00-f3c7-11ea-9a24-61023

[2020-09-10 19:56] daltonfury42 commented on #222
A concern from my side is, we should not mix multiple technologies together unless there is a strong need to do so.

For example, if I am building a big application, I don't want some parts to be on react, some on angular and some on a totally different technology. Even if it's technically possible to do that, we shouldn't unless there is a strong reason to mix them.

Another example is, if you ar

[2020-09-10 20:02] daltonfury42 commented on #222
https://youtu.be/j6ow-UemzBc?t=221 See a minute on this point, this is one reason I don't feel excited to introduce a new framework.

[2020-09-12 13:40] MehmetFiratKomurcu commented on #212
Hey, I need help with this issue.
1- I cant commit because I added an svg images (SimpleQnewlogo) and don't have permission to add new file
2- Have issues with responsiveness (I'm trying to align "open source" and "keep in touch" headers with SimpleQ text, that could be the problem, not sure)

this is the current version:
![image](https://user-images.githubusercontent.com/26375064/92996730-7dfc650

[2020-09-12 17:24] maaverik commented on #212
That's weird. What error do you see? Can you post a picture? Does it show up when you try to commit or when you try to push?

[2020-09-12 20:11] daltonfury42 commented on #212
Hi @MehmetFiratKomurcu you will have to push to your fork, and then raise a PR from there.

Also, in the footer for Gmail, give an anchor `mailto:contact@simplq.me`
For youtube, you can give https://www.youtube.com/channel/UCAb9PSXvrGZ4vvSneK1Nrow
For Medium: https://medium.com/@raimazach/virtualizing-queues-a-long-overdue-alternative-to-physical-queues-bfdc4b51070f
For Facebook: https://www.faceb

[2020-09-12 20:12] daltonfury42 commented on #147
I created the email contact@simplq.me I'll send a request, to add you also into the forwarding list

[2020-09-13 20:53] daltonfury42 commented on #172
Just noticed today that AmplifyAppId is already exposed by amplify in autogenerated urls when you have not configured a domain name:

![image](https://user-images.githubusercontent.com/11256376/93028373-34546d00-f631-11ea-89f0-f8f0df031095.png)

So I guess it's safe to make it public.

[2020-09-19 19:28] daltonfury42 commented on #208
Done

[2020-09-19 19:28] #208 closed

[2020-09-19 19:29] daltonfury42 commented on #209
Done

[2020-09-19 19:29] #209 closed

[2020-09-20 04:08] daltonfury42 commented on #210
Proposal: We should replace with cards as above only bigger screens. On mobile, the slider might be better.

Rationale: Otherwise, on mobile it would be 8 cards coming on 8 line. It will be long and repetitive scroll.

We could explore [react-responsive](https://www.npmjs.com/package/react-responsive) for achieving this.

https://medium.com/@kkomaz/react-responsive-its-pretty-cool-d61e5ed56d95

[2020-09-20 12:10] maaverik commented on #221
This is fixed now.

[2020-09-20 12:10] #221 closed

[2020-09-20 14:02] daltonfury42 opened #242 "Admin Dashboard - Skeleton"
Our current admin page layout looks like this:

![image](https://user-images.githubusercontent.com/11256376/93713149-ab30bf00-fb77-11ea-9a70-195565905d2a.png)

We need to change to

![image](https://user-images.githubusercontent.com/11256376/93713108-8dfbf080-fb77-11ea-9228-b34654962a53.png)

We need to rewrite the component hierarchy, a proposed hierarchy is:

[code]

[2020-09-20 14:05] sajmalyousef commented on #207
**Admin Page**
![image](https://user-images.githubusercontent.com/13188906/93702523-da720c80-fb34-11ea-8bf4-da2e0a771e21.png)

- [ ] Skeleton (basic design of the page)
- [ ] Styling navbar
- [ ]  Modify share button (https://github.com/SimplQ/simplQ-frontend/issues/223)
- [ ] Styling Header section
- [ ] Add manually
- [ ] Token
- [ ] Resume/pause
- [ ] Delete
- [ ] Warning ribbon

[2020-09-20 14:07] daltonfury42 commented on #242
@maaverik I think we are better off creating our own simple navbar, and header inside the `admin/` folder, than reuse from `component/`.

What do you suggest?

[2020-09-20 17:41] maaverik commented on #242
The header is unique to this page, so I agree. But the Navbar can be reused, right?

[2020-09-20 17:59] daltonfury42 commented on #242
@akashkbaburajan was planning a different navbar... Not sure if we gain a lot by reusing them... I think you can take the call when implementing

[2020-09-20 18:00] daltonfury42 commented on #242
In case of admin page, the navbar is mostly just a whilte div, with SimplQ at left, and Sign In at right

[2020-09-20 18:38] maaverik commented on #242
Okay

[2020-09-20 20:57] daltonfury42 commented on #210
Hmm... I want to reduce the number of cards we have on our page. We have 3 rows of cards, total 8 of them.

Can we reduce them... I think we have too much.. Rather than 8 cards, we should just show 4-5 "to the point" ones... We don't have 8 points to convey.

cc: @sajmalyousef @akashkbaburajan @maaverik

[2020-09-20 21:18] daltonfury42 commented on #210
We can have one row of cards, remaining, we should have maybe a non card svg and two lines of text side by side

[2020-09-21 12:06] daltonfury42 commented on #210
Another layout idea
![Uploading Screenshot 2020-09-21 at 5.35.12 PM.png…]()

[2020-09-21 12:12] akashkbaburajan commented on #210
Yea that's a very valid point. There are just too many cards in the new home page. I'll update the design with the suggestions you have provided

[2020-09-21 16:11] akashkbaburajan opened #249 "Icon Misalignment on Mobile"
New UI - https://mehmet.simplq.me/
There is abnormal amount of space when you take desktop view from mobile.
![Screenshot_20200921-194314](https://user-images.githubusercontent.com/16539463/93792390-1ac7ac80-fc53-11ea-86af-8a2049fd6b31.jpg)

The images and text of the features section are kinda misaligned
![Uploading Screenshot_20200921-194337.jpg…]()

[2020-09-21 16:19] daltonfury42 commented on #249
1) Desktop view from mobile - I'm not very sure if we should handle that.
2) The misalignment, we can fix.

[2020-09-21 20:35] sajmalyousef opened #250 "Show Proper Error Message on Queue Name Already Taken"
When a queue name is given at home page for creating a new queue, if that name is already taken, currently we respond with "An error occured. Please Try again". Instead a proper error message should be displayed.

[2020-09-22 16:07] arkumari2000 commented on #214
Hello,
I want to give it a try.
please help me how can I move forward?

Thank you

[2020-09-22 16:09] arkumari2000 commented on #211
Hello,
I will be happy to do this.
please assign me this issue.

Thank you

[2020-09-22 18:35] maaverik commented on #211
Hi @arkumari2000, this item has already been taken care of. Take a look at https://new.simplq.me. The latest code is running here. So closing this item.

[2020-09-22 18:35] #211 closed

[2020-09-22 18:39] maaverik commented on #214
Hi @arkumari2000. This item involves creating a new component for the navbar which would go inside simplQ-frontend/simplq/src/components/pages/Home/. The related styling to use should go in  simplQ-frontend/simplq/src/styles/homePage.module.scss as new appropriately named classes. To begin with, please go through these files and this [readme](https://github.com/SimplQ/simplQ-frontend/blob/new-fron

[2020-09-22 18:43] maaverik commented on #249
I don't see any problems on normal mobile view and I agree with @daltonfury42 that desktop view from mobile isn't something we should spend time on thinking about compatibility because it's very rarely used and it's very possible that it'll end up breaking something on normal desktop or mobile view.

[2020-09-22 18:48] maaverik commented on #213
This is completed, right?

[2020-09-22 19:01] maaverik commented on #214
Just to add, if you're new to web dev or react, start by googling 'How to build a responsive navbar in react', see how much you can understand from the first few links, and we can go from there.

[2020-09-22 19:53] daltonfury42 commented on #249
This issue is reproduce on Mehmet's branch. I've asked him to take a look.
Otherwise we can confirm and fix once we merge his PR

On Wed, 23 Sep, 2020, 12:14 am Nithin Jose Tom, <notifications@github.com>
wrote:

[2020-09-22 20:19] daltonfury42 commented on #213
According to our current design, there is one more curved div. But @akashkbaburajan would revisit this section, so let's keep this task on hold.

[2020-09-22 20:26] daltonfury42 commented on #214
Let's break this task into two PRs.

Start with a very simple non-responsive navbar. Just a white div with the Icon, Home, How It Works and Contact Us link would do.

You can then work on responsiveness in a follow up PR or work on another task.

[2020-09-23 04:34] arkumari2000 commented on #214
Thank you. I will try this and if something will come up I will inform.

[2020-09-23 04:36] arkumari2000 commented on #214
Thank you for assigning me and breaking PR into two tasks.
I am trying and if I will get success I will inform you.

[2020-09-23 07:27] arkumari2000 commented on #214
Hello,
I am trying to run this project and it is showing this error. I have searched a lot and removed and reinstalled npm but still it's not working.
Can you help me with this?
![Screenshot from 2020-09-23 12-55-55](https://user-images.githubusercontent.com/48750169/93980492-528e3b80-fd9c-11ea-8aa2-42acee99e103.png)

[2020-09-23 08:02] daltonfury42 commented on #214
Run this to see if the error went away:
[code]

If it did, you can make it permanent:
[code]

This is because CRA/React watches a lot of files, and this exceeds the max file watch limit in linux. https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers#the-technical-details

[2020-09-23 08:16] arkumari2000 commented on #214
@daltonfury42  Thank you, it worked.

[2020-09-23 09:21] sajmalyousef opened #251 "[Admin Dashboard] Header Section Styling"
Header section on the QueueAdmin page should look like below.

![image](https://user-images.githubusercontent.com/11256376/94363282-c010d380-00de-11eb-8468-606985cfea72.png)

1) The nav-bar is just a simple white div with the SimplQ+icon on the right side. Clicking on the icon should take the user to the home page.
2) Ignore `Sign Up/Sign` and the queue description below the title, it can be added

[2020-09-23 09:50] daltonfury42 commented on #250
I'll take it up, this would require backend changes

[2020-09-23 10:15] sajmalyousef opened #252 "[Design] Redesign fork on github ribbon"
Incorporate a contribute on github button.

![image](https://user-images.githubusercontent.com/13188906/93999398-62fde080-fdb3-11ea-89f1-7ae25fb012c4.png)

Refer this for a better idea.
https://www.coronawarn.app/en/

I was thinking of keeping it in the navbar

[2020-09-23 20:15] daltonfury42 opened #257 "[Proposal] Andoid/iOS Companion App to Sent SMS"
#### Usecase

Sending SMS to the people in the queue when they are added to the queue, and when their turn is up, will be a value adding feature.

We had explored paid SMS services and have realised:

1. SMS would incur costs for us, and will be come an expensive resource.
2. We would then have to limit the usage, or make it a paid feature, but we want to keep this free.
3. Global SMS delivery wil

[2020-09-23 20:25] daltonfury42 commented on #257
Actually thinking more, if we ever built an app, this might be a solved problem. We can send SMS from the device on join/turn

[2020-09-23 20:32] daltonfury42 commented on #257
Or we could write a companion app that will just listen for system notification and send SMSes.. there could be ways around to solve this problem

[2020-09-25 06:27] lukigarazus commented on #190
I guess this issue is no longer valid?
![Screenshot from 2020-09-25 08-20-38](https://user-images.githubusercontent.com/32484818/94233857-e250f880-ff08-11ea-8440-6a1d0d141ec7.png)

[2020-09-25 06:48] daltonfury42 commented on #190
Hi @lukigarazus we ran out of ready to take issues over last few days. This task is better taken after we have the basic admin page layout done. The weekend is here, and we will plan the admin page and create the next bunch of tasks.

This is a priority task to that we need to take up https://github.com/SimplQ/simplQ-frontend/issues/193 Do you want to take this up in the meantime?

[2020-09-25 06:56] lukigarazus commented on #251
I can handle this one

[2020-09-25 06:59] #201 closed

[2020-09-25 07:00] daltonfury42 commented on #251
This is blocked on https://github.com/SimplQ/simplQ-frontend/issues/214

We will refactor #214 to handle admin page once that is done.

[2020-09-26 19:02] daltonfury42 commented on #249
Not able to reproduce on main branch post merging. Closing, we can reopen if it comes again

[2020-09-26 19:02] #249 closed

[2020-09-27 07:16] akashkbaburajan commented on #180
![Adobe XD 27-09-2020 12_44_55](https://user-images.githubusercontent.com/16539463/94358516-49181280-00bf-11eb-9192-3ac46c0e9c71.png)
The updated design takes care of that. has a nice toggle option for enabling or disabling notification.

[2020-09-27 07:17] akashkbaburajan commented on #198
![Adobe XD 27-09-2020 12_47_00](https://user-images.githubusercontent.com/16539463/94358550-8ed4db00-00bf-11eb-8820-02b950b2934f.png)
I have put this on our new design footer

[2020-09-27 07:17] #198 closed

[2020-09-27 07:18] akashkbaburajan commented on #125
![Adobe XD 27-09-2020 12_44_55](https://user-images.githubusercontent.com/16539463/94358570-b330b780-00bf-11eb-817e-0372f7e9a369.png)
incorporated this idea in new design

[2020-09-27 07:18] #125 closed

[2020-09-27 07:21] akashkbaburajan commented on #210
Updated the "Why SinplQ" ang "How To" sections of home page.
removed boxes of the tiles in "Why SimplQ" section
![Adobe XD 26-09-2020 19_59_07](https://user-images.githubusercontent.com/16539463/94358626-0c005000-00c0-11eb-9ea0-bb61707d9a0c.png)

revamped the "How To" section to not have tiles.
![Adobe XD 26-09-2020 19_58_49](https://user-images.githubusercontent.com/16539463/94358640-1d495c80-00c

[2020-09-27 09:46] #212 closed

[2020-09-27 11:10] daltonfury42 commented on #251
Hi @lukigarazus Would you like to take this up? I've edited the description to make the task more clear.

Also it might be a good idea to take up https://github.com/SimplQ/simplQ-frontend/issues/223 before coming to this.

[2020-09-27 11:31] daltonfury42 opened #264 "[AdminDashboard] Tokens"
The admin Page Tokens has to be updated to the new design.

Currently each token looks like this:

![image](https://user-images.githubusercontent.com/11256376/94363851-b6896a80-00e2-11eb-9e55-5a82b0a1d87b.png)

It should look like this:

![image](https://user-images.githubusercontent.com/11256376/94363606-f3ecf880-00e0-11eb-8515-08de467e5200.png)

Note: During Development, to create tokens in the

[2020-09-27 11:39] daltonfury42 opened #265 "[Home] Redesign Why SimplQ"
The Why SimplQ section on the homepage looks like this currently:

![image](https://user-images.githubusercontent.com/11256376/94364046-2ba96f80-00e4-11eb-94c5-547fff1ccbe8.png)

Remove the boxes and background color to make it look like this:

![image](https://user-images.githubusercontent.com/11256376/94364001-dff6c600-00e3-11eb-9f85-84cf50f1ab02.png)

[2020-09-27 13:47] #213 closed

[2020-09-27 14:30] daltonfury42 commented on #193
Final Design:

![image](https://user-images.githubusercontent.com/11256376/94367380-f872da80-00fb-11eb-83f3-308c6d0996c6.png)

Design: https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/3ce6558d-f906-44f2-8860-3487ee917c98

[2020-09-27 14:30] daltonfury42 commented on #193
@rohitjethoe are you still interested in taking this up?

[2020-09-27 16:55] daltonfury42 commented on #250
This is resolved.

[2020-09-27 16:55] #250 closed

[2020-09-27 17:46] #265 closed

[2020-09-27 18:14] arc30 commented on #193
A minor suggestion - Having 404 explicitly written somewhere in the page would be a good idea @akashkbaburajan

[2020-09-27 18:16] arc30 commented on #193
A minor suggestion - Having 404 written explicitly somewhere in the page would be a good idea. @akashkbaburajan

[2020-09-27 19:28] daltonfury42 commented on #198
Hmm. Can this be a button instead of a link?

On Sun, 27 Sep 2020 at 12:47 PM, akashkbaburajan <notifications@github.com>
wrote:

[2020-09-30 18:49] mritunjaysaha commented on #223
Hey, I would like to contribute. I was not able to find the exact icon in material-UI. I found one on material design but it only showed a empty img icon. Even the home page icon is not shown in the queue page.
![simplQ](https://user-images.githubusercontent.com/59063979/94727069-cb345f80-037b-11eb-8cc2-cba64d88919c.gif)

[2020-09-30 19:17] maaverik commented on #223
Hi @mritunjaysaha, you need not worry about the nav bar and the queue logo not showing up right now. That's being worked on separately.

As for the icon, can you try downloading the asset directly from here https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/fe137c74-d5e2-4fe1-af85-10877cc560b8/specs/ and trying to add it. You'll find it in the view specs panel on the right.

[2020-10-01 08:29] KasiKral commented on #210
Hi, can I work on this? To be clear, this issue of the redesign is meant to be implemented or only make suggestions to design. If you need to implement this i would like to.

[2020-10-01 09:31] daltonfury42 commented on #210
Hi @KasiKral we need to implement this designYes you can. We need to implement this design: https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/

[2020-10-01 09:46] maaverik commented on #210
https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/grid/ The above link doesn't work for me. If anyone else has the same problem, try this.

[2020-10-01 09:51] maaverik commented on #210
Never mind, looks like a problem with firefox. I guess we have to use chrome for now.

[2020-10-01 14:39] mritunjaysaha commented on #251
Hi @daltonfury42 , I would like to take this up.

[2020-10-01 15:59] daltonfury42 commented on #147
@sajmalyousef We should add a google form / something similar that we were talking about. I'm thinking a "Contact Us" link in the footer under the "Keep in touch" section:

![image](https://user-images.githubusercontent.com/11256376/94833538-dd220b00-042c-11eb-807f-c4243a08155f.png)

The form should be very simple, with a title/description email id and a textbox on what they want to contact us abo

[2020-10-01 16:44] mritunjaysaha commented on #264
hi @daltonfury42 , Can I take this up?

[2020-10-01 17:22] daltonfury42 commented on #264
Sure, this is a nice task

[2020-10-01 20:54] daltonfury42 commented on #242
@maaverik let's close this?

[2020-10-01 20:57] maaverik commented on #242
Yeah, it's fine to close. The skeleton is done. Only the add user form is left other than the token change. We can open another issue for that.

[2020-10-01 20:57] #242 closed

[2020-10-01 20:59] daltonfury42 opened #276 "[Navbar] Clicking outside the sidebar on mobile should close it"
When in mobile / smaller screens, the navbar switches to an expandable drawer. When the drawer is expanded clicking anywhere outside the drawer should automatically collapse it:

<img width="635" alt="Screenshot 2020-10-02 at 2 26 31 AM" src="https://user-images.githubusercontent.com/11256376/94862746-06f02780-0457-11eb-8aaa-908584fc0b1a.png">

[2020-10-01 21:03] daltonfury42 opened #277 "[Refactoring][EngDebt] Revisit Storybook"
We had decided initially to use storybook.js to write reusable components and also fixed on scss for CSS. While using SCSS has turned out to be a right choice, I feel storybook doesn't give us much value addition. It is suitable for larger projects.

We could create a reusable button, but then, that could have been easily done by reusing the css put in a common file.

@maaverik what do you think?

[2020-10-02 06:10] maaverik commented on #277
We could. But it wouldn't make much of a difference if we keep it or not. It's a dev dependency I believe so it doesn't slow down the site or anything. And even removing it just means renaming and modifying a few files. I'm fine either way.

[2020-10-02 07:08] daltonfury42 commented on #277
If we do something, be it a feature, or some framework or some library, and if it's not giving us value, I'd see it as an overhead / eng-debt... I'll remove some day.

It's just adding extra complexity to our codebase which we don't need.

[2020-10-02 07:10] #214 closed

[2020-10-02 07:11] #223 closed

[2020-10-02 07:55] daltonfury42 opened #278 "Add footer on home page to all pages"
Our footer is present in the home page [here](https://github.com/SimplQ/simplQ-frontend/blob/new-frontend/simplq/src/components/pages/Home/StaticInfos.jsx#L117) as part of StaticInfos.

We should to move it to [simplq/src/components/common](https://github.com/SimplQ/simplQ-frontend/tree/new-frontend/simplq/src/components/common) and add it to the [Layout](https://github.com/SimplQ/simplQ-frontend/

[2020-10-02 08:09] KasiKral commented on #210
Okay, I'll make changes according to "Web: Home – 2"([https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/](url)) design.

[2020-10-02 09:00] deprov447 commented on #278
@daltonfury42 May I work on this?

[2020-10-02 09:01] daltonfury42 commented on #278
Please do. This is up for grabs

[2020-10-02 09:13] Kannndev commented on #276
Can I pick this up? I am thinking of putting an overlay left to the drawer and Clicking on it would close the drawer

[2020-10-02 09:40] daltonfury42 commented on #276
Yes, you can.

Maybe you can add a dark tint to the overlay: https://medium.com/allenhwkim/close-div-when-clicking-outside-it-97255c20a221

[2020-10-02 09:53] Kannndev commented on #276
Cool. Thanks can you asiign this to me Please

[2020-10-02 09:55] daltonfury42 commented on #278
Can you also add suitable top and bottom padding while you are at it?

[2020-10-02 10:05] deprov447 commented on #278
Ohkay I will.

[2020-10-02 10:29] deprov447 opened #281 "Restyling Status Page"
Above mentioned issue specifies restyling the  _Notification button on Queue Status page_.
Thus It seems like there is a parent issue to restyle other components on this route too. It is requested to discuss the new styling of the page and contribute appropriately.

[2020-10-02 11:12] daltonfury42 opened #282 "Token Status Page Skeleton"
The token status page has to be updated as per the [finalised design](https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/e87838cd-febc-4f37-a68a-9daa0d6b207b)

![image](https://user-images.githubusercontent.com/11256376/94916015-7d2e7180-04cb-11eb-99cf-c995de5b5148.png)

The basic component structure consists of 4 major regions:

<img width="1211" alt="Screenshot 2020-10-02

[2020-10-02 11:13] daltonfury42 commented on #281
Right, I have made a proposal here. https://github.com/SimplQ/simplQ-frontend/issues/282

What do you think? Let me know if you are interested in taking this up.

[2020-10-02 11:20] Kannndev commented on #276
Raised PR. Please review. #283

[2020-10-02 11:48] mritunjaysaha commented on #264
Working on it. I could not find the call logo in resources

[2020-10-02 12:58] Vishv07 opened #284 "Phone Number Validation and There should Pointer on logo Text"
![Capture](https://user-images.githubusercontent.com/37216460/94925469-e4085680-04dc-11eb-9046-cd9efdc916ac.JPG)

1)There should be one css property for pointer

![Validation](https://user-images.githubusercontent.com/37216460/94925525-faaead80-04dc-11eb-8258-9a73c464f6c8.JPG)

2) Should be Some of sort of validation on length , it allows less than 10 numbers and creates Member in queue

[2020-10-02 13:29] daltonfury42 commented on #284
Yes we should

1) change to pointer on hover.
2) For validation of phone number, I want to try Google's phone number validation library.

https://github.com/google/libphonenumber

[2020-10-02 13:32] #276 closed

[2020-10-02 14:07] daltonfury42 commented on #278
Thanks for fixing this, @deprov447

[2020-10-02 14:07] #278 closed

[2020-10-02 14:09] deprov447 commented on #281
Thanks @daltonfury42. But currently I am unable to take up the whole task, but definitely can help with some part of it :)

[2020-10-02 14:18] deprov447 commented on #282
@maaverik @daltonfury42 Please let me know If I can contribute any component.

[2020-10-02 14:26] daltonfury42 opened #287 "Logo and Text on Navbar Should Remain Constant on Transition Between Admin and Home Pages"
![ezgif-6-b9faee592e07](https://user-images.githubusercontent.com/11256376/94934377-45cebd80-04e9-11eb-9e56-3b4527a3928e.gif)

When the user moves between home and admin pages, the transition should not shift the the logo and the "SimplQ". Proposed change:

1) On home page navbar, replace "Home" with "SimplQ" as is present on Admin Page:
![image](https://user-images.githubusercontent.com/11256376/

[2020-10-02 14:36] daltonfury42 commented on #282
@maaverik have you started working on this? Else do you want to let @deprov447 take this up?

We want to do restructure the page according to the new design, creating just the component hierarchy. Then we can split the styling and functionality of each component into independent tasks and split them amongst us.

[2020-10-02 14:48] maaverik commented on #282
Yeah ,I've made the skeleton of sorts in #288. @deprov447, you can take over once this is merged.

[2020-10-02 15:00] maaverik commented on #282
We'll make separate issue for each of the subcomponents and you can work on whichever you want.

[2020-10-02 15:09] maaverik commented on #264
@daltonfury42 do you have the link to the Adobe XD design for this token. I can't find it. It should have the asset.

[2020-10-02 15:32] daltonfury42 commented on #264
Right. I checked with, we need to ask @akashkbaburajan to "export the particular asset". Not all assets might have been exported.

@akashkbaburajan can you check?

[2020-10-02 16:06] daltonfury42 opened #289 "Implement Add Manually Section in Admin Page"
Implement the [Add Manually Section](https://github.com/SimplQ/simplQ-frontend/blob/new-frontend/simplq/src/components/pages/Admin/AddMember.jsx) in admin page:

![image](https://user-images.githubusercontent.com/11256376/94943897-0e1a4280-04f6-11eb-9a7b-e9f944011ea2.png)

It will expand on click to a form to add a person to the queue taking name and phone number. We should reuse the [Form](https:

[2020-10-02 16:10] akashkbaburajan commented on #264
I have updated the design link but you can always get them from https://material.io/resources/icons/?style=baseline This is where I got the commonly used icons

[2020-10-02 17:19] arkumari2000 commented on #287
I want to give it a try. Please assign it to me.

[2020-10-02 17:39] maaverik commented on #287
Sure, go ahead

[2020-10-02 17:43] #282 closed

[2020-10-02 18:05] mritunjaysaha commented on #289
hi @daltonfury42 , I would like to take this up. I can think we need to complete this before one can start with #284 ?

[2020-10-02 18:10] maaverik opened #291 "Implement the side panel functionality and notifications toggle for the status page"
The design is given here: https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/e87838cd-febc-4f37-a68a-9daa0d6b207b

![image](https://user-images.githubusercontent.com/11256376/94956660-2f852980-050a-11eb-8093-f563432b5fcf.png)

The task is to let the user leave the queue on clicking Leave Queue (the confirmation dialog can be implemented later) and expand the Queue Details c

[2020-10-02 18:14] daltonfury42 commented on #289
This is a pretty good change to work on. The Form component need to be reused in two different pages. We will use it here in the add manually section, and also in the join queue page (which comes if you copy the joining link to clipboard and paste it in a different tab).

So #284 can be taken up independently by accessing the form from the Join Queue page.

Feel free to take this up.

[2020-10-02 18:15] maaverik opened #292 "Implement the token number and position sections in the status page"
The design is given here: https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/e87838cd-febc-4f37-a68a-9daa0d6b207b

![Screenshot from 2020-10-03 00-04-43](https://user-images.githubusercontent.com/12583528/94957823-17aea500-050c-11eb-982b-901fcbd98af8.png)

The task is to implement the parts on the left of the status page, the token number and the central part with the posit

[2020-10-03 07:59] maaverik commented on #282
@deprov447 take a look at #291 or #292 and you can get started on finishing this page.

[2020-10-03 09:50] arkumari2000 commented on #287
Do you want it like this?

![check](https://user-images.githubusercontent.com/48750169/94988579-f5f50280-058b-11eb-9453-238e3f8fb1b5.gif)

[2020-10-03 09:53] maaverik commented on #287
This looks good. It would look the same on mobile view too, right?

[2020-10-03 09:54] arkumari2000 commented on #287
Yes.

[2020-10-03 09:57] deprov447 commented on #292
I am working on this @maaverik

[2020-10-03 10:02] maaverik commented on #287
Merged. Great job.

[2020-10-03 10:02] #287 closed

[2020-10-03 10:02] maaverik commented on #292
Sure

[2020-10-03 10:03] arkumari2000 commented on #287
@maaverik Thank you

[2020-10-03 12:08] Vishv07 opened #296 "Status page: Logo should redirect to the home page"
![logotohomepage](https://user-images.githubusercontent.com/37216460/94991204-22fee080-059f-11eb-864b-d5f8578db3d2.JPG)

There's no action after clicking on logo , logo should redirect to the homepage

[2020-10-03 12:24] Gh05d commented on #291
Hey, I submitted a pull Request for this ticket. The modal confirmation dialog is not yet implemented, the user gets simply pushed back to the root route when he clicks on the button.

Also, I did not implement the full card view, because I could not find in the xd sheet how it shall look.

Which cases should be handled in the Notification logic? I just ported the logic of the button to a switch (

[2020-10-03 13:48] maaverik commented on #296
Hey @Vishv07, this status page is undergoing a redesign and this issue will be taken care of during this redesign. Take a look at #282 to understand more. I'll modify this issue to add this redirection in the new design in a little while. If you want, you can try working on it.

[2020-10-03 13:52] maaverik commented on #296
The header on the status page should have the logo and simplq on it as shown in the image below. These should redirect to the homepage on click.

![Screenshot from 2020-10-03 19-18-42](https://user-images.githubusercontent.com/12583528/94993288-84c64700-05ad-11eb-90cb-25891d8e8a93.png)

This logo has already been used in the admin and home page navbars and so could either be converted into a compo

[2020-10-03 14:43] maaverik commented on #291
Hi @Gh05d, thanks for the PR. I've added some comments there. Please take a look.

The dialog can be implemented later, so no worries. I don't understand what you mean by the full card view. Could you elaborate a bit?

[2020-10-03 15:13] mritunjaysaha commented on #289
Working on it.

[2020-10-03 15:39] thehamzarocks commented on #289
Just a comment on the UI, maybe we can make the label simply "Add Member" instead of "Add Member Manually" since the description makes it clear. And the long label text appears in two lines on some phone displays.

[2020-10-03 15:41] daltonfury42 commented on #289
Yes, let's do that.

[2020-10-03 15:42] thehamzarocks opened #299 "Hamburger Menu Missing on Admin Page"
Currently, on mobile displays, the hamburger menu is missing from the admin page. It would be convenient to have it across all pages.

[2020-10-03 15:43] daltonfury42 commented on #299
In admin page we were not planning to have our full fledged navabr (which could make the users navigate away), till we implement my queue and auth

[2020-10-03 15:46] thehamzarocks commented on #299
Hmm yes, once they navigate away, they cannot easily come back to the queue page, so let's leave it out until my queue functionality has been implemented.

But users can still accidentally navigate away by clicking on the logo.

[2020-10-03 15:48] daltonfury42 commented on #299
Yeah, right. We can move the navbar out of home page into a common section and reuse it in admin and other pages, once we implement my queue. We are blocked on authentication

[2020-10-03 15:49] daltonfury42 commented on #299
I want to do a simple googe auth, like what you did for brainylog... I don't want to go the cognito route.

[2020-10-03 15:52] thehamzarocks opened #300 "Fork on Github Button Not Displaying Properly on Mobile"
![image](https://user-images.githubusercontent.com/12778300/94995719-d4ad0a00-05bd-11eb-9ced-39be154d7e5c.png)

The fork on GitHub Button on the Homepage isn't rendering properly on certain Mobile Devices

Also, the layout could be better aligned since the text is too close to the simplQ logo but a bit far away from Open Source heading as visible in the image.

[2020-10-03 15:54] rasfa98 commented on #300
@thehamzarocks I can fix this 🙂

[2020-10-03 15:59] daltonfury42 commented on #300
@rasfa98 Please do. Thanks!

 @thehamzarocks which mobile/resolution are you on? I'm not able to reproduce this.

[2020-10-03 16:00] rasfa98 commented on #300
@daltonfury42 I could reproduce this when testing in Safari simulating a mobile device 🙂

[2020-10-03 16:05] daltonfury42 commented on #300
Yes, it's broken on safari

[2020-10-03 16:33] rasfa98 commented on #300
@thehamzarocks The button issue has been fixed in #301 🙂

[2020-10-03 16:47] daltonfury42 commented on #300
Thanks @rasfa98

[2020-10-03 16:47] #300 closed

[2020-10-03 20:20] daltonfury42 opened #303 "Copy button expanding on clicking"
The copy to clipboard is increasing in height when clicked. This is happening due to the height of the new icon on changing.

We need to fix the height of both the icon to be same as other icons

![copy](https://user-images.githubusercontent.com/11256376/95001046-fb7e3700-05e3-11eb-9fa1-8e9197c55169.gif)

[2020-10-03 20:24] daltonfury42 opened #304 "Add Member Expansion Panel Smoothness"
We have an expansion panel for adding members. Make the open/close transition smooth

![transition](https://user-images.githubusercontent.com/11256376/95001110-94ad4d80-05e4-11eb-98b5-b5733d3c6148.gif)

[2020-10-03 20:29] daltonfury42 opened #305 "Adding User Manually Doesn't Set Token Number"
When a user is added manually, the token number is not set. This is mostly a js side issue where we are losing the token number

![tokenno](https://user-images.githubusercontent.com/11256376/95001189-451b5180-05e5-11eb-9e3d-0ad78e5cd9e6.gif)

[2020-10-03 20:34] maaverik opened #306 "Navbar to sidebar transition issue on mobile"
The transition of the homepage navbar to a burger icon has some styling issues.

![Peek 2020-10-04 02-00](https://user-images.githubusercontent.com/12583528/95001235-ab07d900-05e5-11eb-8d95-73996b2b6f50.gif)

The navbar should disappear and only the burger icon should show up without the sidebar popping up like this. Setting an appropriate min-width should be enought to fix this.

[2020-10-03 20:36] daltonfury42 opened #307 "Don't horizontally centre tokens on admin page"
When a queue is empty, the text `Your queue has been created and is currently empty. Waiting for people to join...` is displayed at the centre:

![image](https://user-images.githubusercontent.com/11256376/95001246-bf4bd600-05e5-11eb-9c25-42b8e7342948.png)

This text is vertically and horizontally centred, which is good. But when tokens are created, they are also centred vertically in the same mann

[2020-10-03 20:37] maaverik commented on #178
This has been fixed now.

[2020-10-03 20:37] #178 closed

[2020-10-03 20:39] maaverik commented on #281
Closing as notification button has been replaced by a toggle.

[2020-10-03 20:39] #281 closed

[2020-10-03 20:39] nikldev0 commented on #303
Hi, could I have a go at fixing this?

[2020-10-03 20:40] daltonfury42 commented on #306
He he... A real user's screen won't shrink in width like that I hope... but his is an issue if someone resizes the window.

[2020-10-03 20:45] maaverik commented on #180
Closing as duplicate of #291

[2020-10-03 20:45] #180 closed

[2020-10-03 20:46] #186 closed

[2020-10-03 20:47] #172 closed

[2020-10-03 20:47] #171 closed

[2020-10-03 20:48] maaverik commented on #190
Being looked into in  #298

[2020-10-03 20:54] daltonfury42 commented on #303
Sure, you are welcome

[2020-10-03 21:12] daltonfury42 commented on #190
I think the issue was fixed automatically. might be some flex non flex thingy

[2020-10-04 01:46] mraguso2 commented on #306
Hi! I'm going to give this one try! :)

[2020-10-04 02:29] JoaoVSouto commented on #307
I can take this one :smile:

[2020-10-04 02:35] karthiksista commented on #307
@JoaoVSouto  I am ready with the PR, if you want to take it you can.

[2020-10-04 02:41] mraguso2 commented on #306
Ready for review! pr: #311

[2020-10-04 02:43] JoaoVSouto commented on #307
@karthiksista Oh sorry, there is no problem. You can take it.

[2020-10-04 05:22] Vishv07 commented on #296
@maaverik So are you trying to say we should put this whole header on the status page.

[2020-10-04 05:25] karthiksista commented on #307
Unable to commit the code due to the **pre-commit hook error, from prettier ** can someone help me out here ?
I am using **node v 12.14.1**

`husky > pre-commit (node v12.14.1)
✔ Preparing...
⚠ Running tasks...
  ❯ Running tasks for *.{js,jsx,ts,tsx}
    ✖ npx prettier --write  [FAILED]
    ◼ eslint --ext .js,.jsx --fix
↓ Skipped because of errors from tasks. [SKIPPED]
✔ Reverting to original stat

[2020-10-04 05:46] karthiksista commented on #307
Unable to commit the code due to error in pre commit check .

I am using node **10.13.0** (also tried with 12.14.1)

This is the error that is being thrown.

**husky > pre-commit (node v10.13.0)**
✔ Preparing...
⚠ Running tasks...
  ❯ Running tasks for *.{js,jsx,ts,tsx}
    ✖ npx prettier --write [FAILED]
    ◼ eslint --ext .js,.jsx --fix
↓ Skipped because of errors from tasks. [SKIPPED]
✔ Reverti

[2020-10-04 05:51] daltonfury42 commented on #307
For some reason prettier is not picking up the node version. Are you using `nvm`?

You can bypass pre commit checks for now by adding `--no-verify` to you commit command.

[2020-10-04 05:59] karthiksista commented on #307
@daltonfury42 Thanks for the reply, yes i am using nvm.
Yes, tried with `--no-verify`. Its working.
But was curious on why prettier was not picking up the node version.

Here is the [PR](https://github.com/SimplQ/simplQ-frontend/pull/312) for this issue.

[2020-10-04 06:10] karthiksista commented on #305
I am taking this issue :)

[2020-10-04 06:41] sajmalyousef opened #313 "SimplQ logo and name do not match"
Currently the icon and the name are two separate clickable entities. There is an unclickable gap in between which is not so great
![image](https://user-images.githubusercontent.com/13188906/95008733-18ddf000-063a-11eb-908a-cb3bd07ae5eb.png)

These can be made into 1  image  Also the colour of the font can be similar.

[2020-10-04 06:49] daltonfury42 commented on #307
I don't use nvm much, so can't say why it's picking the right version. Thanks for the PR!

[2020-10-04 06:49] #307 closed

[2020-10-04 06:49] sajmalyousef opened #314 "[Admin Dashboard] Realign queue name to the center"
Currently the queue name is aligned to the left.
This could be  centred
![image](https://user-images.githubusercontent.com/13188906/95008933-82aac980-063b-11eb-9e25-6ff0ef3ddc1b.png)

[2020-10-04 06:50] daltonfury42 commented on #314
This is to be left aligned as per our design.

[2020-10-04 06:54] maaverik commented on #296
The header is already there. The logo and image on the left aren't.

[2020-10-04 07:02] sajmalyousef opened #315 "Replacing social media handle names to their corresponding icons"
Replace these social media / github names to their corresponding icons as seen in standard websites
These are currently vertically aligned and can be changed to horizontal
![image](https://user-images.githubusercontent.com/13188906/95009090-cbaf4d80-063c-11eb-911d-210c2f88c69e.png)

Example:
![how-to-add-social-media-icons1](https://user-images.githubusercontent.com/13188906/95009175-97885c80-063d

[2020-10-04 07:04] Vishv07 commented on #315
I think we should redesign the whole footer as well

[2020-10-04 07:11] daltonfury42 commented on #315
Hi @Vishv07 If you have good ideas, can you send a figma or a screenshot of what you have in mind?

[2020-10-04 07:12] sajmalyousef opened #316 "[Admin Dashboard] Button text for refresh and copy to clipboard on mobile"
The text inside the button should not go to the second line with change in screen size. It should be similar to the desktop version
here https://simplq.me/queue/1c6988bc-ffa0-4a30-9232-9468715ef513
Button can be  made mobile friendly
![image](https://user-images.githubusercontent.com/13188906/95009254-285f3800-063e-11eb-97ee-3421768c3b24.png)

[2020-10-04 07:25] daltonfury42 commented on #316
I think we can't avoid that... either let it go to the second line or think of better text.

[2020-10-04 07:27] karthiksista commented on #305
Created a [PR](https://github.com/SimplQ/simplQ-frontend/pull/318) for this issue

[2020-10-04 07:27] #305 closed

[2020-10-04 07:30] daltonfury42 commented on #316
Actually bigger buttons on smaller screens are better for touch. So let's reclassify this as feature and not a bug. 👹

[2020-10-04 07:32] daltonfury42 commented on #315
I'd rather prefer keeping both than replace the text with icons. If we choose to go icons only, then the contact us form link should be handled somehow.

[2020-10-04 07:40] daltonfury42 opened #319 "[AdminPage] SidePanel should be horizontally centred on Mobile"
On mobile / smaller screens, the side panel should be centred, it's currently to the left edge of the screen

![image](https://user-images.githubusercontent.com/11256376/95009857-b0dfd780-0642-11eb-8ec3-bcc8df908c2f.png)

To reach this page, create a new queue, and switch to mobile view, then scroll down.

[2020-10-04 07:42] maaverik commented on #315
I agree

[2020-10-04 07:43] abhishekjain35 commented on #319
I would like to work on this issue @daltonfury42. If you could assign it to me.

[2020-10-04 07:44] maaverik commented on #314
Yeah, I like this more than centering.

[2020-10-04 07:44] #314 closed

[2020-10-04 07:45] daltonfury42 commented on #319
@abhishekjain35 sure, go ahead!

[2020-10-04 07:47] mritunjaysaha commented on #313
I would like to take this

[2020-10-04 07:49] abhishekjain35 commented on #319
Ok, thanks :+1:

[2020-10-04 07:52] sajmalyousef opened #320 "[Admin dashboard]Add member button renaming"
Rename the join queue button to Add since this is within the admin dashboard  and  is misleading
Change text
![image](https://user-images.githubusercontent.com/13188906/95010111-67908780-0644-11eb-93f3-d09391133f0d.png)

[2020-10-04 07:53] daltonfury42 opened #321 "Implement links on Homepage Navbar"
Our navbar has a few links, they have not been finished, it's just placehoders currently:

![image](https://user-images.githubusercontent.com/11256376/95010087-42037e00-0644-11eb-8eb2-ca4f0ab4fbdd.png)

My Queues and Sign-in are work in progress, in this issue we should implement:

1) Clicking on "How it works should scroll down to the "Create a Queue at the click of a button" section on the same

[2020-10-04 07:56] daltonfury42 commented on #320
I was also thinking of this.. This same text would also come in the join queue page, so we should do something neutral.

"Add", "Add to Queue" all works.

[2020-10-04 07:58] sajmalyousef commented on #320
Add to Queue  is like stating the obvious? and longer ?

[2020-10-04 08:05] daltonfury42 commented on #320
Stating the obvious is fine? Long two word buttons == bigger buttons? That was my thought process, but anything is fine

[2020-10-04 08:06] himankpathak commented on #193
Hey @daltonfury42, I would like to work on this issue. Let me know if it's up for taking.

[2020-10-04 08:15] akashkbaburajan opened #323 "Tweak Home page layout"
1. The curved div is rather too curved as compared to design.
2. The the text along with buttons can come a little more down kinda like centre of page
3. There is too much space between curved line beginning and "Why SImplQ" section heading.
refer design to see what is expected - https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/
![Adobe XD 04-10-2020 11_45_18 (2)](https://user-i

[2020-10-04 08:19] peakercope commented on #304
hey @daltonfury42
I can help with this if you want

[2020-10-04 08:27] abhishekjain35 commented on #319
@daltonfury42, I've fixed the **SidePanel** and also the **header** section (Check the images below). If you approve I Can make the PR. If you need any more changes, Please Describe.

![image](https://user-images.githubusercontent.com/53055241/95010663-c2c47900-0648-11eb-9bfe-637b029cff7a.png)

**AND**

![image](https://user-images.githubusercontent.com/53055241/95010673-d839a300-0648-11eb-8cb6-a8

[2020-10-04 08:28] daltonfury42 commented on #304
Hi @peakercope Please do. Thanks!

[2020-10-04 08:40] Gh05d commented on #291
When you click on Queue Details, my understanding is that that row should expend and the user should get more information about the Queue.

Will take a look at the pull request. By the way, is there any chance to add the _hacktoberfest_ topic to the repo? ;-)

[2020-10-04 08:43] daltonfury42 commented on #323
1) The curved div was an approximation. Can you somehow export/provide the SVG from XD? The current svg was generated by playing with https://getwaves.io/ for a ling time :p hence it's an approximation

2) Let me make that quick change, or do you want to do that to get your hactober tshirt?

3) I've been noticing a lot of modern websites recently, and they have a lot of whitespace.  I'm of the opi

[2020-10-04 08:49] sajmalyousef opened #325 "Admin dashboard fix margin and spacing"
The current admin dashboard is spread far apart compared to original design. It looks a bit zoomed (1st image) and not as good as the  design ( 2nd image)
![image](https://user-images.githubusercontent.com/13188906/95011118-0f5d8380-064c-11eb-90e7-794f5ada458f.png)

![image](https://user-images.githubusercontent.com/13188906/95011148-492e8a00-064c-11eb-9437-c09a744675db.png)

Can it be centered ma

[2020-10-04 08:51] daltonfury42 commented on #291
We have added the topic, so once your PRs get merged it should get counted.

Let's split this task into multiple PRs, we can deal with the queue details changes in subsequent PRs.

[2020-10-04 08:55] daltonfury42 commented on #319
Yes, this is good. Let's make this change. Thanks!

[2020-10-04 08:57] SuzannaWentzel commented on #321
Hi! Can I have a try on this one? I'm new to contributing to open source projects but this seems like something I should be able to do :).

[2020-10-04 08:59] akashkbaburajan commented on #323
1. I have updated the design to make that div exportable. Maybe that'll help make website similar to design
2. You can do it :)
3. Compared to spaces in other sections, "Why SimplQ" section has too much space. I am of the opinion that we should make spacing consistent in all sections.
4. Those images of corona can be spread across a little better, like maybe in the design. (I didn't really like th

[2020-10-04 09:04] maaverik commented on #321
Sure. Go ahead.

[2020-10-04 09:05] akashkbaburajan commented on #325
Yes, 2 other points I wanted raise are:
1. There are a few spacing issues compare to design for all those queue setting tiles on right side - spacing between "+" to "Add User Manually" to text under it.
2. Add user manually expansion should happen on clicking anywhere on the tile and not just on the "v"

[2020-10-04 09:07] abhishekjain35 commented on #319
Hey @daltonfury42 , I've made the PR. Please take a look.

[2020-10-04 09:09] maaverik commented on #319
This looks good. Great job.

[2020-10-04 09:09] #319 closed

[2020-10-04 09:09] akashkbaburajan opened #327 "Standardise and Give a pagewide margin"
Compared to design, website is cramped up in the middle. All sections need to be expanded so that blank space is not too much.
Top part is design and bottom is current website
![Adobe XD 04-10-2020 13_18_49 (2)](https://user-images.githubusercontent.com/16539463/95011573-441f0a00-064f-11eb-99bd-bc51946ae52a.png)

[2020-10-04 09:14] abhishekjain35 commented on #319
@maaverik and @daltonfury42 , Thanks. It was a great experience. :100:

[2020-10-04 09:17] akashkbaburajan commented on #325
3. Refresh queue makes more sense to me than refresh status.
4. colour of refresh queue and copy to clipboard buttons should change
5. add user manually makes more sense than
![Uploading Adobe XD 04-10-2020 14_43_54 (2).png…]()
 add member

[2020-10-04 09:17] akashkbaburajan commented on #325
3. Refresh queue makes more sense to me than refresh status.
4. colour of refresh queue and copy to clipboard buttons should change
5. add user manually makes more sense than add member
![Adobe XD 04-10-2020 14_43_54 (2)](https://user-images.githubusercontent.com/16539463/95011742-8eed5180-0650-11eb-87bb-18086a86b082.png)

[2020-10-04 09:37] maaverik commented on #313
Good job Mritunjay. This is merged.

[2020-10-04 09:37] #313 closed

[2020-10-04 09:37] daltonfury42 commented on #323
1. The assets are not available in the design. https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/specs/

I wanted just the top curve div is this somehow possible?

![image](https://user-images.githubusercontent.com/11256376/95012032-e2f93580-0652-11eb-9158-ed9cdf638579.png)

2. Ok

3. Let's increase spacing in the three sections following Why SimplQ. I think footer is fine. (Let

[2020-10-04 09:39] daltonfury42 commented on #327
Yes lets increase spacing, especially margins. Related discussion https://github.com/SimplQ/simplQ-frontend/issues/323

[2020-10-04 09:42] daltonfury42 commented on #327
Currently we have individual margin for each section. We should have one left and right margin for the whole page defined on the body or so. Then we should give negative margins for for components that go out (like the divs with a background colour in out design.

[2020-10-04 09:45] daltonfury42 commented on #325
We should standardise and use the same margin that we use in home page (See https://github.com/SimplQ/simplQ-frontend/issues/327)

For the buttons, I feel the white background looks better, and also that's easier from implementation standpoint (Changing this would add extra complexity). So can we keep them as they are?

We should fix all the other points raised

[2020-10-04 09:46] keithmchd48 commented on #321
Hi! @maaverik I have submitted a PR to complete this feature https://github.com/SimplQ/simplQ-frontend/pull/329.

But there are some checks failing. Can you tell me how I can go about fixing them??

[2020-10-04 09:46] Gh05d commented on #291
Thanks.

I resolved most of the comments, but some questions remain. Please check.

[2020-10-04 09:53] Vishv07 commented on #315
Yes , I have few Screenshots , we can decide which one will be better
1)
![Footer](https://user-images.githubusercontent.com/37216460/95012349-7fbcd280-0655-11eb-8bd4-a9167ba7dcaa.JPG)
2)
![Footer1](https://user-images.githubusercontent.com/37216460/95012353-851a1d00-0655-11eb-8e70-d2682a07665b.JPG)

3)
![Footer2](https://user-images.githubusercontent.com/37216460/95012356-89463a80-0655-11eb-8156-

[2020-10-04 09:55] Vishv07 commented on #296
Okk I'll make it done , will open PR soon

[2020-10-04 10:03] gabrielatricak commented on #321
Hi, i would like to work on this for school project. Can I be assigned to this?

[2020-10-04 10:11] maaverik commented on #321
@keithmchd48 has opened a PR for this already at #329. You can raise another PR if you have a different approach to this, otherwise it might just be wasted effort @gabrielatricak @SuzannaWentzel. If you have suggestions, please comment here or on the PR.

[2020-10-04 10:14] maaverik commented on #296
I've opened #328 to make the logo reusable. Maybe hold off till that's merged. Then you can reuse it here and make required styling changes.

[2020-10-04 10:15] maaverik commented on #284
The pointer is done.

[2020-10-04 10:16] maaverik commented on #284
https://github.com/SimplQ/simplQ-frontend/pull/298#pullrequestreview-501551339

[2020-10-04 10:53] daltonfury42 commented on #315
I wonder how they will look when we put our content and colour theme. I'd want you to do a design mockup on figma or xd  before you start implementing.

[2020-10-04 11:00] maaverik opened #331 "{Design] Join queue page on mobile"
![Screenshot from 2020-10-04 16-27-18](https://user-images.githubusercontent.com/12583528/95013559-ab908600-065e-11eb-87f2-820fd73a725e.png)

The join page isn't really suitable for mobile view right now. If we just use a flex, the form would either show up before the header or after the details (which would make the user have to scroll down to join) @akashkbaburajan could you think of a suitable

[2020-10-04 11:12] daltonfury42 commented on #331
We should use the same general layout of the status page if possible. It will give the user a consistent feel and also we will be able to reuse a lot of code

https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/e87838cd-febc-4f37-a68a-9daa0d6b207b/specs/

[2020-10-04 11:19] daltonfury42 commented on #284
This task is to explore if we can use https://github.com/google/libphonenumber to validate mobile numbers and give appropriate error messages to the user.

[2020-10-04 11:20] akashkbaburajan commented on #325
those colour differences were made to make the important button more catchy. I guess its fine to leave them white for now

[2020-10-04 11:22] daltonfury42 commented on #193
yes sure, this is up for grabs

[2020-10-04 11:25] akashkbaburajan commented on #323
1. yep, I am updating the design so you can get a similar svg
3. awesome
4. haa.. its tricky huh ..hmm its fine then

[2020-10-04 11:27] daltonfury42 commented on #321
@SuzannaWentzel @gabrielatricak Welcome. Would one of you like to work in increasing the whitespacing of the homepage sections discussed here? https://github.com/SimplQ/simplQ-frontend/issues/323

To avoid working on the same issue, one of you can comment on https://github.com/SimplQ/simplQ-frontend/issues/323 and take it up. Keep an eye on https://github.com/SimplQ/simplQ-frontend/labels/You%20Ca

[2020-10-04 11:29] gabrielatricak commented on #323
Hi i would like to work on this issue for school project. Can I be assigned to this?

[2020-10-04 11:38] daltonfury42 commented on #304
@peakercope Thanks for fixing this

[2020-10-04 11:38] #304 closed

[2020-10-04 11:40] daltonfury42 commented on #323
Sure please do. @gabrielatricak

[2020-10-04 11:50] Vishv07 commented on #296
Cool , Will do that

[2020-10-04 11:51] arkumari2000 commented on #320
Can I do this if this is open and Add to Queue or Add is it?

[2020-10-04 11:52] Vishv07 commented on #315
Okkk cool , will do that

[2020-10-04 11:53] peakercope commented on #304
you're welcome!
let me know if there is anything else where I can help

[2020-10-04 12:21] Gh05d commented on #251
I have submitted a PR for this.

[2020-10-04 12:26] himankpathak commented on #193
Great. @daltonfury42 Just confirming Is this the final design we are trying to build?
https://github.com/SimplQ/simplQ-frontend/issues/193#issuecomment-699642650

The wave box at the bottom seems to missing style in Adobe XD, Is it supposed to be a asset or built with CSS?
Also, is there also a design for mobile screen view?

[2020-10-04 13:12] karthiksista commented on #327
I would like to work on this.
Can I pick this one?

[2020-10-04 13:25] daltonfury42 commented on #327
@karthiksista This task might overlap with https://github.com/SimplQ/simplQ-frontend/issues/323 which someone else is already working on.

Would you like to take up the similar task for admin page instead? https://github.com/SimplQ/simplQ-frontend/issues/325

[2020-10-04 13:27] karthiksista commented on #327
@daltonfury42 Ok sure. Will Do.
Thanks

[2020-10-04 13:32] karthiksista commented on #325
I will be working on this.

[2020-10-04 13:47] daltonfury42 commented on #193
Yes,  the design is correct.

The wave box is currently present as a jsx element [here](https://github.com/SimplQ/simplQ-frontend/blob/new-frontend/simplq/src/components/pages/Home/LandingPage.jsx#L17), can you move it out to public/images/wave.svg and reuse it here?

[2020-10-04 13:58] Gh05d commented on #252
I submitted a PR for this.

[2020-10-04 14:17] akashkbaburajan commented on #331
yes, I have redesigned the page and updated the design link. How does this look
![Adobe XD 04-10-2020 19_42_00](https://user-images.githubusercontent.com/16539463/95018016-6bd79780-067a-11eb-8b13-1c62d0764dea.png)

[2020-10-04 14:34] daltonfury42 commented on #331
I'm liking this

[2020-10-04 14:49] himankpathak commented on #193
Okay sounds good.
Is there a mobile view design?

[2020-10-04 14:52] daltonfury42 commented on #193
We don't have one. Can you work using the desktop design, and flex-wrap the left and right half so that the right side svg will move down to the next line on smaller screens?

[2020-10-04 14:57] sajmalyousef opened #337 "Contact Us form update"
This link can be used for the contact Us tab on the home page navbar. The content can be updated as required.

https://iimb.qualtrics.com/jfe/form/SV_aY8FY91ztRX9NvD

![image](https://user-images.githubusercontent.com/13188906/95018904-038bb480-0680-11eb-9e1e-59c4db626dfd.png)

[2020-10-04 15:02] daltonfury42 commented on #337
This is looking like a survey. I feel we need just a simple contact us page:

[code]

[2020-10-04 15:03] daltonfury42 commented on #337
Also, clicking on contact us would scroll down to the footer, and we should keep another "contact us" link there to the form.

[2020-10-04 15:05] sajmalyousef commented on #337
Haa cool this can be done. I was thinking of something like a help us improve too

[2020-10-04 15:14] #321 closed

[2020-10-04 15:17] maaverik commented on #320
Hi @arkumari2000, a PR is already open for this pending some changes. Please take a look at the other open issues and see if there's something you'd like to work on.

[2020-10-04 15:21] maaverik commented on #291
Thank you @Gh05d for the work so far at #332. Now what remains are the queue status part and styling tomatch the admin page.

[2020-10-04 15:23] maaverik commented on #291
We'll open separate issues for those after maybe refactoring the code a bit, but you're free to start working on it if you want @Gh05d.

[2020-10-04 15:23] sajmalyousef commented on #337
This has been updated . Do check now

[2020-10-04 15:24] iam-Akshat commented on #289
Isnt this issue closed?

[2020-10-04 15:35] sajmalyousef opened #338 "[Mobile alignment] Realign the buttons on admin dashboard"
Realign the Refresh status and Copy to clipboard buttons to center on mobile view
![photo_2020-10-04_21-02-02](https://user-images.githubusercontent.com/13188906/95019816-2a001e80-0685-11eb-9c74-79f6e4108b36.jpg)

[2020-10-04 15:41] Gh05d commented on #338
I will do this.

[2020-10-04 15:55] Gh05d commented on #338
I just realized that it would make sense to wait for the merge of pull request https://github.com/SimplQ/simplQ-frontend/pull/333 to implement this, as this could cause merge conflicts otherwise.

My question is whether I should just update that pull request or wait for the other to merge?

[2020-10-04 15:57] maaverik commented on #289
Well, not completely. The addition of the collapse component has broken the styling and caused the sidebar to appear centered. This has to be fixed. The collapsible part had to appear below the text not beside it.

[2020-10-04 16:10] daltonfury42 commented on #337
Email, Subject and then something else other than "description" might be better.. How about "How can we help you?"

Once the form is filled, "We will respond to you shortly. Thank You!" is displayed. Can we customise this? Can we add a link to take the user back to home page?

[2020-10-04 16:12] daltonfury42 commented on #338
I've merged https://github.com/SimplQ/simplQ-frontend/pull/333 you can raise a new PR.

[2020-10-04 16:20] daltonfury42 commented on #337
I've added the link here: https://daltonfury42-patch-1.dpmhbfuiok7f8.amplifyapp.com/ What do you think?

[2020-10-04 16:22] daltonfury42 commented on #337
Nice, I tried on the UI and it automatically redirected back to the old page.

[2020-10-04 16:25] sajmalyousef commented on #337
its difficult to notice ? I think
 Can we just have contact us directly go there? I gave a return link on the form as well
I have changed the link to redirect to homepage

[2020-10-04 16:26] #264 closed

[2020-10-04 16:31] #252 closed

[2020-10-04 16:41] maaverik opened #342 "Admin page sidebar styling"
The add manually option has a collapsible form which has broken the styling of the sidebar.

![Screenshot from 2020-10-04 22-08-11](https://user-images.githubusercontent.com/12583528/95021404-68e6a200-068e-11eb-8170-0afe6b84492b.png)

The sidebar should be right aligned and the form should appear below the text as given here.

![Screenshot from 2020-10-04 22-10-11](https://user-images.githubuserco

[2020-10-04 16:42] #289 closed

[2020-10-04 16:49] maaverik opened #343 "Implement the queue details collapsible dropdown in status page"
The queue details button should open a dropdown with the details of the queue as given here.

![Screenshot from 2020-10-04 22-16-29](https://user-images.githubusercontent.com/12583528/95021561-45702700-068f-11eb-953a-f5ffd7d7b7b4.png)

Take a look at the commented part of src/components/pages/Status/QueueDetails.jsx to get an idea of the required data that comes from the backend. This same comment

[2020-10-04 16:49] #291 closed

[2020-10-04 16:58] daltonfury42 commented on #342
We should build our own expansion panel, and not use material ui components.

[2020-10-04 16:59] maaverik commented on #306
Thanks @mraguso2

[2020-10-04 16:59] #306 closed

[2020-10-04 17:10] daltonfury42 commented on #337
Yes it's difficult to notice. Let me do this.

[2020-10-04 17:15] #251 closed

[2020-10-04 17:15] #210 closed

[2020-10-04 17:19] daltonfury42 commented on #292
Hi @arkumari2000 Implementing that token number would be an interesting task, would you like to pick it up?

![image](https://user-images.githubusercontent.com/11256376/95022274-d34e1100-0693-11eb-87e1-e771f3a2757a.png)

@deprov447 let us know if you are working on this

[2020-10-04 17:19] himankpathak commented on #193
Yea sure, I can do that. Please assign me the issue. I will move forward with it.

[2020-10-04 17:24] daltonfury42 commented on #337
I've made the changes, you can close this if it looks alright

[2020-10-04 17:24] #190 closed

[2020-10-04 17:25] #299 closed

[2020-10-04 17:25] #187 closed

[2020-10-04 17:26] daltonfury42 commented on #176
We will do this if we ever get a customer and we see it adding some value to the customer

[2020-10-04 17:26] #176 closed

[2020-10-04 17:26] #150 closed

[2020-10-04 17:26] #147 closed

[2020-10-04 17:27] #130 closed

[2020-10-04 17:28] #117 closed

[2020-10-04 17:28] #337 closed

[2020-10-04 17:32] giubatt commented on #343
Can I get assigned to this?

[2020-10-04 17:49] daltonfury42 commented on #342
I'll take this up

[2020-10-04 17:53] daltonfury42 commented on #342
I've raised a PR to fix this. https://github.com/SimplQ/simplQ-frontend/pull/345

[2020-10-04 17:56] daltonfury42 commented on #343
Sure, I have implemented a collapsable here, once this PR gets merged you can take this as reference for making the expansion panel: https://github.com/SimplQ/simplQ-frontend/pull/345/files

[2020-10-04 18:14] deprov447 commented on #292
Sorry, I'm overloaded these days. Would be helpful if someone can takeover. or else give me a week :/

[2020-10-04 18:37] iampankajgupta commented on #296
can i work on this issue

[2020-10-04 18:46] iampankajgupta commented on #292
can i work on this issue

[2020-10-04 18:51] SuzannaWentzel commented on #284
Anyone working on using the https://github.com/google/libphonenumber already? Or could I try to implement it?

[2020-10-04 19:02] daltonfury42 commented on #284
go ahead

[2020-10-04 19:02] daltonfury42 commented on #292
sure, go ahead

[2020-10-04 19:05] #342 closed

[2020-10-05 00:33] Vishv07 commented on #296
@iampankajgupta i am already working on It , Probably will open PR today 👍

[2020-10-05 05:06] karthiksista commented on #325
Created a [PR](https://github.com/SimplQ/simplQ-frontend/pull/347) for this issue.

[2020-10-05 05:20] Gh05d commented on #338
Is this still an issue? It aligns nice now that #333 was merged.

[2020-10-05 16:09] maaverik commented on #343
You can follow the styling in the admin page, they look better imo. Making a generic component is a great idea. Please go ahead.

[2020-10-05 17:43] sajmalyousef opened #350 "Creating a new issue"

[2020-10-05 17:43] #350 closed

[2020-10-05 18:10] daltonfury42 commented on #284
Good job @SuzannaWentzel

The library is working like a charm. :)

[2020-10-05 18:17] daltonfury42 opened #353 "Non notifiable tokens bell icon change"
![image](https://user-images.githubusercontent.com/11256376/95115827-b54fe180-0763-11eb-8f00-1a869241608f.png)

When adding a token manually from admin page, we cannot notify them. The bell icon has a cross, but still it's not obvious because the icon has interactivity on hover.

In case of non notifiable tokens (handled [here](https://github.com/SimplQ/simplQ-frontend/blob/new-frontend/simplq/src

[2020-10-05 18:20] daltonfury42 commented on #353
@akashkbaburajan what do you say? Even I got confused because of the button feel, and was wondering why notifications were not working. People are absent minded, and they might try and notify and think that the token was notified, if it has hover effects and don't appear greyed out

[2020-10-05 18:24] daltonfury42 opened #354 "Call button not working"
Pressing the call button on the token should open the dialer on the system:
<img width="1152" alt="Screenshot 2020-10-05 at 11 51 59 PM" src="https://user-images.githubusercontent.com/11256376/95117252-e6311600-0765-11eb-95b1-38584ef237ff.png">

https://stackoverflow.com/questions/17219688/href-tel-and-mobile-numbers

Since it's a onClick / button, we would have to do something like this:

https:/

[2020-10-05 18:28] daltonfury42 commented on #303
@nikldev0 has fixed the hight, but still the button is expanding in width:

![ezgif-7-96b5bce3618c](https://user-images.githubusercontent.com/11256376/95117643-88e99480-0766-11eb-9824-b69ccdabea34.gif)

If possible, can we add a fixed with to just this button?

[2020-10-06 00:03] sethbrotherton commented on #354
I'll give this a shot, if you don't mind.

[2020-10-06 01:04] sethbrotherton commented on #354
PR up for this https://github.com/SimplQ/simplQ-frontend/pull/357

[2020-10-06 06:57] sajmalyousef opened #358 "Icon background on navbarcan be transparent"
The background of the icon is white and its visible on mobile . It does'nt make sense when navbar itself is white and looks odd
@akashkbaburajan
![lollol](https://user-images.githubusercontent.com/13188906/95168364-d0a40680-07ce-11eb-9883-398c6e405b8d.jpg)

[2020-10-06 07:41] maaverik commented on #277
I feel that storybook has its uses. We have more shared components now than before in our common folder and it's starting to become hard to keep track of them. Only a few are currently configured to show up on storybook. I say we integrate all of those with storybook so that new contributors can just run storybook and see all the common components available and choose what they need. The number of

[2020-10-06 11:00] sajmalyousef opened #359 "[Design] Sign in /Sign Up"
Just tried figma to create a sign in. This is just a rough one, can make it better. Was thinking of a pop up on click of the sign in button. Have just put the google auth option.
Was considering sign up through mobile number as well. Let me know your thoughts
![Capture](https://user-images.githubusercontent.com/13188906/95193122-ed513600-07f0-11eb-881b-d8e3645df374.PNG)
@daltonfury42 @akashkbabura

[2020-10-06 13:24] daltonfury42 commented on #358
This is happening because the image happend to have a z-index greater than that of the overlay (the grey fade giving div)

https://github.com/SimplQ/simplQ-frontend/blob/7d3141cb6a555a770b82fa94ef67420f4c586cc4/simplq/src/styles/logo.module.scss#L6

Lets fix this. Try removing the zindex defined above.

[2020-10-06 13:25] daltonfury42 commented on #358
@maaverik If that z-index is not intentional, let's remove?

[2020-10-06 13:26] daltonfury42 commented on #359
Do we need this page? 🤔

[2020-10-06 13:28] sajmalyousef commented on #359
https://www.canva.com/ I was thinking of it like this?

[2020-10-06 13:35] daltonfury42 commented on #359
That makes sense when you want to add multiple options... I was thinking of just adding google directly for now.

We could design this, but then I was thinking later. First lets add one provider and make it work.

[2020-10-06 13:39] sajmalyousef commented on #359
ok makes sense

[2020-10-06 13:45] maaverik commented on #358
The z-index is intentional. The reason is, without it, parts of the navbar cover the simplq text and prevents it from scrolling to top on clicking the text. This is not a big deal though. Clicking the logo was working fine for the scroll, so the z-index can be removed since the issue mentioned here is higher priority.

[2020-10-06 13:54] daltonfury42 commented on #358
I see, I think it's because navbar has a z-index of 99 and all. We should fix z-indexes.. I'm not an expert but this is what I could think of:

Navbar's z-index: x;
image's z-index: x+1;
overlay's z-index: x + 2
side drawer's z-index: x+3;

where x greater than z-index of other items on the page. We need to fix these values at one go. Shall we mark it as "You can do this" - Fix z-indexes?

[2020-10-06 14:02] maaverik commented on #358
"You can do this" is fine. Best not to mark it as "good first issue" since it requires some experience with frontend to get done perfectly.

[2020-10-06 14:04] maaverik commented on #331
Let's use this design and make a new issue to create this page? The header is being worked on anyway right now in #348. @akashkbaburajan can you provide the XD link for this page?

[2020-10-06 14:10] daltonfury42 commented on #331
I'd suggest splitting to three tasks:

Task 1: Refactor header to common folder and then just use it in the join page.
Task 2: Style left Pane
Task 3: Style right pane

Where task 1 is blocked on #348 and task 2 and 3 are "You can do this". But. I know you don't like splitting to subtasks :)

[2020-10-06 15:05] icy-meteor commented on #358
Would like to contribute to this issue.
If you could explain me a bit more in detail on what we are trying to achieve here because as @daltonfury42 said , z-index:10 on the logo seems to be the issue. I didn't quite get what you were trying to say @maaverik.

[2020-10-06 15:50] daltonfury42 commented on #358
The requirements are:

1. The navbar should be constantly present on top and above all the contents of the screen when user scrolls down. (So it should have higher z-index than other components.
2. When in mobile / smaller screens, clicking on the burger menu brings the sidebar (and an overlay which dims the background), and it should above the navbar.

Currently the logo has a z-index higher than

[2020-10-06 15:54] icy-meteor commented on #358
Right, this helps. Thanks.
Also, clicking the logo should take them to the top, but this wont be possible on mobile devices when sidebar is open. Am I right? This is because sidebar would take a higher priority and dim things outside of it and clicking anywhere outside would just close the sidebar.

[2020-10-06 16:31] daltonfury42 commented on #358
correct

[2020-10-06 16:34] daltonfury42 commented on #354
Thanks @sethbrotherton

[2020-10-06 16:38] #343 closed

[2020-10-06 16:40] devashishpuri commented on #358
Hi! Raised a PR for this

https://github.com/SimplQ/simplQ-frontend/pull/360

[2020-10-06 16:43] icy-meteor commented on #358
@daltonfury42 @maaverik
Ideally, if you see from a product and UX perspective, having the logo as clickable when sidebar is open is a flawed user experience.
If we remove the z-index:10 from logo, it fixes everything according to me.

1. Navbar is already fixed and it is retained while scrolling, so I don't have to touch that.
2. In mobile, the sidebar is already above the navbar, which is also wo

[2020-10-06 17:07] #354 closed

[2020-10-06 17:11] daltonfury42 commented on #358
@maaverik can you take a look? The a move makes sense to me.

#361

[2020-10-06 17:11] sajmalyousef opened #362 "Admin Ability to Pause and Resume Queue"
Implement Pause / Resume as per [design](https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/fe137c74-d5e2-4fe1-af85-10877cc560b8/).

![image](https://user-images.githubusercontent.com/11256376/111102947-43ca5980-8573-11eb-954d-cebd948eb18e.png)

The current design does not handle the queue paused scenario at the user's end:
 1. Given that the queue is paused from the admin

[2020-10-06 17:11] sajmalyousef commented on #207
![image](https://user-images.githubusercontent.com/13188906/95236597-c57bc580-0824-11eb-9cf9-7ccc6135a8b9.png)

Join Queue Page

[2020-10-06 17:12] maaverik commented on #358
I agree with you @icy-meteor. I guess my earlier comment wasn't clear enough. The reason I added the z-index was because the logo component in its entirety wasn't clickable on the desktop due to the navbar overlapping.

![Screenshot from 2020-10-06 22-40-37](https://user-images.githubusercontent.com/12583528/95236871-1b506d80-0825-11eb-809d-3c4a90756e29.png)

Removing the z-index brings back that

[2020-10-06 17:13] daltonfury42 commented on #358
I take it back. @maaverik has a point...
@icy-meteor Try removing the zindex a part of the text becomes unclickable.

Sorry!!

[2020-10-06 17:17] daltonfury42 commented on #362
Blocked on pause queue feature. I have to merge a long due backend PR before we can pause queue. I'll do that next weekend

[2020-10-06 17:18] sajmalyousef commented on #207
![image](https://user-images.githubusercontent.com/13188906/95237472-e4c72280-0825-11eb-812e-5b921edad488.png)
**Queue Status Page**

[Desing Link](https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/e87838cd-febc-4f37-a68a-9daa0d6b207b/?fullscreen)

[2020-10-06 17:20] devashishpuri commented on #358
Addressed the same in my PR. Played around with z-indexes in mobile view.

[2020-10-06 17:57] maaverik commented on #358
It looks like both the open PRs #361 and #360 work. I prefer #361 since it solves the core problem.

[2020-10-06 18:45] #358 closed

[2020-10-06 18:49] maaverik commented on #331
Task 2 is pretty small, nothing much to be done there. Task 3 would take more work and maybe an extra API call. Could you make an issue on task 3 detailing the API which would need to be used? I guess the same one as in QueueDetails. As for splitting, I don't mind either way. Whoever's doing task 3 can do task 2 easily. I'll leave that up to you :).

[2020-10-06 19:39] daltonfury42 commented on #331
Can I do it in the weekend?

Another thought: We are using a 3rd party phone number input and material UI's text box. Changing their styling might be pain. Can we stick to the input boxes that we have, for now?

[2020-10-06 19:45] maaverik commented on #331
The thing that's hard to replace about the materialUI phone input is the flag that comes builtin. I personally like it a lot, and it makes it obvious that you're expected to enter the right country code. So my opinion is to keep it at least until we face said styling issue or find a good alternative.

[2020-10-07 03:49] daltonfury42 commented on #331
right. It's a different library than material UI that Sajmal found. It's working well for us: https://www.npmjs.com/package/react-phone-input-2

We are using their material ui theme. So let's keep the input boxes as is (material like) and implement the rest.

[2020-10-07 16:53] maaverik commented on #296
Thanks for the PR @Vishv07. Great job.

[2020-10-07 16:53] #296 closed

[2020-10-08 07:04] sajmalyousef opened #365 "Join Queue not working"
**Describe the bug**
Join Queue button does not work in the join queue page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://simplq.me/j/AbcQueue
2. Click on Join Queue.'
3. not able to join

**Expected behavior**
User should be able to join AbcQueue

**Screenshots**

![image](https://user-images.githubusercontent.com/13188906/95425853-8e133300-0962-11eb-86b9-3826320fa0b9.png)

[2020-10-08 16:39] maaverik commented on #365
This is very interesting. Enter press works all the time even though enter press and the button click trigger the same function. Also, the button click when I have the dev tools window open and if not, the button click doesn't do anything.

[2020-10-08 16:40] sajmalyousef commented on #365
Why is the button not clickable?

[2020-10-08 16:41] maaverik commented on #365
It's a styling issue. Another div covers the button, that's why the dev tools window fixes it. I never thought something like this could occur.

![Screenshot from 2020-10-08 22-10-50](https://user-images.githubusercontent.com/12583528/95488476-3b159c00-09b3-11eb-9ead-8a770981aedb.png)

I'll check this sometime soon.

[2020-10-08 16:43] maaverik commented on #365
I think a z-index might be the easiest fix. @daltonfury42 what do you think?

[2020-10-08 17:16] maaverik commented on #365
#366

[2020-10-09 21:01] daltonfury42 commented on #362
When the user lands on the joining page, we make a call to the backend to get the queue details. The response now has a new "status" field which says if the queue is one of:
[code]

Sample response:

[code]

If the queue is active, the form is to be displayed. Otherwise we should display a message. @akashkbaburajan Do you want to design it, or I was thinking just a centered text and a button world

[2020-10-10 08:38] sofistoyanova commented on #292
is anyone working on it?

[2020-10-10 08:39] sofistoyanova commented on #303
can i take it?

[2020-10-10 08:57] maaverik commented on #303
Sure. Go ahead.

[2020-10-10 09:01] maaverik commented on #292
You can start on this if you want @sofistoyanova. If there aren't any open PRs and there hasn't been any progress on an issue for a while, feel free to work on it. Is anyone else working on this right now @iampankajgupta @deprov447 ?

[2020-10-10 18:40] #193 closed

[2020-10-10 19:20] daltonfury42 commented on #353
![image](https://user-images.githubusercontent.com/11256376/95663288-a8fcc780-0b5b-11eb-93b9-b0c481b8a2d8.png)

It's confusing for people we need to grey it out. On hover some tooltip should tell why it's disabled.

[2020-10-11 09:04] sajmalyousef commented on #365
This has been fixed

[2020-10-11 09:12] mubashiralisiddiqui commented on #303
Pull request created for this issue please review it
https://github.com/SimplQ/simplQ-frontend/pull/375

[2020-10-11 10:48] Vishv07 commented on #315
Hey @daltonfury42, So I have made one mockup, kindly check

https://www.figma.com/file/mUbKhO71H6F6bsm3se15CC/Untitled?node-id=0%3A1

[2020-10-11 11:21] maaverik commented on #365
Check if #366 looks okay. I think there aren't any more problems.

[2020-10-11 15:31] daltonfury42 commented on #315
I like this. Let me ask Akash.

On Sun, 11 Oct 2020 at 4:18 PM, Vishv <notifications@github.com> wrote:

[2020-10-11 16:07] akashkbaburajan commented on #315
This looks real nice 👍👍

[2020-10-11 16:23] Vishv07 commented on #315
@daltonfury42 than let me know,  so I'll Open a PR Tomorrow

[2020-10-11 18:37] daltonfury42 commented on #315
Sure, please do.

[2020-10-12 17:51] #365 closed

[2020-10-17 07:23] daltonfury42 commented on #327
Raised PR for home page https://github.com/SimplQ/simplQ-frontend/pull/378

[2020-10-19 07:22] Vishv07 commented on #315
#388

[2020-10-20 06:24] #323 closed

[2020-10-20 07:54] daltonfury42 opened #389 "Explore and Integrate One Tap"
https://developers.google.com/identity/one-tap/web

This would greatly improve sign ups, we should definitely integrate this if possible:

![image](https://user-images.githubusercontent.com/11256376/96557632-23ee7c80-12d8-11eb-996b-c4ce37e4b5ba.png)

If someone is already signed into google in their browser, they would be encouraged to login to our site too. And it's looking very neat and seamless

[2020-10-20 07:55] daltonfury42 commented on #389
Our current Login Code:

https://github.com/SimplQ/simplQ-frontend/blob/new-frontend/simplq/src/services/auth.js
https://github.com/SimplQ/simplQ-frontend/blob/new-frontend/simplq/src/components/common/LoginButton.jsx

[2020-10-20 07:56] daltonfury42 commented on #389
@Vishv07 This is looking very interesting, and I was planning to try this out next weekend. If you are interested, you can take this up ahead of me.

[2020-10-20 12:28] #327 closed

[2020-10-23 12:29] Vishv07 commented on #389
Seems like, there's already google stuff has been done, so we should configure now one tap. Thats what you thinking.

[2020-10-24 09:40] daltonfury42 commented on #389
I think you can explore one tap, see if it will augment the current setup.. but in case you feel that it will be a better replacement, we can do that. Let me know in a draft PR.

[2020-10-24 14:25] daltonfury42 commented on #389
@Vishv07 I'd prefer you replacing the current implementation with a cleaner one, if one tap provides one.

[2020-10-26 08:26] maaverik commented on #292
The main position container is done now. As for the token number, I personally feel like it looks better with just the text and no background color. So closing this issue for now. Will reopen a new one if required.
![Screenshot from 2020-10-26 13-56-07](https://user-images.githubusercontent.com/12583528/97149654-10895880-1793-11eb-888e-22ed0b1e3d1e.png)

[2020-10-26 08:26] #292 closed

[2020-10-26 08:30] maaverik commented on #338
@sajmalyousef can this be closed now?

[2020-10-26 17:34] #320 closed

[2020-10-27 03:53] #315 closed

[2020-10-27 09:36] Vishv07 commented on #389
Okay, I'll have a look at this weekend @daltonfury42

[2020-10-31 07:57] daltonfury42 opened #403 "Admin Page for deleted queues"
If someone deletes their queue and goes back using the browser back button to the admin page again, they see the old admin page as it was before. Can we at least show a message in the main admin container saying 'Your queue was deleted' or something like that?

_Originally posted by @maaverik in https://github.com/SimplQ/simplQ-frontend/pull/399#issuecomment-719898266_

How should the admin page l

[2020-10-31 07:58] sajmalyousef commented on #353
This needs to be addressed

[2020-10-31 20:36] daltonfury42 opened #406 "Fix Sonarqube Reported Issues"
Sonarqube has reported some issues in our codebase, we should resolve them.

https://sonarcloud.io/project/issues?id=SimplQ_simplQ-frontend&branch=master&resolved=false&types=BUG

[2020-10-31 20:38] #338 closed

[2020-10-31 20:38] #331 closed

[2020-10-31 20:38] daltonfury42 commented on #325
Done

[2020-10-31 20:38] #325 closed

[2020-10-31 20:38] #316 closed

[2020-10-31 20:39] #303 closed

[2020-10-31 20:39] #359 closed

[2020-11-01 12:42] navaneeth-spotnana opened #408 "Fix centering on the header section mobile view for admin page"
It looks like this messes up the centering on the header section mobile view which is present on the main site.

![Screenshot from 2020-11-01 16-29-23](https://user-images.githubusercontent.com/12583528/97800985-7ed08e00-1c5f-11eb-9304-b5753d7cfdd2.png)

The header section is the only problem. The rest of the page looks better now on mobile.

_Originally posted by @maaverik in https://github.com/S

[2020-11-02 14:01] Vishv07 commented on #389
@daltonfury42  Hey dude, I am not recovered yet. Really sorry that I couldn't able to give time to this task. will start working back once I'll be fine

[2020-11-02 19:11] daltonfury42 commented on #389
Sure, no problem. In the meantime, I was working on other aspects of the
site

On Mon, 2 Nov 2020 at 7:31 PM, Vishv <notifications@github.com> wrote:

[2020-11-03 04:37] rahulpatel596 commented on #406
Hey @daltonfury42 I'd like to work on this

[2020-11-03 05:04] daltonfury42 commented on #406
Sure, this would be a good starter issue

On Tue, 3 Nov 2020 at 10:07 AM, Rahul Patel <notifications@github.com>
wrote:

[2020-11-03 05:07] rahulpatel596 commented on #406
Hey! I have applied fix on my cloned repo for most of those error except with missing backup/generic font-family. Is there is any specific preference or anything for generic font-family or should I just add Helvetica?

<img width="980" alt="Screen Shot 2020-11-02 at 11 07 04 PM" src="https://user-images.githubusercontent.com/33618437/97951546-22a16300-1d60-11eb-95b5-41330817e189.png">

[2020-11-03 16:34] daltonfury42 commented on #406
I’m not an expert at this, let’s go ahead with this.

Do a ‘yarn run lint’ to fix linting

On Tue, 3 Nov 2020 at 10:37 AM, Rahul Patel <notifications@github.com>
wrote:

[2020-11-03 17:07] daltonfury42 opened #413 "Style Token Number display on Status Page"
Go to home page, create a new queue, copy the queue url and use it to join the queue. When you fill name and mobile number, you join the queue and reach the token status page.

Currently the token number is simply displayed:

![image](https://user-images.githubusercontent.com/11256376/98017167-e421ac00-1e24-11eb-8c97-f528c9fcff95.png)

Sample Page Link: https://www.simplq.me/token/1c2ad215-100e-48

[2020-11-03 17:11] daltonfury42 opened #414 "Style Middle Section of Status Page"
The toke status page currently looks like this:

![image](https://user-images.githubusercontent.com/11256376/98017555-6f02a680-1e25-11eb-9927-78a5b56a914c.png)

The content of the card in the middle (outlined in red) needs to be styled as per the design to look like:

![image](https://user-images.githubusercontent.com/11256376/98017668-95284680-1e25-11eb-93bb-ae1abeacb7ac.png)

Design Link: https:

[2020-11-03 17:53] maaverik commented on #414
This is partially done already except for the above screenshot where there's no one ahead of the user. In that case, we could make the text more appealing somehow. In other cases, it would look like this.
![Screenshot from 2020-11-03 23-21-11](https://user-images.githubusercontent.com/12583528/98022344-80e74800-1e2b-11eb-9d72-4e4882342af1.png)
The formatting doesn't match the design exactly, so th

[2020-11-03 18:47] daltonfury42 commented on #414
Oh I see. This looks done to me, then. We should ask @akashkbaburajan to think about how to make it more attractive in the other states

[2020-11-05 12:37] daltonfury42 opened #416 "Design: Section at the end to encourage people to try it out"
When the user scrolls down at the homepage, at the end, before the footer, we can keep one more block like this:

![image](https://user-images.githubusercontent.com/11256376/98242074-e5241c00-1f91-11eb-9c2b-1ef69509e2d0.png)

This might help a bit with conversion rate. Check out https://wistia.com/

[2020-11-05 19:26] rahulpatel596 commented on #413
@daltonfury42 Yeh, I'd like to work on this one.

[2020-11-05 20:42] daltonfury42 commented on #413
Awesome, what's your approach going to be?

[2020-11-05 23:39] rahulpatel596 commented on #413
I think it should be straight forward as information is already available there. I simply need to make some divs and give styling.

<img width="259" alt="Screen Shot 2020-11-05 at 5 39 06 PM" src="https://user-images.githubusercontent.com/33618437/98308503-d0de2000-1f8d-11eb-8e99-24e704a04c3b.png">

[2020-11-06 05:10] daltonfury42 commented on #413
👍 We can then `position: absolute` this to the parent div (the white main section, I think.

We would have to make it work on mobile after doing this, on mobile we will see if it's better to keep it positioned like that, or should we use media queries and center it or so. That call we can take once the component is done.

[2020-11-08 06:55] rahulpatel596 commented on #413
Hey @daltonfury42
I have this UI almost ready. I am just wondering on top cap part of the threads, Do you have svg or something or should I may be add some stores to element or something.

<img width="381" alt="Screen Shot 2020-11-08 at 12 54 20 AM" src="https://user-images.githubusercontent.com/33618437/98459094-f66d5400-215c-11eb-962c-4677c94b1265.png">
<img width="619" alt="Screen Shot 2020-11-

[2020-11-08 10:07] maaverik commented on #257
This is a clever idea for the cost issue, but I'm not too optimistic that anyone would really use this. Firstly, it's money from their own pockets and secondly, they'd be letting an app send messages from their phones which is very very rare for apps. I've only ever seen this during UPI account verification. Maybe one day when simplq has good reputation, people would trust it enough to allow sendi

[2020-11-08 10:36] daltonfury42 commented on #257
**Whatsapp vs SMS:** SMS is more universal, everyone who has a mobile number would receive text messages. Imagine a clinic in Kerala wants to use SimplQ, and the receptionist would add patients to queue manually, and then telling them, "Uncle, your token number is 18, you will also recieve receive an SMS on your mobile with token number." might cover 90% patients, while a lot of people might not h

[2020-11-08 11:17] sajmalyousef commented on #257
![DAA8B44A-EFB2-4719-8CBA-5A7753B94EA3](https://user-images.githubusercontent.com/13188906/98463517-b13f3580-21e1-11eb-83a9-1e163e2d85e7.jpeg)

The number maybe off by a bit, but is this a big deal , assuming
1. only tech savvy people would initially adopt our app
2. Queue status page is built on the assumption that people would have smartphones and data.

[2020-11-08 12:22] daltonfury42 commented on #257
@sajmalyousef what's the conclusion? Should we have SMS or not?

[2020-11-08 12:47] daltonfury42 commented on #257
Regarding your points at the end, we should try to keep the core features of the app in such a way that we can accommodate non-tech savy people as well. Queue status page is not a core feature. In a non-tech savy environment, where the percentage of mobile users are higher, the status page will not be used by a lot of people. But if still the system becomes usable in such a scenario to more people

[2020-11-08 13:36] daltonfury42 commented on #413
We don't have it, if it's possible to have, let's do, but if it would take effort, I think what you have currently will work for us

[2020-11-09 00:02] iamalexk commented on #416
Hi @daltonfury42 do you think I could give this issue a shot?

[2020-11-09 12:08] daltonfury42 commented on #416
Yes sure, we don't have designs ready for this section, but this is simple new section, so you can get creative.

[2020-11-09 12:09] #406 closed

[2020-11-10 02:28] rahulpatel596 commented on #413
@daltonfury42 Can you review my PR and close this issue and my PR. Thanks :)

[2020-11-23 04:48] #413 closed

[2020-11-27 04:22] daltonfury42 opened #421 "Make Share Queue a Primary Button"
A new user, who is trying out SimplQ for the first time, creates a queue, and he will see this page:

![image](https://user-images.githubusercontent.com/11256376/100410485-e4643e80-3094-11eb-9f58-943648e0b85f.png)

We need his eyes to unconsciously fall on the Copy to Clipboard button, one thing we can do is to make it a primary button. The color change on clicking it, adds interactivity, but we c

[2020-11-27 04:23] daltonfury42 commented on #421
An example where this concept is put to use:

![image](https://user-images.githubusercontent.com/11256376/100410964-525d3580-3096-11eb-86ac-7415d6c8eace.png)

[2020-11-27 04:30] daltonfury42 commented on #389
@Vishv07 are you still interested in taking this up?

For now I have hidden away the login button.

https://github.com/SimplQ/simplQ-frontend/commit/10e0db21124c19c59d9a23a66d4b88736f41166b

[2020-11-27 16:58] maaverik commented on #421
It's a good idea, let's do it.

[2020-11-27 17:37] daltonfury42 commented on #416
@iamalexk are you still interested in doing this?

[2020-12-07 06:17] Vishv07 commented on #389
are you still working on this? @daltonfury42

[2020-12-07 09:10] HJain13 opened #422 "Add an option to create a new queue/ entering new code if no queue by that code exists"
**Is your feature request related to a problem? Please describe.**
I was just trying it out, and instead of clicking create button, clicked join button; 404 came up

**Describe the solution you'd like**
While 404 is serviceable, A page explicitly mentioning a queue doesn't exist and prompting to either create one or enter a new code might be a better UX

[2020-12-07 10:31] daltonfury42 commented on #389
No, it's up for grabs

[2020-12-08 07:29] maaverik commented on #422
Adding a prompt to create a queue wouldn't be the best idea since people who want to join a queue wouldn't want to create one. In case they clicked mistakenly, they can go to the home page. But a page specifically saying that the entered queue doesn't exist and having an option to enter another queue name to join would be good.

Or, more easily, we could modify the navigation to just show the popu

[2020-12-08 14:40] daltonfury42 commented on #422
This is what happened: @HJain13 wanted to try out SimplQ, so he entered a new queue name, and unconsciously clicked on the Join queue button instead of create queue. We served him 404 page, and since he made this mistake unconsciously, he is now wondering if the site is down.

![image](https://user-images.githubusercontent.com/11256376/101497233-c2ba5f80-3990-11eb-864a-edf76d96ab73.png)

Better UX

[2020-12-08 14:47] daltonfury42 commented on #422
Rough idea, instead serve this in such scenarios:

![image](https://user-images.githubusercontent.com/11256376/101498686-67896c80-3992-11eb-992c-fbd5a254dc4e.png)

[2020-12-10 11:09] daltonfury42 opened #423 "Implement Admin Page Tutorial"
There is a tutorial on visiting the admin page for the first time. This is an independent task that can be taken up:

![image](https://user-images.githubusercontent.com/11256376/101764516-2a45eb80-3b06-11eb-94a7-9ad9ff1af510.png)

How to do this, we need to figure it out. 🤔

[Design Link](https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/95f74aec-6b57-4ddd-bcf1-97bb5a8786f

[2020-12-12 17:13] daltonfury42 opened #424 "Show Queue Stats On Queue Joining Page"
It will be good to show the total number of people in the queue, before the user joins the queue. We could show the entire queue stats in the joining page.

[2020-12-12 17:16] daltonfury42 opened #425 "Add Configurable Max Queue Capacity Limit"
Admin can optionally configure a max capacity, after which new people will be put on hold.

This might add value in certain situations, but I am a bit reluctant, as it's not a core feature. For example, admin can also adjust without it, I feel.

[2020-12-12 18:19] sajmalyousef commented on #424
Sounds like a great idea , this would help people avoid crowded places

[2020-12-12 19:17] maaverik commented on #424
https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/e654742e-fb91-4a5c-83d6-4dff807e03ea/?fullscreen

It's part of the original design, we just hadn't gotten around to it. @sajmalyousef, the intent of simplq is for people to not have to go anywhere till their turn is up, whether it's crowded or not, right?

[2020-12-12 19:30] daltonfury42 commented on #424
While someone can always use SimplQ for getting people to join remotely and
arrive just in time, I think it’s practically difficult for a traditional
business to adapt this model. There could be other scenarios where you
remotely wait in a queue, though.

This is just my view, but our goal should be to keep the product as generic
as possible, so that anyone can use it in any way they want.

On Sun

[2020-12-13 08:31] daltonfury42 commented on #165
Raised https://github.com/SimplQ/simplQ-frontend/pull/428 to address this

[2020-12-13 09:50] #165 closed

[2020-12-13 09:50] daltonfury42 commented on #164
Resolved by https://github.com/SimplQ/simplQ-frontend/pull/429

[2020-12-13 09:50] #164 closed

[2020-12-13 09:53] daltonfury42 opened #430 "Integrate QR Code to share queue link"
Just like "Copy to Clipboard", I am thinking of having a "Generate QR Code" button, that will generate a printable QR code that the admin can take and send to people or print and stick somewhere if they want to.

![image](https://user-images.githubusercontent.com/11256376/103101973-f7d8da00-463f-11eb-8240-3e6fbbb910c7.png)

We will have to find and integrate a library that will generate QR codes.

[2020-12-13 14:09] daltonfury42 commented on #353
Done

[2020-12-13 14:09] #353 closed

[2020-12-15 13:29] ahsanbagwan commented on #421
I'm seeing an height inflated after replacing the original style with this. Could someone let me know what I'm doing wrong?

[code]

[2020-12-15 15:51] daltonfury42 commented on #421
Hi @ahsanbagwan I did not completely understand, can you send me your branch link so that I can take a look?

[2020-12-15 17:02] ahsanbagwan commented on #421
Thanks, could you suggest how to push my branch. I see this error: fatal: no upstream configured for branch '#421-primary-share-button'

Not letting me push the local master branch as well.

[2020-12-15 17:57] daltonfury42 commented on #421
Try this:

[code]

Just in case it didn't work, let me know what is the output of `git remote -v`

[2020-12-16 11:03] ahsanbagwan commented on #421
The output of `git remote -v`

origin  https://github.com/SimplQ/simplQ-frontend.git (fetch)
origin  https://github.com/SimplQ/simplQ-frontend.git (push)

This is the error message outputted when I try to set upstream:

fatal: The current branch #421-primary-share-button has no upstream branch.
To push the current branch and set the remote as upstream, use

    git push --set-upstream origin #421-

[2020-12-16 13:33] daltonfury42 commented on #421
You don't have access to push commits to our repository. You will have to fork it first, then you can clone it, and there it should work.

https://gist.github.com/Chaser324/ce0505fbed06b947d962

[2020-12-19 16:16] daltonfury42 commented on #421
@maaverik Our buttons code looked a bit overly complicated. I am going to attempt to remove storybook for buttons, and use standard buttons directly. [Here](https://github.com/SimplQ/simplQ-frontend/pull/436) is a draft PR.

[2020-12-20 07:25] daltonfury42 commented on #389
I am going to give this a shot

[2020-12-20 16:22] #421 closed

[2020-12-20 17:09] daltonfury42 opened #439 "Temporary Queue Warning for Unregistered Users"
![image](https://user-images.githubusercontent.com/11256376/102719374-baa8db00-4313-11eb-88b4-4c4463595c02.png)

Display a ribbon on admin page if the user has not logged in. The text can be fixed later.

Use `isLoggedIn()` in [auth.js](https://github.com/SimplQ/simplQ-frontend/blob/master/simplq/src/services/auth.js) to check if user is logged in or not.

[Design Link](https://xd.adobe.com/view/a

[2020-12-20 18:41] yahsashay commented on #439
** want  to work on this issue **
we want only the orange color ribbon, not the text and a cross button

[2020-12-20 18:50] daltonfury42 commented on #439
Sure go ahead. This is a easy issue that can get you started.

We can have the ribbon, the text as in the design and the close button.
Let’s keep the same text as in the design, it can be modified later.

On Mon, 21 Dec 2020 at 12:11 AM, yahsashay <notifications@github.com> wrote:

[2020-12-23 09:34] AleemRehman commented on #416
@daltonfury42 is this something I can pickup as first issue?

[2020-12-23 09:35] AleemRehman commented on #422
@daltonfury42 I can pick this up?

[2020-12-23 10:13] daltonfury42 commented on #416
Hi @AleemRehman This might be the easiest task you can take to get set up the code and warm up. Later you can move to #422

[2020-12-23 10:22] daltonfury42 commented on #422
Sure. What solution do you have in mind? Simplest way that I could think of is to check from the 404 page component if the url matches the regex `/j/[A-Za-z0-9-]*$` if yes, render different text.

It might be a good idea to build the regex in one place inside [this](https://github.com/SimplQ/simplQ-frontend/blob/master/simplq/src/components/common/utilFns.js#L7) file and reuse. What do you think?

[2020-12-23 19:31] AleemRehman commented on #416
@daltonfury42 I'll get to working on this ASAP and update you!

[2020-12-23 19:33] AleemRehman commented on #422
That sounds like a good solution, will get to work proofing that out @daltonfury42

[2020-12-26 11:07] shubh128 commented on #439
I would like to work on this issue if it's not already being resolved

[2020-12-26 14:22] daltonfury42 commented on #439
Yes, you can take this up. @yahsashay has not send in a PR yet.

[2020-12-27 16:08] shubh128 commented on #439
![image](https://user-images.githubusercontent.com/48080672/103174811-21d20c80-488b-11eb-8288-672cc712db7f.png)
I was able to show a warning with this design. However I'm unable to match the exact design required as I can't figure out the CSS. Let me know if this design works for you or if you can help me with the CSS.
Also I was getting some errrors due to CORS being blocked.

[2020-12-27 18:01] daltonfury42 commented on #439
Send a PR, this is looking just great. I will review it there.

Tiny change: I guess keeping it on top might not be straightforward.  We can display the ribbon it between the navbar and the violet region (above the title). That way you don't have to position it absolutely.

Can you show me the CORS error, few screenshots would help.

[2020-12-28 06:15] shubh128 commented on #439
![image](https://user-images.githubusercontent.com/48080672/103193229-d4dd4d00-4901-11eb-9947-9c9ae55ea182.png)
I get this error when opening the queue page without signing in.
![image](https://user-images.githubusercontent.com/48080672/103193261-ed4d6780-4901-11eb-89b7-df737cbbe08a.png)
I encounter this error when signing in after creating the queue.

I have sent a PR. You can review the changes

[2020-12-28 06:53] maaverik commented on #439
@daltonfury42, I believe this error is specific to firefox and it's way of handling CORS. I usually see it too while running locally. @shubh128, could you try opening the app in chrome for debugging. I never have this problem in chrome.

[2020-12-28 14:09] AleemRehman commented on #416
@daltonfury42 what would you like these buttons to link to? Both the `create a queue` and `join a queue` buttons already exist on the page?

[2020-12-28 14:21] daltonfury42 commented on #416
Let's have a "Start Now" button, which on click will [smoothScrollToHomePageTop](https://github.com/SimplQ/simplQ-frontend/blob/master/simplq/src/components/common/utilFns.js#L24)

[2020-12-29 16:44] daltonfury42 commented on #416
Thanks, @AleemRehman for adding this section. Our master branch is deployed to https://dev.simplq.me so you can see your changes there.

![image](https://user-images.githubusercontent.com/11256376/103299568-da7e8400-4a22-11eb-9d95-41b234a2f6d3.png)

Do you think this svg will look good in the background of the section? @AleemRehman

[2020-12-29 19:24] AleemRehman commented on #416
@daltonfury42 I think it would make sense if the SVG didn't incorporate the ATM element too. The graphical style isn't really in line with the graphics used on the rest of the page either, some examples I'm referencing here:
<img width="1611" alt="Screenshot 2020-12-29 at 19 23 36" src="https://user-images.githubusercontent.com/18561224/103308893-7c927200-4a0b-11eb-9b00-ce5add69d753.png">

[2020-12-30 17:08] #416 closed

[2021-01-03 17:16] #414 closed

[2021-01-03 17:17] #277 closed

[2021-01-03 17:30] daltonfury42 commented on #430
https://qrcode.tec-it.com/en/Url

[2021-01-03 20:50] Vigenh199 commented on #430
Hi, can I be assigned to this issue?

[2021-01-04 03:24] daltonfury42 commented on #430
Sure go ahead, we don't generally assign issues, but if you send a PR, it will be accepted.

When you scroll down to the footer on any page, there is a link to the [Terms of Service](https://www.simplq.me/privacy#terms-of-service) page. I am thinking that you take the page as a reference, and build a similar component/page for displaying a QR code. Code is [here](https://github.com/SimplQ/simplQ-f

[2021-01-04 10:29] Vigenh199 commented on #430
Thank you for reply, I will try to solve this issue

[2021-01-05 13:35] Vigenh199 opened #447 "Problems with header logo on privacy policy page"
**Is your feature request related to a problem? Please describe.**
A  SimplQ header logo isn't showing fully on [simplq.me/privacy](https://simplq.me/privacy)

**Describe the solution you'd like**
I want to add a space between logo and navbar.

**Describe alternatives you've considered**
I've not considered any alternatives.

**Additional context**
![privacy logo issue](https://user-images.githubu

[2021-01-05 14:11] daltonfury42 commented on #447
Hi @Vigenh199 thanks for pointing this out. Our Navbar has a fixed height of `4rem` so the easiest fix is to add a `margin-top: 4rem` to the header section.

But I want to take a slightly better approach as use padding and increase the min-height instead, so that in case the navbar does away in the future, the void won't be filled with blank margin space.

[2021-01-05 21:37] #447 closed

[2021-01-08 15:24] daltonfury42 opened #450 "Buttons on Hover should change pointer to Hand symbol"
![image](https://user-images.githubusercontent.com/11256376/104032032-92661b00-51f3-11eb-964d-b50b73749aec.png)

On hovering over our standard buttons, the mouse pointer doesn't change like in normal buttons.

[2021-01-08 17:25] Harshit850 commented on #450
@daltonfury42 will fix it.

[2021-01-08 19:33] #450 closed

[2021-01-08 19:41] daltonfury42 commented on #450
Hi @Harshit850 I accepted #451.

If you'd like to contribure, do you want to take over https://github.com/SimplQ/simplQ-frontend/pull/442?

[2021-01-09 08:31] Harshit850 commented on #450
Thanks for asking but currently i am working on some other project, once it's done i will get back to #442

[2021-01-12 13:56] oysters76 opened #455 "The pencil tool in the queue view page should have a tooltip"
The pencil icon in the queue view page is a bit confusing. When the queue is empty, you can
click on the pencil icon, but it doesn't give any response. There is also no tool-tip to specify what
it is meant to do.

Maybe when the pencil tool is clicked, the name of the queue should be editable. If the tool is not meant to
be clickable at that stage, maybe it should be disabled? However, I think it

[2021-01-12 15:41] daltonfury42 commented on #455
Right, this and there are two more ([Pause Queue](#362) and Queue History) other interactive elements in the page that is there as per the design, but I never implemented.

We should remove the pencil button from the header, as there is no backend support for it, and I don't think it adds a lot of value.

[2021-01-12 16:11] oysters76 commented on #455
I think the pencil tool would be useful in editing the queue name, I think it would improve the user experience.

[2021-01-12 16:46] oysters76 commented on #455
Would it be possible for me to implement this? Is there back-end functionality to edit the queue name?

[2021-01-12 17:23] oysters76 commented on #455
@daltonfury42  I went ahead and removed the pencil tool icon from the page. Thanks

[2021-01-12 17:36] #430 closed

[2021-01-12 17:43] daltonfury42 commented on #455
Thanks to you. The idea behind the pencil was to edit and add a queue description. Which will be visible to people who join/wait in the queue. But there was no backend support added for it.

You can take a stab at #362 if you are interested.

[2021-01-12 17:44] #455 closed

[2021-01-12 17:48] #439 closed

[2021-01-13 04:45] daltonfury42 opened #459 "QR Code Modal Should Have a Close Button"
Go to https://dev.simplq.me After you create a queue and click on the modal to generate the QR code, we need to have a "Close" Button next to the "Print" button.

![image](https://user-images.githubusercontent.com/11256376/104407513-c04ab700-5587-11eb-8115-25df7bc2751d.png)

This is required as, on smaller screens, this Modal takes up full screen space, and it's difficult to close it:

![image](ht

[2021-01-13 08:34] prabureddy commented on #459
Ok, I will work on this...

[2021-01-13 14:19] abhishekpatel946 opened #461 ""Login Failed. Please try again" PreventDefault"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.simplq.me/'
2. Click on 'Home'
3 See error 'Login Failed. Please try again.'

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/46045014/104463193-798

[2021-01-13 18:23] #459 closed

[2021-01-13 18:26] daltonfury42 commented on #461
Thanks @abhishekpatel946 for reporting this. I can reproduce the issue on Incognito.

[2021-01-13 18:49] prabureddy commented on #461
@abhishekpatel946 Everything works fine in my system. Clear your cache, site settings and check again.

[2021-01-13 19:05] prabureddy commented on #422
What is the difference of adding these above two buttons? Both the button in this above page will redirect the user the same page right? If not where will the user land if they click these two buttons?

[2021-01-13 19:10] daltonfury42 commented on #461
Definitely we need better error here. I've raised #462 once that goes in, we will get more logging. On Incognito login fails due to cookies not being enabled, we will have to figure it out later.

![image](https://user-images.githubusercontent.com/11256376/104497911-0b54e080-5601-11eb-9b71-6804f8e6b883.png)

[2021-01-13 20:21] daltonfury42 commented on #422
Create Queue will create the queue and take him to the admin page. Return home goes to home page.

[2021-01-13 20:26] prabureddy commented on #422
But where will he write the queue name to create queue? Do we have to create a text box on this page?

[2021-01-13 20:32] daltonfury42 commented on #422
Best is to have a text box and pre-fill it with the queue name he had entered in the previous screen. The name he had entered while in the home page, that got him to this page.

But if we are going that route, we would want to somehow refactor out the [CreateJoinForm](https://github.com/SimplQ/simplQ-frontend/blob/master/simplq/src/components/pages/Home/CreateJoinForm.jsx) from home page into comm

[2021-01-13 20:41] maaverik commented on #422
Prefilling a text box is a good idea. How about also having a join queue button here? Someone could end up in this page if they misspelled their intended queue name. This way, they can modify and try again with ease. So essentially the whole CreateJoinForm can be reused like you said without having to make any changes to it.

[2021-01-13 20:43] daltonfury42 commented on #461
@abhishekpatel946 Can you try reproducing the issue on https://dev.simplq.me?

[2021-01-13 21:00] daltonfury42 commented on #422
Agreed, this is better.

[2021-01-14 03:36] abhishekpatel946 commented on #461
**I got the point of the problem.**

![image](https://user-images.githubusercontent.com/46045014/104541455-ab355d00-5647-11eb-8220-8d8a7eb7f62a.png)

_but if we `Allow all cookies` in Chrome then the prompt is not active._
**Note:-** Same thing happens in the incognito mode in Chrome.

[2021-01-14 03:38] abhishekpatel946 commented on #461
sure :+1:

[2021-01-14 18:24] #408 closed

[2021-01-16 11:39] sajmalyousef opened #471 "Integrate QR code scanning for the users joining the queue"
**Is your feature request related to a problem? Please describe.**
Currently we generate QR codes for the users who create queues, however inorder to join the queue users have to rely on other apps to scan

**Describe the solution you'd like**
A QR code scanning  option at the homepage, similar to the one below

![image](https://user-images.githubusercontent.com/13188906/104810808-3fa4e880-581d-11

[2021-01-16 13:43] daltonfury42 commented on #471
Now that we generate QR codes, I feel this is a good addition. That way people who don't have (or don't know if they have) a QR scanner can be covered. I could find two libraries which can do this:

https://www.npmjs.com/package/react-qr-reader
https://www.npmjs.com/package/react-qr-scanner

The first one has more stats (weekly downloads and stars on github), but it has not been updated for 2 year

[2021-01-16 16:00] daltonfury42 opened #473 "Explore Firebase Cloud Message for Sending Updates"
**Is your feature request related to a problem? Please describe.**
Currently our UI periodically calls the backend server to get updates. Plus we have a Refresh button:

![image](https://user-images.githubusercontent.com/11256376/104816424-15652200-5841-11eb-8bd3-aa35748fd21e.png)

**Describe the solution you'd like**
Can we use [FCM](https://firebase.google.com/docs/cloud-messaging) to push notif

[2021-01-16 16:24] #170 closed

[2021-01-16 16:51] daltonfury42 commented on #424
Go to home page and join an already created queue, like 'aa'. Currently the gage looks like this:

![image](https://user-images.githubusercontent.com/11256376/104817469-77c12100-5847-11eb-9155-07ee4dba004d.png)

When the page is loaded, we are already fetching the required stats for the queue from the backend:

[code]

We need to define a new component and use it in [here](https://github.com/Simpl

[2021-01-16 18:48] maaverik commented on #471
I agree that this is a good addition, but I'm not keen on using a floating button. It would make things inconsistent considering the create and join buttons aren't floating and even if we consider join will be used much more than the create button, we would need to have two floating buttons for join or just one which gives further options to join by name or QR (having two floating buttons feels to

[2021-01-16 19:29] daltonfury42 commented on #471
I was thinking of not adding a third button on the CreateJoin form. Thought of floating because then we don't need much of a change... Three buttons in a row is a bit cluttered, in my opinion.

[2021-01-16 19:42] maaverik opened #475 "Spinners modify page styles when active"
**Is your feature request related to a problem? Please describe.**
Many of our components use the flex-wrap CSS tag which makes them expand or shrink based on child components. I think because of this, the [LoadingIndicator](https://github.com/SimplQ/simplQ-frontend/tree/master/simplq/src/components/common/LoadingIndicator) component ends up changing the page styles whenever active. e.g.,

![Peek

[2021-01-16 19:45] maaverik commented on #471
I think we should make a design prototype first and compare to see which one looks cleaner and more consistent. I agree it would be less cluttered, but won't look consistent anymore.

[2021-01-17 08:52] promarcussmith commented on #423
I can take this up   @daltonfury42
 I have two options

1)   [**ReactTour**](https://www.npmjs.com/package/reactour).
2)   [**React-Joyrid**e](https://www.npmjs.com/package/react-joyride).

my vote goes to ReactTour.

Let me know your thought on this.

[2021-01-17 09:27] daltonfury42 commented on #423
Sure, let's use ReactTour. I'd suggest breaking this into multiple PRs, for the first PR, keeping it simple, how about:

Step 1: Add people to the queue manually
![image](https://user-images.githubusercontent.com/11256376/104836388-a8e73300-58d3-11eb-9ca9-27ab322da364.png)

Step 2: Share your queue with others if you want people to join on their own
![image](https://user-images.githubusercontent.c

[2021-01-17 11:23] daltonfury42 commented on #471
This is a quick approximation of what I had in mind, maybe we could use a different color. Can you come up with something quick for what you have in mind?

https://user-images.githubusercontent.com/11256376/104838563-b6a3b500-58e1-11eb-93fe-9379387152b0.mov

[2021-01-17 11:39] promarcussmith commented on #423
Agree with you. Working on it.

[2021-01-17 13:03] #389 closed

[2021-01-17 13:26] daltonfury42 commented on #473
@maaverik if we are doing this, does it makes sense to store such data globally in redux?

[2021-01-17 18:05] maaverik commented on #473
Do you see a case where that would be beneficial? I can't really think of any? Each instance of our site would only need FCM notifications for only one component, right (either admin or status component) ?

[2021-01-17 18:18] daltonfury42 commented on #473
I was thinking then that the updates would be easier. We would be writing a service file that will listen and process push notifications. This file can update the global store, and then any component listening to it will get the update/rerender.

We don't want to have the react component listen for update, we want to keep it outside of react components if possible.

[2021-01-17 18:19] maaverik commented on #471
It just looks a little weird to me because it's makes it seem like joining with a QR is the most common action on the site while I feel like joining with a queue name would be just as common for people to do, if not more.  Still, a floating button is a good idea on mobile. What do you think about a floating button that just says join and on clicking, it scrolls to the top where we have all 3 butto

[2021-01-17 18:30] maaverik commented on #473
Okay, I see your point. I was thinking of creating a service component and maintaining objects of it inside the status and admin components, but your idea sounds better. So you're saying maintain two redux state variables for admin and status which the respective components listen to and then use these in the service according to whether the client is a queue admin or member, right? Or did you mea

[2021-01-17 18:33] daltonfury42 commented on #471
In my view, joining by QR, sharing a link to the queue etc are just fancy add-ons that are not going to be used much. This is just my hypothesis, but I think 90% of the people will be added manually by the queue manager. That will be the primary method of getting people into the queue, if SimplQ gets used by a business.

Take for example a Rasta Cafe or a busy Truffles, or a hospital. People can a

[2021-01-17 18:39] daltonfury42 commented on #473
Yes. Think through it more though. When we move into this design, the network calls made by queue.js and token.js service files would also update the same store from within the service files itself. That way, those network call updating the local component states would also go out of the component files, and become more centralised, which I think is a better design.

[2021-01-17 18:42] daltonfury42 commented on #473
We are using redux toolkit, but the principles are borrowed from here: https://redux.js.org/tutorials/fundamentals/part-2-concepts-data-flow

[2021-01-17 19:26] maaverik opened #476 "Unauthorised admin page accesses should not result in page load"
**Describe the bug**
If we try opening the admin page of a queue created by another signed-in user, the page opens, although backend info doesn't come through. We shouldn't even show the admin page in cases like this.

**To Reproduce**
Steps to reproduce the behavior:
Open the admin link of a queue created by a different signed-in user. The page opens up with options even though the member list do

[2021-01-17 19:33] maaverik commented on #471
That's fair. My issue with this is just with the UI being inconsistent cause of this change. Either way, actual implementation isn't very hard it seems. Those libraries mentioned above should work fairly easily.

[2021-01-17 19:47] maaverik opened #477 "Signed in users should be the owners of their existing queues created in the same session"
**Is your feature request related to a problem? Please describe.**
If a user creates a temporary queue, and he signs in after that, the created queue is still not owned by anyone.

**Describe the solution you'd like**
All created ownerless queues in the same session as the user sign in should change to being owner by the user. This can be done by creating a random token when a temporary queue is c

[2021-01-19 04:29] daltonfury42 commented on #476
One option is to have a "Unauthorised" page in your [routes](https://github.com/SimplQ/simplQ-frontend/blob/master/simplq/src/components/Layout/Routes.jsx) like [PageNotFound](https://github.com/SimplQ/simplQ-frontend/tree/master/simplq/src/components/pages/PageNotFound).

Then whenever we make a network call, if backend returns (401, Unauthorised), we should take the user to the Unauthorised page

[2021-01-19 17:21] maaverik commented on #461
What would be the best way to suppress this error message for us? Should we just pass an extra argument to skip the handleApiErrors call in case this particular situation occurs?

[2021-01-19 17:25] daltonfury42 commented on #461
@maaverik This is not our API failing, but the google login library reporting a failure when trying to login. We should not suppress this message, but show it to the user, right? So that he enable cookies to login (which is saaad)

[2021-01-19 17:32] maaverik commented on #461
It makes sense to show this if he tries to login, but this shows up if a user simply opens the site, which ruins user experience in my opinion. Can we modify that initial login attempt somehow?

As for the message, can we change it to something like "Please enable cookies in your browser to login"?

[2021-01-19 17:34] daltonfury42 commented on #461
I see. If we disable it, we will have to see how login will happen when the user refreshes the page. 🤔

[2021-01-19 18:03] maaverik commented on #461
We don't need to disable it. I was thinking we could make error reporting optional for the initial login attempt on page load. Let it fail silently the first time the page loads.

[2021-01-19 18:06] daltonfury42 commented on #461
ACK. We should do that. Don't know how to detect this, have to check

This is not a axios request. It's happening [here](https://github.com/SimplQ/simplQ-frontend/blob/master/simplq/src/components/common/LoginButton/index.jsx#L30).

[2021-01-19 22:52] mathkruger commented on #475
Hi! I tried to simulate this error and I found out that the problem is not exactly with the LoadingIndicator component. I removed it in this screen and the problem is still there.

I believe the problem is with the two buttons that disappear when clicking in the button "Create Queue". I can solve this by creating a div that wraps the buttons and add this css code into it when the "createInProgress

[2021-01-20 04:31] daltonfury42 commented on #461
We could have a flag, and suppress the first time this happens. In case of affected users, first time should always be on page reload. We could do this with some flag, but just that we are doing a hack to cover up a bug. Server side OAuth flow might be a big task, but has a cost/complexity. Or we would have to think of a different auth provider that can give us google sign in, I don't know.

[2021-01-20 18:31] maaverik commented on #461
Let's go with the flag. Things are pretty simple and secure with google sign-in and so far, this is the only problem, right? I think it's tolerable.

[2021-01-21 17:43] promarcussmith commented on #423
@daltonfury42
I have Implemented the discussed tour guide.

Changes available on  promarcussmith:tourGuideImplementation

![image](https://user-images.githubusercontent.com/77528300/105389319-b5ee8400-5c3d-11eb-93af-d9133dc9b4cd.png)

![image](https://user-images.githubusercontent.com/77528300/105389575-fcdc7980-5c3d-11eb-8b54-ffc496ac8887.png)

[2021-01-22 23:35] mradenovic commented on #424
Queue Stats data already appears in [QueueDetails](https://github.com/SimplQ/simplQ-frontend/blob/master/simplq/src/components/pages/Status/QueueDetails.jsx) component. I could extract it and make a reusable component to be used in Join and Admin pages:

[code]

[2021-01-23 09:44] daltonfury42 commented on #424
I see, right. We should refactor this out, fix the alignment and reuse it.

![image](https://user-images.githubusercontent.com/11256376/105574885-6919c300-5d8d-11eb-8d41-2f202648cf6e.png)

I feel also that the Queue Details should be expanded by default, if you are going to work on this, you can take care of it?

[2021-01-23 10:26] daltonfury42 commented on #461
Summarising the discussion with @maaverik, we might be better off integrating to some other provider for auth, and he suggested [Okta](https://www.okta.com/).

I was checking it out, and Google doesn't provide SPA/React specific integration, but Octa does. So Octa might be cleaner to integrate, only that we have to pay after more than 1000 active user logins per month. This is good enough for us t

[2021-01-23 10:30] daltonfury42 commented on #461
While google has not cared to solve it in their client library, I can see that octa is trying to solve this as a Early Release feature.

![image](https://user-images.githubusercontent.com/11256376/105575756-e0eaec00-5d93-11eb-82eb-72bdbf23dab4.png)

[2021-01-23 10:47] #475 closed

[2021-01-23 11:00] Vishv07 opened #480 "Copy link should copy pure link not with some extra words"
[code]

This is what the Copy Button does
Instead of this, we can just copy the url alone
[code]
@daltonfury42

[2021-01-23 12:14] daltonfury42 commented on #480
Me and @sajmalyousef made it like this to record a demo video once. In the video, the user copied the link and shared it over Whatsapp.

Copying the url alone makes sense when you want to paste it in a new tab, but this won't be used by a real user.

cc @maaverik

[2021-01-23 12:20] Vishv07 commented on #480
That's Okay too.

I was comparing it with google meet's  copy URL process, We get URL only

This is also cool👍

[2021-01-23 14:21] daltonfury42 commented on #480
I just checked Google Meet, previously they were also adding some text, if I remember correctly.. but they seem to have moved to what you have suggested.

I'll close the issue for now, thanks!

[2021-01-23 15:23] mradenovic commented on #424
👍 I started working in it.

On Sat, Jan 23, 2021, 04:44 daltonfury42 <notifications@github.com> wrote:

[2021-01-24 10:43] maaverik commented on #473
I've been researching FCM for a bit and I think it doesn't fit our requirement since it needs user permission to work. If users don't allow notifications, the underlying push API that FCM uses can't work, and we need to get permission even though we intend to use FCM only for getting real-time updates from the server and not show notifications. (https://stackoverflow.com/questions/53403792/can-i-u

[2021-01-24 11:47] daltonfury42 commented on #473
Yes, asking for notifications is bad user experience.

[2021-01-24 21:46] mathkruger commented on #476
@maaverik Can I take this one?

[2021-01-25 16:17] #461 closed

[2021-01-25 16:40] mradenovic opened #487 "Suggestions list"
It's a lot of ideas. Before I clutter the tracker with a ton of new issues, let me know what you think.

**Use Github Discussions for open discussions**

Any of the following ideas will probably need a new issue and discussion, and all comments and critics are welcome 😄. But every discussion does not need an issue. I have never used [Github Dicussions](https://docs.github.com/en/discussions/quicks