[2021-01-25 20:11] daltonfury42 commented on #487
Hi @mradenovic Thanks a lot of this. There is a lot of great feedback in here.

**Use Github Discussions for open discussions:** I have never used this feature before, but looking at the docs, I feel we could find good uses for it. I will enable it, try to set up some topics, add some links to it from readme and lets see how it goes. This would take some time though.

**Use Project boards to organ

[2021-01-25 20:32] #422 closed

[2021-01-25 20:35] maaverik commented on #487
Agreed, these are great ideas @mradenovic. It might be slow, but we'll be able to achieve them I'm sure.

[2021-01-25 22:47] mradenovic commented on #487
This is where I could jump in. I feel like renaming would be the first thing to do, but I don't want to cause issues with a big change,

The link is wrong, did you mean [backend dev setup](https://github.com/SimplQ/simplQ-backend#development-envirmonment-setup-instructions)? Docker or deployment script would be great.

I'll look into this and open an issue for that.

👍 for SMS alerts 😄

[2021-01-26 07:01] daltonfury42 opened #489 "Dockerise SimplQ to enable self hosting"
As a first step to enable self hosting of SimplQ, we need to write a build script and a Dockerfile.

For now created an empty repository [simplQ-docker](https://github.com/SimplQ/simplQ-docker) and documented the requirements in the repo's Readme.

[2021-01-26 07:37] daltonfury42 opened #490 "Fix and reuse the page layout across all pages"
We should standardise and reuse a common layout across all pages. We have four main pages: Home, Admin, Join and Status. The general layout of all the four pages are like this:

![image](https://user-images.githubusercontent.com/11256376/105813899-89888e00-5fd6-11eb-8d42-fb6800afbe99.png)

![image](https://user-images.githubusercontent.com/11256376/105813933-94432300-5fd6-11eb-8fc7-3f935007e649.pn

[2021-01-26 07:44] daltonfury42 commented on #487
If you are going to tackle redesigning the page flow, that would be really helpful. I went ahead and created an issue and added my thoughts [here](https://github.com/SimplQ/simplQ-frontend/issues/490). Let me know what you think, if you have any different ideas, let us discuss there.

Can you create an issue for the naming conventions as well? For non-urgent issues that I think can be taken up by

[2021-01-26 08:58] #424 closed

[2021-01-26 14:31] mradenovic opened #492 "Streamline naming convention"
- All filenames except index.jsx should be in PascalCase (i.e. Join.jsx, Join.module.scss, Form.jsx)
- Use index.jsx to re-export classes from the folder
- Match route path with component name
[code]

Make small changes in the following order to avoid too much turbulence (pun intended 😄 ):
- [x] Components
- [x] Pages
- [x] Layout (matching should be done last)
- [x] Actions and request Factory

[2021-01-26 15:42] mradenovic commented on #490
With `grid` very complex layout can be achieved.
With `flexbox` the simplest approach would be to make all sections equal within the main content.

**Large screen**
![Large](https://user-images.githubusercontent.com/10821730/105867112-b337ba00-5fc2-11eb-8917-52815e1c291f.png)
**Medium screen**
![Medium](https://user-images.githubusercontent.com/10821730/105867118-b632aa80-5fc2-11eb-90ff-d6ae255a15

[2021-01-26 16:16] #487 closed

[2021-01-26 16:20] #257 closed

[2021-01-26 16:53] maaverik commented on #492
The only thing about this issue I have doubts about is 'Match route path with component name'. e.g., `Route path="/queue/:queueId"` points to the queue admin page (hence the component is named AdminQueue, we could shorten to Admin too), which requires a queueId to fetch info. Changing meaningful component names just to make it match the route name seems like overkill to me.

[2021-01-27 16:06] mradenovic opened #498 "husky pre-commit hook has different settings than lint-action"
`husky` `pre-commit` hook does not fix `.scss` or `.json` files, [lint-action](https://github.com/wearerequired/lint-action) does. Some lint ended in `master` branch, causing every new pull request based on `master` to add one extra commit `Fix code style issues with Prettier`.

[2021-01-27 16:34] #498 closed

[2021-01-27 18:21] mradenovic opened #501 "Use absolute imports"
Based on [docs](https://create-react-app.dev/docs/importing-a-component/#absolute-imports) and [research](https://stackoverflow.com/a/59195974/7234270) this:

[code]

can be turned this:

[code]

[2021-01-27 18:27] daltonfury42 commented on #501
Thanks, I didn't know this.

https://hackernoon.com/react-pro-tip-use-absolute-imports-for-better-readability-and-easy-refactoring-2ad5c7f2f957

[2021-01-28 22:36] #501 closed

[2021-01-29 13:11] mradenovic opened #503 "Home Page sends https request in a loop"
**Describe the bug**
After landing on a homepage, the page keeps sending `Request URL: https://devbackend.simplq.me/v1/queues` infinitely. I think it was introduced with PR #488.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `http://localhost:3000/
2. Open dev tools Networking tab

**Expected behavior**
I would expect page to make one request and display the data.

**Screenshots**

!

[2021-01-29 13:19] mradenovic commented on #480
@daltonfury42 I was confused with this too. It's just about wording.

**Copy Link:** `https://www.simplq.me/j/SarmagedonIII`
**Share:** `Hi! Use http://localhost:3000/j/Sear to join my queue and get live updates.`

[2021-01-29 13:21] daltonfury42 commented on #503
Yes, this should be my recent change. I can take a look in a few hours.

[2021-01-29 18:02] daltonfury42 opened #505 "Enforce lint checks as premerge check"
We had at some point removed the branch protection rule to allow merges only if lint checks passed. I think it was because too many new collaborators were finding it difficult to fix and merge, that we decided to disable it, and fix all at one go on out own.

Now we are at a stage were we can make one final fix and enable it back.

https://github.com/SimplQ/simplQ-frontend/issues/503 would have be

[2021-01-29 18:02] maaverik commented on #480
Calling the button Share instead of Copy Link does make more sense.

[2021-01-29 18:04] #503 closed

[2021-01-30 05:00] Vishv07 commented on #480
Exactly! @maaverik

[2021-01-30 05:31] daltonfury42 commented on #480
My thoughts:

"Share" has a slightly different meaning, it's generally to share to share via social media or some other app, especially on mobile. I feel we should not use the overloaded word "Share"

"Copy Link" is more clear as to what the button will do. It copies the link to clipboard. I guess you guys are right, we should just copy the link alone and not put the extra words.

I was looking at

[2021-01-31 04:54] #505 closed

[2021-01-31 12:42] maaverik commented on #480
How about having both copy link and share buttons like we see in the images above? We could implement the share button using something like https://www.npmjs.com/package/react-share. This way, the word share adheres to its usual meaning. And then the copy link button can be modified to give just the link.

[2021-02-01 11:01] Vishv07 commented on #480
That will work nice @maaverik

[2021-02-01 13:40] daltonfury42 commented on #480
Agreed. Can you create a task for this?

Then as a follow up, should we redesign this area:

![image](https://user-images.githubusercontent.com/11256376/106466232-1644b780-64c1-11eb-87ec-b7657a20fbad.png)

Too many big buttons :p

[2021-02-01 17:59] maaverik commented on #480
I'll make a task for the share button. I agree that one more button ruins the layout. Let's maybe brainstorm different layouts here for now.

[2021-02-01 18:12] maaverik opened #509 "Add a new button on the admin page to share queue info to different platforms"
Right now, we have a "copy queue link" button on our admin page that copies text in the form `Hi! Use https://www.simplq.me/j/dfgbfhb to join my queue and get live updates.` to the clipboard. The user then shares this link manually on different apps or paltforms.

Let's create a new button called `Share` that opens up a dialog showcasing different social media buttons and allowing the user to shar

[2021-02-02 12:51] Vishv07 commented on #509
I'll Open the PR this weekend 👍

[2021-02-02 16:04] prabureddy commented on #509
PR raised #510

[2021-02-02 16:34] daltonfury42 opened #511 "Footer doesn't stay at the bottom of Safari"
**Describe the bug**
Footer is coming on the landing page.

**To Reproduce**
Open https://dev.simplq.me on Safari

**Expected behavior**
Footer should be at the bottom of the page, seen only on scrolling to the end.

**Screenshots**
![image](https://user-images.githubusercontent.com/11256376/106630044-790d8000-65a1-11eb-88ce-3d2ffc55c175.png)

**Environment (please complete the following informati

[2021-02-02 18:44] prabureddy commented on #480
PR raised #510

[2021-02-02 19:00] prabureddy commented on #471
In my view, join by QR will be less used when compared to share using social media. This feature adds look to our website but not used much. So, let it be we can add this feature.

[2021-02-02 19:50] daltonfury42 commented on #471
Yeah. It adds look, but more than that, it boasts of a cool capability, even if nobody would ever use it.

I think if a real business adopts SimplQ, they would mostly greet customers and add them manually. 🤞

[2021-02-02 20:07] daltonfury42 opened #514 "Add Github Star Button to UI"
https://buttons.github.io/

We could add a star button to the UI somewhere. One option is to keep it on the navbar. Thoughts?

[2021-02-03 10:43] Vishv07 commented on #514
don't you think it'll look weird on the navbar ?

Umm, We can keep that on the footer or somewhere else?

[2021-02-03 12:21] mradenovic opened #516 "Move app logic into redux"
# Move app logic into redux

This can be done partially in small chunks. it would be nice to rename the Request Factory functions.
I'm not sure if the `fetch` or `get` prefix would be better for async actions.

[code]

## How to do it

For every server request:
- Create a new issue for the task and assign yourself or ask a maintainer to do so.
- Rename (or better recreate) request-factory function

[2021-02-03 12:41] mradenovic opened #517 "Refactor QueueDetails"
Refactor `QueueDetails` component to use redux. Possibly rename to `QueueStatus` to match the server logic.

- [x] Create a new issue for the task and assign yourself or ask a maintainer to do so.
- [x] Rename (or better recreate) request-factory function to properly represent the action.
- [x] Make an async action matching the request.
- [x] Add nice jsDocs.
- [x] Create reducers for the needed s

[2021-02-03 12:49] arkumari2000 commented on #511
Is this issue still there? Can I give it a try?

[2021-02-03 15:28] daltonfury42 commented on #511
This will be resolved by #512

[2021-02-03 15:28] #511 closed

[2021-02-04 03:39] mradenovic opened #518 "Refactor Join page component"
Refactor `Join` page component to use redux.

- [x] Create a new issue for the task and assign yourself or ask a maintainer to do so.
- [x] Rename (or better recreate) request-factory function to properly represent the action.
- [x] Make an async action matching the request.
- [x] Add nice jsDocs.
- [x] Create reducers for the needed state.
- [x] Redesign components to use redux state and actions.

[2021-02-04 04:15] daltonfury42 commented on #516
I will take up and finish some components, but can start only this weekend.

[2021-02-04 18:38] #509 closed

[2021-02-07 04:37] #517 closed

[2021-02-07 04:37] #518 closed

[2021-02-07 04:58] daltonfury42 commented on #514
I've seen if before on some sites, I tried looking for it, but could not find it. Let me see if I get a example.

[2021-02-07 06:22] daltonfury42 commented on #516
I am taking up [token status page](https://github.com/SimplQ/simplQ-frontend/tree/master/simplq/src/components/pages/Status).

[2021-02-07 09:35] maaverik commented on #473
I have to think through this more, but I'm thinking of two approaches right now. The idea is to make our update process event-driven; instead of every instance of our site constantly polling for updates, the server selectively sends updates. The queue admin gets updates only when some events happen on the queue with someone joining or leaving the queue, and for the queue members, we can handle cha

[2021-02-07 09:36] maaverik commented on #516
Let me try working on the admin page.

[2021-02-07 09:44] daltonfury42 commented on #473
@maaverik at the end, compare all the approaches taking impact to cost into account.

Our periodic refresh that we currently do works well, just that there is a 10s latency and people keep polling every 10s. Both of these are things we are fine with.

So whatever we do, since impact is low, we should make sure the cost is also low, to justify doing this.

For example, if we use something like webs

[2021-02-07 10:34] daltonfury42 commented on #480
This is resolved. Now we copy just the link, and there is a separate way to share the link as well. Thanks everyone for the thoughts and @prabureddy for the implementation, this is now looking good.

[2021-02-07 10:34] #480 closed

[2021-02-08 11:32] rafaelcsva commented on #514
here we've an example [akveo](https://akveo.github.io/nebular/)

[2021-02-08 15:39] daltonfury42 commented on #514
@Vishv07 is right, it might look a bit weird on our navbar. I'm thinking of dropping the idea.

[2021-02-08 18:13] maaverik commented on #514
What are your thoughts on something like this? https://tholman.com/github-corners/. I really like the animation.

[2021-02-08 18:40] daltonfury42 commented on #514
I'm liking it. We could try.

[2021-02-09 04:21] Vishv07 commented on #514
I'll give it a shot

[2021-02-14 07:58] daltonfury42 commented on #490
We need the flex-wrap style in where sections automatically wrap properly so that the same page works without much issues on both desktop and mobile.

[2021-02-14 13:45] mradenovic commented on #490
This is gonna be much easier to do once we are done with #492 and #516.

[2021-02-14 14:30] #514 closed

[2021-02-14 14:55] prabureddy commented on #490
@daltonfury42 We already using Layout Component in all pages right if I'm not wrong? I don't see any issue here. I think I don't understand this issue.

[2021-02-14 15:36] daltonfury42 commented on #490
We style the layout of each page independently. We should define some common css classes and reuse it across all pages.

[2021-02-14 17:38] maaverik commented on #222
This is not required anymore, so closing. If we ever want to explore this again, we can look at #227 or one of the other options mentioned above.

[2021-02-14 17:38] #222 closed

[2021-02-18 19:48] mradenovic opened #545 "Home page makes unnecessery fetch requests"
For a single page app, there are too many fetch requests, e.g., ``home page will trigger `getUserQueues` almost every time it is rendered. Some of these issues are addressed in #544. I also identified a - couple of more places/events that trigger it:

- [ ] On login - the app goes away and back to initiating page, causing a re-render. A possible solution is [loginWithPopup](https://auth0.github.io

[2021-02-20 17:33] daltonfury42 opened #548 "Fix Sonarqube reported Code Smells"
We have accumulated some easy to fix security vulnerabilities over the last few months over [here](https://sonarcloud.io/project/security_hotspots?id=SimplQ_simplQ-frontend&branch=master&resolved=false&types=SECURITY_HOTSPOT#).

These are straightforward easy fixes, good for a new comer to take up as a good first issue.

Once they are fixed, we should see if a branch protection rule can be set to

[2021-02-23 03:38] mradenovic commented on #516
I believe we are done here. If anything needs fixing, a new issue should be opened.

[2021-02-23 03:38] #516 closed

[2021-02-23 04:07] daltonfury42 commented on #516
This was a massive change, it's an enabler for us to do a lot of things with ease in the future.

@mradenovic Thank you for this! 🙏

[2021-02-26 17:04] hallelshohat commented on #548
I've made a pull request solving this issue

[2021-02-27 09:58] navaneeth-spotnana commented on #477
As a first step, I've added a unique device UUID which will be sent with every unauthenticated request to the backend. So, from now own, every anonymous user will see only their own queues.

Now we need to add a backend endpoint to migrate all resources created against such a UUID to a user and call it after the user logs in.

[2021-02-27 12:15] daltonfury42 commented on #548
Thanks @hallelshohat for fixing the security hotspots. Now what is left is some code smells that if anyone is interested, can go through and fix.

https://github.com/SimplQ/simplQ-frontend/pull/557

[2021-02-28 13:30] maaverik commented on #545
Item 3 and 4 have been taken care of in #556

[2021-03-02 20:19] maaverik opened #560 "Users get logged out on page refresh"
After logging in, if a user refreshes the page, they get logged out every time. We use the useAuth0() hook to check if the user is logged in, but seems like we're missing something or using it incorrectly.

[2021-03-03 00:03] mradenovic commented on #560
I don't see this problem even if I restart the dev server. Any specific steps to reproduce?

[2021-03-03 00:20] mradenovic opened #561 "Refactor Status page"
Since `Status` page represents token, all related components and classes should be refactored to reflect that.

- [x] Rename files
- [x] Rename clases
- [x] Add stories

[2021-03-03 05:07] daltonfury42 commented on #560
I think it works on chrome.. I can reproduce on Safari

[2021-03-03 05:26] maaverik commented on #560
For me, it works on Firefox, but not on Chrome. My OS is Ubuntu 18.04.

[2021-03-03 13:24] #492 closed

[2021-03-03 13:26] #561 closed

[2021-03-04 11:16] daltonfury42 commented on #560
I'll take a look this weekend.

[2021-03-06 06:18] daltonfury42 commented on #548
I have gone through the list of issues and resolved a few as false positive after our discussions on https://github.com/SimplQ/simplQ-frontend/pull/564

@maaverik @mradenovic If you get time, go through the codesmells and let me know if we need there are any more such false positives

[2021-03-14 15:17] maaverik opened #577 "Deleting or adding a token should modify state"
Currently, deleting and adding tokens on the admin page make the corresponding API calls but do not modify the selectedQueue slice which is used for showing the list of active tokens. This is not a big problem since we poll every few seconds and update the slice, so eventually we get the right state, but we should modify the slice to make things consistent on the UI.

The [deleteToken](https://git

[2021-03-14 15:21] maaverik commented on #423
This has been partially implemented so closing. We can open another issue later for any more specific hints we need.

[2021-03-14 15:21] #423 closed

[2021-03-14 18:02] mmendiratta commented on #362
Hello @daltonfury42, I am looking to pick up this issue. I have the project running locally now and wanted to know if there have been any changes since December, otherwise, I will get started on this. Thanks!

[2021-03-14 18:56] daltonfury42 commented on #362
Hi @mmendiratta Thanks for taking up this one. There would be other follow up tasks that you can do around this feature once this is done.

We are unblocked from the backend side. You can try creating a queue, and then send a post request to `/queue/<queue-id>` with the body:

[code]

where the `new-status` can be `PAUSED` or `ACTIVE`. Let me know if you face any issues.

[2021-03-14 18:57] daltonfury42 commented on #362
Currently it's a POST request, we will later change to a PATCH request, as it's more proper.

[2021-03-15 04:35] daltonfury42 commented on #425
We should have a new right side panel button to open a settings dialogue box, in which we can add this as a optionally configurable entry.

Right now the modal would look empty with just one configuration item, but soon we will add more.

![image](https://user-images.githubusercontent.com/11256376/111103509-a3753480-8574-11eb-820e-6926ad7211c7.png)

To set the max queue capacity, send a patch requ

[2021-03-16 03:04] daltonfury42 commented on #362
Right. Two things:

1) Ability for admin to pause and resume the queue

2) Users should not be allowed to join a paused queue with a link, he
should be presented a message in place of the join form

On Tue, 16 Mar 2021 at 7:25 AM, Manav Mendiratta ***@***.***>
wrote:

[2021-03-17 02:58] navaneeth-spotnana commented on #560
This could be why this is happening. We are using the developer keys for
social login. I’ll try if changing that does the job.

https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-is-the-user-logged-out-when-they-refresh-the-page-in-their-spa

On Thu, 4 Mar 2021 at 4:46 PM, daltonfury42 ***@***.***>
wrote:

--
[image: www.spotnana.com] <http://www.spotnana.com/>
Navaneeth Kishore

Softwar

[2021-03-18 06:54] maaverik commented on #560
In that case, is using the universal login mode described in the link what we should do?

[2021-03-18 07:30] daltonfury42 commented on #560
This is how our setup is:
[code]

For link A, we have created a Auth0 account, and everything is proper. For link B, we are supposed to create an app in Google end, get the credentials and supply to auth0.

We have the app created from our old googe setup, we just need to create one more credential and give it to auth0. Since we havenot done that yet, auth0 is using their "test" credentials.

I ca

[2021-03-18 08:21] maaverik commented on #560
Oh I see, okay

[2021-03-18 16:23] daltonfury42 opened #579 "Use typeform or google form for contact us"
https://www.typeform.com/

I was checking out typeform, it's having a free plan, else we could fall back to plain old google forms.

[2021-03-18 23:31] mmendiratta commented on #362
So admin is able to update the status of the queue, and I am able to get the user's end to read the status and update what they are seeing. One problem I am having is the state of `queueStatus` seems to be one state behind. I haven't used a lot of  `useSelector` so maybe if you have an idea of why this is happening that could help. Thanks.

[2021-03-19 02:12] daltonfury42 commented on #362
Can you raise a PR, and I’ll take a look

On Fri, 19 Mar 2021 at 5:01 AM, Manav Mendiratta ***@***.***>
wrote:

[2021-03-20 04:40] daltonfury42 commented on #560
Things I have tried:

1. Setting proper Google OAuth credentials. This was not the issue anyway as even a manually created account was also having the same issue. But I have set it as we anyway had to do it.
2. According to the FAQ, this looks like the most possible reason:

So in an attempt to use refresh tokens, I have added the offline_access scope, and enabled offline access in the configurati

[2021-03-20 05:07] daltonfury42 commented on #560
[This](https://community.auth0.com/t/trying-the-new-refresh-token-rotation-in-a-react-spa-are-3rd-party-cookies-supposed-to-be-required/41151/2) community post was helpful, have to cache tokens in local storage instead of 3rd party cookies.

PR raised here: https://github.com/SimplQ/simplQ-frontend/pull/580

This would mean that the access token will be stored in the local storage, but if you want

[2021-03-20 09:24] #560 closed

[2021-03-20 09:25] maaverik commented on #560
Checked on chrome and firefox, works fine now. Great job.

[2021-03-20 09:49] #579 closed

[2021-03-20 10:02] daltonfury42 commented on #545
I'm not sure if we should use popups for login.It could break for someone using some popup blocker, too much hassle.

Can we be excused just for the case of login/logout?

[2021-03-21 06:22] #577 closed

[2021-03-21 10:12] daltonfury42 opened #585 "Prevent page shake on background refresh"
On the token status page, we periodically call the backend every 10 seconds to check for updates. While this happens, the page gets a loader, and it also shakes up a bit because the loader reduces the size of components.

https://user-images.githubusercontent.com/11256376/111901030-aaf87a00-8a5b-11eb-8cf6-8925fb906965.mov

Wondering what is the best way to handle this. I could think of two ways:

[2021-03-21 12:31] maaverik commented on #585
Option 2 seems okay. Loaders won't be required once there is some content on the page, so it would be fine to remove them, and it's a simpler change than making CSS changes.

We could also modify the [getToken.fulfilled] handler in token slice to only change state of the aheadCount is different. I feel like that would be the ideal fix here.

[2021-03-21 13:41] maaverik commented on #585
My suggestion won't fix the problem since the LoadingStatus component works based on the pending status of the action provided. So we'll have to somehow show the loader only the first time like you said.

[2021-03-21 14:11] daltonfury42 commented on #585
we could add a boolean parameter to loading status, `spinOnlyForFirstLoad`. I've never done this, we could try. And then use it such cases.

[2021-03-21 14:32] daltonfury42 opened #587 "Loading fails and breaks the user flow"
**Describe the bug**
When we show the loading animation on an API call, and it fails, we print an error.  This blocks the user from trying again in case of a button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page
2. Try to create a queue with a name that already exists.
3. See error

**Expected behavior**
We show proper error message to the user in the tooltip, so I think it

[2021-03-21 16:01] daltonfury42 opened #588 "Token Design Is not Correct"
This is how the tokens should look like, as per our latest design:

![image](https://user-images.githubusercontent.com/11256376/111911667-8668c600-8a8c-11eb-8e5f-bf9dcb3665ce.png)

For for some weird reason, it's looking like this:

![image](https://user-images.githubusercontent.com/11256376/111911698-9aacc300-8a8c-11eb-9682-109c3ccb0f7f.png)

It seems to be some old version of the token component

[2021-03-21 16:05] maaverik commented on #588
I believe this happened when @mradenovic made the redux changes to the admin page. He created a new delete button with this style. It looked okay to me and I thought you were aware :sweat_smile:.

[2021-03-21 16:05] maaverik commented on #588
I believe this happened when @mradenovic made the redux changes to the admin page. He created a new delete button with this style. It looked okay to me and I thought you were also aware :sweat_smile:.

[2021-03-21 16:16] daltonfury42 commented on #588
![image](https://user-images.githubusercontent.com/11256376/111912216-b4e7a080-8a8e-11eb-95be-9f26d60bc100.png)

I see.. I liked the older one... minor points against our new one:

1. Three buttons in a row look a little redundant, with less variety
2. REMOVE is more explicit and clearer.

That's when @akashkbaburajan designed the new one:

![image](https://user-images.githubusercontent.com/112563

[2021-03-22 02:37] mradenovic commented on #588
Oh, I introduced that change as testing. Ended up in commit. Sorry 😳

On Sun, Mar 21, 2021, 12:01 daltonfury42 ***@***.***> wrote:

[2021-03-22 16:28] maaverik commented on #585
Do you have any ideas on how to best implement this? The only implementation I could think of is very complicated.

[2021-03-22 18:39] daltonfury42 commented on #585
I see. I tried running my initial simple idea through my head and got stuck too. Can you try if this will work?

1. A local state variable numTimesPending initially set to 0
2. A useEffect that would listen for changes to the action status and increment each time pending state comes
3. If spinOnlyOnce is set, and numTimesPending > 1, don’t spin

[2021-03-23 03:58] daltonfury42 commented on #588
Yo. No worries, @maaverik has reverted that change manually

[2021-03-23 15:00] #587 closed

[2021-03-23 15:01] #588 closed

[2021-03-23 17:13] #585 closed

[2021-03-26 14:32] micaiah-effiong commented on #471
Hi, if this feature is still wanted by the team, I'd like to work on it.

[2021-03-26 18:07] maaverik commented on #471
Hi @micaiah-effiong. Yes, this is still open. Do you have some ideas on the design? We hadn't finalized how it should look, so if you have any ideas, and if you could post a basic figma design or just a screenshot to start with, that'd be great.

[2021-03-26 18:15] daltonfury42 opened #594 "Token on admin page doesn’t render correctly on smaller screens"
The token on smaller screens look messed up.

![5B3ED1FB-691A-4ED5-9171-2A01FF0CE5F5](https://user-images.githubusercontent.com/11256376/112675523-42f7c880-8e8d-11eb-9a8c-fe50272ff941.png)

[2021-03-26 18:17] daltonfury42 commented on #594
We should optimise the space, especially width and make sure the token looks ok on a smaller screen. In the screenshot above, there is a lot of unused space on the horizontal axis that we should take care of

[2021-03-26 19:26] micaiah-effiong commented on #471
I considered the scan icon could come up as part of the mobile navigation bar, since it is small and makes for good accessibility.

I am not strong on my design skills, but I can come up with something.

[2021-03-27 05:26] daltonfury42 commented on #471
Scanning QR to enter the queue is more of a good selling point "feature", when talking to potential customers.

I'd prefer a floating material style QR button, but this is something we could decide on later. So, you can implement as per your comfort, navbar is fine, and then we can fix/move the button positioning and style etc in a follow up PR.

[2021-03-27 05:31] daltonfury42 opened #595 "Implement PWA A2HS functionality"
We aim to be a PWA, it's mostly there, we need to see whatever is left to do. One thing to do is A2HS, explained [here](https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps/Add_to_home_screen).

[2021-03-27 07:20] #594 closed

[2021-03-27 09:33] micaiah-effiong commented on #471
If so the I'll go with this design https://github.com/SimplQ/simplQ-frontend/issues/471#issuecomment-761778902.

[2021-03-27 14:41] daltonfury42 commented on #362
@mmendiratta Good job on the pause queue PR. I think we don't really need the ribbon in the design, as the dark highlighted button does seem to do the job.

[2021-03-27 14:41] #362 closed

[2021-03-30 01:27] mmendiratta commented on #489
Looking to pick this issue up, is the [Readme](https://github.com/SimplQ/simplQ-docker) all up to date?

[2021-03-30 03:35] daltonfury42 commented on #489
The readme is the state we want to be at. There is a thread doing on at the backend repo regarding this: https://github.com/SimplQ/simplQ-backend/issues/113

Let's ask @chalx what's left to be done, and have a discussion there.

[2021-03-30 23:42] eric-santos commented on #595
I figured out how to make it a PWA but I'm having trouble committing or pushing due to husky hooks on package.json. I found a workaround by doing npm run lint. It seems to only happen on windows computers. https://github.com/typicode/husky/issues/716, is there a workaround you may have seen before? Or is it ok to push with that?

[2021-03-31 04:23] daltonfury42 opened #601 "Implement Queue History"
Currently if a token is removed, it's gone for ever from the user's view. We should present the history of deleted tokens in the queue history section on the right side panel.

![image](https://user-images.githubusercontent.com/11256376/113090312-1d5d1d00-9207-11eb-9c1c-79b9ec7d739e.png)

Design: https://xd.adobe.com/view/ad1db074-03bf-45b1-537b-98d9d524ec82-db2c/screen/fe137c74-d5e2-4fe1-af85-108

[2021-03-31 20:06] shiv15 commented on #595
Is anyone working on this? Can I pick this up?

[2021-04-01 12:12] #595 closed

[2021-04-02 04:31] daltonfury42 commented on #473
Adding one more possible approach to our list.

https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps/Re-engageable_Notifications_Push
https://github.com/web-push-libs/webpush-java/wiki/Usage-Example

[2021-04-02 08:33] maaverik commented on #473
Oh cool, this is new. It's going to take me some time, but let me try getting a POC PR ready after understanding all these options.

I had stumbled on this [paper](https://www.diva-portal.org/smash/get/diva2:1133465/FULLTEXT01.pdf) that compares performance between polling, SSE and websockets (tldr; SSE and WS performs better for frequent small messages). It's a nice read.

[2021-04-07 19:08] maaverik commented on #473
So I read more about these options. The push API would have been great for us, from what I understand, it's almost the same as Firebase cloud messaging, but it has the same [user permission](https://w3c.github.io/push-api/#permission) problem because of which we abandoned the FCM idea :disappointed:. I'm pretty sure the majority of users won't give permissions for anything.

Of the other options,

[2021-04-08 11:42] daltonfury42 commented on #473
Wondering how github... They update their UI when we push a new branch etc. 🤔

Both seems ok to me. I'm also leaning to SSE.

[2021-04-10 13:57] skShekhar commented on #548
@daltonfury42 Are there anymore code smells or can this issue be closed?

[2021-04-11 09:45] skShekhar commented on #161
@maaverik The issue might be with [PageNotFound](https://github.com/SimplQ/simplQ-frontend/blob/77542746b5e5c211fadbaec84827b7492bbab1a1/simplq/src/components/pages/PageNotFound/index.jsx#L8) component. It will crash if `match/params` is undefined. I'm able to see the fallback UI if I remove this check.

But I'm not sure since this issue was created before the if-check code was merged in.

[2021-04-11 12:23] maaverik commented on #161
Hey @skShekhar, I just took a look. You're right about pageNotFound, it will cause a crash the way it's defined in ErrorHandler. I'll add some optional chaining in the condition to fix that. Good catch.

But for me, the error boundary still doesn't work right. I messed up some code on purpose in the homepage to test, and while it was going to the 404 page just fine, a few seconds later, the except

[2021-04-11 12:34] skShekhar commented on #161
@maaverik Yes I'm seeing the stack trace. Are you not getting the 404 page once you dismiss it? Or maybe might have missed out `props.match.params.queueName` at line 18.

[2021-04-11 15:12] maaverik commented on #161
Okay, I always thought since the stack trace was showing up, the error boundary wasn't working correctly. It intentionally shows the trace in development to help with debugging ([ref](https://stackoverflow.com/questions/52096804/react-still-showing-errors-after-catching-with-errorboundary)). Thanks for pointing it out @skShekhar, this has been a mystery to me for a long time, turns out it was alwa

[2021-04-11 15:13] #161 closed

[2021-04-16 17:29] jonathanhhoward opened #606 "Terms of service link on Google sign in page redirects to home page"
**Describe the bug**
The "terms of service" link on the Google sign in has path `simplq/#terms-ofservice`. This redirects to the home page instead of the terms of service page.

**To Reproduce**
Steps to reproduce the behavior:
1. On the home page click the "Login" button.
2. On the auth page click the "Continue with Google" button.
3. On the Google sign in page click the "terms of service" link.

[2021-04-16 17:46] daltonfury42 commented on #606
Hi @jonathanhhoward thanks for reporting this.

Correcting the OAuth consent screen would require a verification from google that would take some days. I've corrected it to https://simplq.me/privacy#terms-of-service

[2021-04-17 09:38] daltonfury42 opened #607 "Improve Admin Page Tutorial"
When a user goes to the admin page when creating his first queue, there is a tour that is shown. This is implemented [here](https://github.com/SimplQ/simplQ-frontend/blob/master/simplq/src/components/pages/Admin/getTourSteps.jsx).

We currently has two steps:

![image](https://user-images.githubusercontent.com/11256376/115108255-0f402800-9f8d-11eb-89fc-83b6f3ed40e5.png)

![image](https://user-imag

[2021-04-17 10:06] #207 closed

[2021-04-17 16:19] daltonfury42 opened #610 "Back button does not work on 404 page."
**Describe the bug**
After trying to join a queue which doesn't exist, pressing the back button on mobile doesn't take you back to the previous website.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to homepage.
2. Enter a random name of some queue that does not exist.
3. Click on join queue.
4. You'll be presented with 404 page. Pressing back button does not work.

**Expected behavior*

[2021-04-17 23:14] ShimantaBhuyan commented on #610
Did some digging around and seemed to have found the issue. Will raise a PR.

[2021-04-18 16:18] daltonfury42 opened #615 "Make home page SEO friendly."
For better SEO, we need to have content on the site when google etc indexes the home page. Since it's a react application, content is dynamically rendered on client side, and so the indexing doesn't take it into account, which is very bad SEO for us.

We will divide out website into the index.html and app.html, where the app.html will render all pages except the home page and 404 page. Home page w

[2021-04-18 16:46] daltonfury42 opened #616 "Send sign up email"
We should send a greeting email on user signups, something like this:

Welcome to Simplq, your number one source for all things [product]. We're dedicated to giving you the very best of [product], with a focus on [store characteristic 1], [store characteristic 2], [store characteristic 3].

Founded in [year] by [founder name], Simplq has come a long way from its beginnings in [starting location].

[2021-04-19 04:43] daltonfury42 commented on #610
Thanks @ShimantaBhuyan. Not sure if it's because of #613 but if you try to go to any link, now it redirects to home page. Can you check if you are free?

https://dev.simplq.me/j/Test-Queue

If you are not able to reproduce, try on Incognito.

[2021-04-19 08:02] ShimantaBhuyan commented on #610
Sure, will look into it

[2021-04-20 18:52] maaverik commented on #610
@ShimantaBhuyan  I've raised #620 to revert your PR for now, just so that other contributors don't get stuck wondering what's going wrong with the joining behavior while developing. We can spend some time on a better solution to this issue.

[2021-04-20 18:56] maaverik commented on #548
Hey @skShekhar. Sorry, missed your comment here. There are still a few small issues left, like the many TODOs we have. Let's leave this open so that we at least have a tracker that we can look at.

[2021-04-20 19:13] ShimantaBhuyan commented on #610
Cool, no worries. It's good that you reverted the change since it will cause issues in joining.
Actually, I wasn't aware of this flow of a user directly landing on a joining page while making the earlier change so the knock-on arose. I am looking into it as we speak.

[2021-04-23 05:45] daltonfury42 opened #621 "UX and Flow Improvements - Draft List"
1. My Queues doesn't stand out and people will miss it.
2. Scan the QR code takes you to the join page. Join page should have an option to enter the number. If the person is already in the queue, take to the token status page for him. (Self join should be disabled by default, configurable)
3. QR should be present already generated on the admin page than hidden behind a button.

[2021-04-23 07:31] maaverik commented on #621
For the india-fights-back branch:

Are you hospital or vaccine center? Start by createing queue:  -> Are you a hospital or vaccine center? Start by creating a queue:

No more crowd at vaccine centers. -> No more crowds at vaccine centers.

Ask them to wait outside without crowding in front of the vaccine . -> Ask them to wait outside without crowding in front of the vaccine centre

Token number ca

[2021-04-23 08:26] sajmalyousef commented on #621
Two thoughts:

1.  I may join multiple queues without going to the center . How to address this?
2.  Since this is entirely free. Identity verification might be an issue. Cowin app does aadhar verification. Can the vaccine center allow/reject a person to the queue based on some list they might have?

[2021-04-23 09:39] daltonfury42 commented on #621
(1) is a real problem. Been thinking about it, and also from a general crowd control perspective. So I am thinking of keeping self-join disabled by default. In the proposed new flow, the queue manager would scan generate the QR code and put it all around the vaccination centre.

**Flow 1: Default**
1. The queue manager adds the person manually to the queue by asking for his name and contact number

[2021-04-23 09:40] PavanDongare commented on #621
@sajmalyousef
1 by calling center. Adding to queue will be allowed only by admin
2 handled by centers

[2021-04-23 09:53] sajmalyousef commented on #621
(2) In Flow 2 would having this similar to google meet add value ? This can help self join as well. It should help center handle unregistered entry into the queue. Outside the ones registered for the slot
![image](https://user-images.githubusercontent.com/13188906/115853922-53c53b00-a447-11eb-8dce-05ffd3d76565.png)

(3) Understood that SimplQ's purpose is different. It was more on the confusion mu

[2021-04-23 09:56] daltonfury42 commented on #621
Yeah it's a good idea. We can build that out as a configuration once basic flow 2 is done.

[2021-04-23 16:14] daltonfury42 commented on #621
Adding a self join flag and setting it to disabled by default is a significant change. Till now we were telling, "Share the link to join the queue", this would change to "Users can visit the link to know their token status" as the default product behaviour. cc @maaverik

[2021-04-23 19:58] daltonfury42 opened #623 "UX Changes to make QR code printing the part of primary flow"
![image](https://user-images.githubusercontent.com/11256376/115923040-49349100-a49b-11eb-9725-128d7a15ad18.png)

As part of the new UX flow proposed in https://github.com/SimplQ/simplQ-frontend/issues/621, we would use the QR to let people reach their token status page than to enter the queue. This would mean that printing the QR is the next step that the admin would have to to do as soon as a que

[2021-04-24 16:58] #623 closed

[2021-04-25 06:14] daltonfury42 opened #631 "Add queue setting to enable and disable queue self join."
Add a new check box to enable and disable self join.

Use this PR as a reference: https://github.com/SimplQ/simplQ-frontend/pull/603

Patch request can be send with the boolean field isSelfJoinAllowed

[2021-04-30 16:31] iamraki commented on #631
Hi I would like to work on this

[2021-05-02 08:29] mav1n commented on #607
I have raised a PR for this.

[2021-05-02 09:21] daltonfury42 commented on #607
Thanks @mav1n. The PR is good, have added some comments, can you take a look?

[2021-05-07 19:49] js-sapphire commented on #403
Hey @daltonfury42,
I have tried to handle deleted queues in the Admin Page. Does this solution work ?

[2021-05-08 09:56] maaverik commented on #631
@iamraki, have you made any progress on this item?  In case you're not actively working on it, @js-sapphire could take a crack at it. Please let us know.

[2021-05-08 10:49] daltonfury42 commented on #631
Since we had not head from @iamraki I think you can take this up.

On Sat, 8 May 2021 at 3:26 PM, Nithin ***@***.***> wrote:

[2021-05-08 14:42] js-sapphire commented on #631
Hey @maaverik, @daltonfury42, does this solution work?

[2021-05-09 05:53] daltonfury42 opened #636 "Failed to execute 'scrollTo' on 'Window': 2 arguments required, but only 1 present."
**Describe the bug**
Sentry reported this error:
[code]

**Additional context**

![image](https://user-images.githubusercontent.com/11256376/117561955-d2adab00-b0b8-11eb-9a84-4e33444992b5.png)

[This](https://github.com/SimplQ/simplQ-frontend/blob/f995055f75ef7b7cd923a416badc872978a52d5a/simplq/src/utils/scrollingOperations.js#L10) is where we are calling this function.

[2021-05-09 07:18] maaverik commented on #636
Were you able to reproduce this?

[2021-05-09 07:41] #606 closed

[2021-05-09 07:43] maaverik commented on #425
Closed by #603

[2021-05-09 07:43] #425 closed

[2021-05-09 07:45] maaverik commented on #131
I think this can be closed now since we are displaying a better message in the queue status page.

[2021-05-09 07:45] #131 closed

[2021-05-09 07:50] maaverik commented on #105
We have a lot of the content described here on our home page and according to [this](https://support.google.com/webmasters/thread/15430775/hi-is-seo-going-to-be-an-issue-with-a-website-made-on-react-website-has-multiple-pages?hl=en&msgid=15432281), Google is able to scrape even bundled JS sites.

[2021-05-09 09:48] daltonfury42 commented on #105
My thoughts: What we currently have, at least after seeing analytics... is
not at all enough.

We don’t get any traffic from organic search. If SimplQ comes up when
someone searches for “queue management system” or “token management system”
“how to manage queue” etc is a good state to be in, but we are not there.

On Sun, 9 May 2021 at 1:20 PM, Nithin ***@***.***> wrote:

[2021-05-09 10:30] maaverik commented on #105
So, then what we should do is
1) Add more content with these buzzwords
2) Verify that they are considered important by SEO logic

When I google simplq, I see this in the description.
![Screenshot from 2021-05-09 15-58-58](https://user-images.githubusercontent.com/12583528/117568714-89bd1d00-b0df-11eb-808d-889443dda6e4.png)

This is from the description meta tag, so I guess that's considered the mo

[2021-05-09 14:24] daltonfury42 commented on #105
I took a phrase from the meta tag, "manage virtual queues" and made a google search. SimplQ is nowhere in sight. 🚀

[2021-05-15 07:03] #631 closed

[2021-05-15 13:24] daltonfury42 commented on #403
Hmm. @js-sapphire's PR https://github.com/SimplQ/simplQ-frontend/pull/634 got merged, but there is some issue. Steps to reproduce:

1. Go to home page and create a queue
2. Open the queue in two separate tabs.
3. Delete the queue from one tab.

The expected behaviour after #634 should take the user to the home page with the popup message, but this in not happening.

![image](https://user-images.gi

[2021-05-16 15:07] js-sapphire commented on #403
I will check this and get back

[2021-05-21 11:08] js-sapphire commented on #403
Made code changes in #638

[2021-05-22 09:23] maaverik commented on #403
@daltonfury42 regarding this issue you pointed out, I suspect it's due to the serviceWorker caching an old copy of the site. I was able to reproduce it in dev.simplq.me, but not on localhost when I used the master branch or incognito dev.simplq.me. On localhost, the behaviour was as expected, the queue was being deleted in the first tab, and after a few seconds, the second tab also followed suit.

[2021-05-22 14:44] daltonfury42 commented on #403
Good catch! It was the serviceWorker caching an old copy of the site.

Serviceworker is something I guess we just have to be aware of. I think let's keep it enabled.

[2021-07-07 03:16] shashank1503-cipher commented on #490
we can use `flex-wrap`

[2021-07-09 21:49] nme077 commented on #607
I would like to tackle this issue, but it looks like it might already be resolved. Is this supposed to be closed?

[2021-07-10 12:06] maaverik commented on #607
Hi @nme077,  if I remember correctly, we got the desired functionality in. So, yes, this item can be closed. But if you feel like anything can be improved upon, you can add that here and work on it.

[2021-07-12 10:57] daltonfury42 commented on #607
Closing this issue, feel free to reopen

[2021-07-12 10:57] #607 closed

[2021-08-01 13:34] daltonfury42 commented on #601
Backend call to `GET /queue/<queue-id>`now returns two lists: the existing list of active tokens, and a separate list of removedTokens, with the deletion time stamp. (https://github.com/SimplQ/simplQ-backend/pull/154)

[2021-08-04 03:44] daltonfury42 opened #639 "TypeError t is not a function"
**Describe the bug**
Sentry reported bug
![image](https://user-images.githubusercontent.com/11256376/128118931-3b61d158-c993-429b-9822-008cff07d4fa.png)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

![image](https://user-images.githubusercontent.com/11256376/128118975-909d2c40-0f20-4a2b-9fea-47838791ce56.png

[2021-08-04 03:47] daltonfury42 opened #640 "Enable JS source maps sending to sentry during build time."
Ref #639 for a example, our sentry stack trace is not readable.

We need to do this: https://docs.sentry.io/product/sentry-basics/guides/integrate-frontend/upload-source-maps/

[2021-08-07 13:29] Mogakamo commented on #548
Hey @daltonfury42 I'm new to open source and I wanted to tackle this issue.
I was hoping you could give me a heads up on how I could tackle this one.

[2021-08-07 14:42] daltonfury42 opened #643 "[Draft Proposal] Twilio Integration for client side SMS notification"
Feature: Let clients supply Twilio credentials to enable them to send SMS from their Twilio account.

**Step 1:**

In the admin page's right side panel, we can add one more option "Setup SMS" which can open up a modal that would two text boxes to enter their Account SID and Auth Token. There will also be a "Save Credentials" button.

Once the user clicks on save credentials, make a network call
[c

[2021-08-07 16:27] daltonfury42 commented on #548
Hi @Mogakamo welcome. Here is a list of tiny tech debts that you can solve:

https://sonarcloud.io/project/issues?id=SimplQ_simplQ-frontend&open=AXfKRRGH1JV0IME_FJy0&resolved=false
https://sonarcloud.io/project/issues?id=SimplQ_simplQ-frontend&open=AXhz9D02G5SMudjmecKx&resolved=false
https://sonarcloud.io/project/issues?id=SimplQ_simplQ-frontend&open=AXe6u56LmUtjMyP-a6uc&resolved=false

After that

[2021-08-07 21:15] Mogakamo commented on #548
ok thanks for the heads up @daltonfury42. I'll get back when i'm done

[2021-08-07 22:14] Mogakamo commented on #601
How is supposed to be implemented @daltonfury42

[2021-08-11 17:56] daltonfury42 commented on #601
The UI design is in the link above, and to get the required details, you can take a look at the response of `GET /queue/<queue-id>` call. Let me know if you have any specific questions while implementing.

[2021-08-13 06:55] Burhan-Rashid commented on #643
@daltonfury42 i want to work on this feature. Pls let me know if u have any designs available for the same.

[2021-08-18 12:11] anjali-001 commented on #601
Hey @daltonfury42! I would like to work on this issue.

[2021-08-23 07:47] Soumit915 commented on #601
@daltonfury42 we need to store a list of objects, that will consists of all the events or history of that particular queue in the backend.

I want to contribute. Can you please guide me, if we can store this info in the backend? Then, I can make a Queue history as you have mentioned above

[2021-08-24 15:33] anjali-001 commented on #601
Hey @daltonfury42  I have made a PR(#646 ) that fixes this issue. I made a call to `/queue/<queue-id>' route  to get the list of added and removed tokens, however the removed tokens have the tokenCreationTimestamp, so I made appropriate changes to display the queueHistory list. The details of the changes are mentioned in the PR.

[2021-08-24 18:08] daltonfury42 commented on #601
There seems to be duplication of efforts here.

I agree with @Soumit915's point [here](https://github.com/SimplQ/simplQ-backend/issues/126#issuecomment-903574236) that it's better to have a dedicated queue history endpoint that would give a list of events that then we can display.

One way is to merge @anjali-001 's PR, and then @Soumit915 can work on refactoring it to consume the new endpoint, wh

[2021-08-24 18:40] Soumit915 commented on #601
@daltonfury42,  I have finished working with this issue in the front-end, only thing that is left is to get the backend support and have the list and then, I can just put the api-values and the issue will be resolved.

![image](https://user-images.githubusercontent.com/46458047/130669269-52472036-03cd-4949-b7e8-815eea99e4cc.png)

This is the implementation of the front-end part. I have been waitin

[2021-08-27 07:18] zidingz opened #648 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-08 11:07] divyansh21jain commented on #548
Hello @Mogakamo I just saw the list of issues described in the list and would be happy to contribute.

[2021-09-09 18:44] #636 closed

[2021-09-09 18:44] #601 closed

[2021-09-09 18:45] #471 closed

[2021-09-09 18:47] maaverik commented on #548
Closing this since it looks like this is all covered.

[2021-09-09 18:47] #548 closed

[2021-09-09 18:54] #648 closed

[2021-09-10 16:59] #621 closed

[2021-09-21 15:44] daltonfury42 opened #653 "Get to Token Status Page Via Join Link"
Create a queue, then go to queue settings and enable "Self Join".

Now, visiting the queue joining link ([example link](https://dev.simplq.me/j/sdsfds)) will take the user to the joining page which currently looks like this:

<img width="1645" alt="Screenshot 2021-09-21 at 8 56 57 PM" src="https://user-images.githubusercontent.com/11256376/134200939-d18f4e84-cf06-4bd7-9c69-947b622f1ff4.png">

Curr

[2021-09-26 09:55] rahulshawdev opened #654 "Increase font size for reading purposes"
**Is your feature request related to a problem? Please describe.**
The font size of this section is too small. People with eye problems will have a hard time reading.

**Describe the solution you'd like**
Maybe increase the font size.

**Additional context**
![simplq-increase](https://user-images.githubusercontent.com/82671048/134802989-244aaf22-e4d9-4847-b579-c72d040b17f9.png)

[2021-09-29 16:55] maaverik commented on #654
Hi @rahulshawdev, that's a fair ask. Do you want to give this item a try? I think [this](https://github.com/SimplQ/simplQ-frontend/blob/a9ff4f2e97b3c9e3743d22924d1583b0fe3a3632/simplq/src/components/pages/Home/Home.module.scss#L171) CSS class is the one that styles this part.

[2021-09-30 09:04] rahulshawdev commented on #654
yeah sure :)

[2021-10-03 10:40] danielvydra commented on #653
Hello there @daltonfury42  ! If this issues is still open, then I would like to be assigned and try to contribute on this one. Just please let me know.
Best regards

[2021-10-03 11:14] daltonfury42 commented on #653
Sure, go ahead and raise a PR. Let us know if there are any doubts.

On Sun, 3 Oct 2021 at 4:11 PM, danielvydra ***@***.***> wrote:

[2021-10-04 13:27] daltonfury42 commented on #654
Sure, the first PR would be accepted, though. 🏎️

Lets also increase to the next level and not too much.

[2021-10-04 13:49] daltonfury42 opened #659 "Imporve Queue History on Mobile"
On desktop / larger screens, queue history (Available once you create a queue and add and remove few people) looks like this:

![image](https://user-images.githubusercontent.com/11256376/135862449-7a78f9f6-ba6a-40d1-a3d3-410a5d79ce69.png)

The bottom doesn't fit on smaller screens. It'll be best of we can flex wrap here:
![image](https://user-images.githubusercontent.com/11256376/135862867-2ff545a

[2021-10-04 13:55] daltonfury42 opened #660 "Fix ESLint reported issues"
Handle ESLint reported issues and warnings: https://github.com/SimplQ/simplQ-frontend/runs/3791258386

[2021-10-04 14:08] ArturBa commented on #660
can I take this?

[2021-10-04 14:36] daltonfury42 opened #662 "List user's tokens on homepage"
On home page, queues created by the user is displayed. Analogous to this, also display the tokens created by the user:

Sending GET request to 'https://devbackend.simplq.me/v1/tokens' would give all the tokens belonging to the user.

![image](https://user-images.githubusercontent.com/11256376/135870833-d8a9bd5a-cf1b-486b-b3e7-4bb53ad7a9bb.png)

A `Q` and `T` bold icon can be used to differentiate

[2021-10-04 23:24] joaovictor3g commented on #659
hi @daltonfury42  i would like to solve this problem, could you assign me?

[2021-10-05 12:02] danielvydra commented on #653
Hi @daltonfury42 , I saw that it automatically popup snackbar when error occures in API response. Shall I render that message in 3.c regardless (resulting in 2 messages) or only keep API message? I would have better control over it using pure axios. Anyway I am almost done with this task.

[2021-10-05 13:29] daltonfury42 commented on #653
Let us go with what you think is the cleanest and easiest to do. Then we can do follow up PRs if UX improvement is required.

Let us not go this route though.

[2021-10-05 16:11] #659 closed

[2021-10-06 05:35] #660 closed

[2021-10-08 16:47] daltonfury42 opened #669 "Take user to the token page if he already has a token"
When a user loads the JoinPage (via the link or via "Know Your Position" from the home page, send a GET request to 'https://devbackend.simplq.me/v1/tokens' to get all the tokens belonging to the user.

If there is a token for the user in the queueId, take the user to the token status page.

[2021-10-09 07:02] daltonfury42 commented on #643
@maaverik What is your thoughts on this one? This would allow the queue manager to set up and pay for SMS on his own, just that he will have to trust us with the credentials for twilio.

[2021-10-09 07:04] #654 closed

[2021-10-09 16:20] daltonfury42 opened #673 "Fix crash: ReferenceError: Intl is not defined"
[This line](https://github.com/SimplQ/simplQ-frontend/blob/master/simplq/src/components/common/Footer/Footer.jsx#L10) at times crashes with stacktrace:
[code]

![image](https://user-images.githubusercontent.com/11256376/136666217-87c9a7d6-4169-4d26-9c5a-405d8238fe6c.png)

This was reported on a "MiuiBrowser", so looks like the Intl module is not present in some non-standard browsers:

To fix this,

[2021-10-09 16:34] daltonfury42 commented on #643
Okay, makes sense.

[2021-10-09 16:39] daltonfury42 commented on #639
Too little information, closing.

[2021-10-09 17:27] indremak commented on #673
I would like to work on this issue, could you assign it to me?

[2021-10-09 18:34] daltonfury42 commented on #673
Sure, go ahead. We don’t usually assign issues, but the first complete PR
will be accepted.

On Sat, 9 Oct 2021 at 10:57 PM, Indre ***@***.***> wrote:

[2021-10-11 10:40] #673 closed, assigned to nobody

[2021-10-13 04:20] daltonfury42 opened #675 "Save Joining Info for later use."
It's common for our users to come to the site daily or weekly for getting tokens. It will be helpful for the users to not have to enter their name and mobile number.

![image](https://user-images.githubusercontent.com/11256376/137066311-39dd173a-7c48-4499-9f6a-607cd7f510d0.png)
(https://www.simplq.me/j/adsdsa)

Above the _Join Queue_ button, have a checkbox "Save for later use" that is ticked by d

[2021-10-13 05:23] nguyenhung15913 commented on #675
Hi, I am interested in this issue. Could you please assign it to me? Thanks.

[2021-10-13 09:09] daltonfury42 commented on #675
Sure, go ahead. First ready best PR would be accepted. 😆

[2021-10-13 10:03] daltonfury42 opened #676 "Queue History: Allow export as CSV"
Once you create a queue, in right side panel, there is queue history.

There should be a way to export this information as CSV.

This is blocked by this backend issue: https://github.com/SimplQ/simplQ-backend/issues/165

[2021-10-15 07:35] #675 closed, assigned to nobody

[2021-11-05 03:00] anandsimmy commented on #676
@daltonfury42 can i take this up?

[2021-11-05 09:09] daltonfury42 commented on #676
I was checking, the backend API code is not yet merged.

Would you like to get that PR merged first?

On Fri, 5 Nov 2021 at 8:31 AM, Anand Simmy ***@***.***> wrote:

[2021-11-05 15:37] anandsimmy commented on #676
Sure. will pick up once BE work is done

[2022-01-14 16:01] MrSingh2000 commented on #676
Whats the latest status of backend for this issue? Can i pick it right now?

[2022-01-14 16:14] daltonfury42 commented on #676
Sorry, it's still not ready from the backend, and might take a lot of time as I am not looking into this for near future.

[2022-01-28 20:34] Shelly011s commented on #616
issue still open?

[2022-01-29 04:02] daltonfury42 commented on #616
Just is just an idea, not not high priority for us.

[2022-06-27 02:07] Mbarnes2022 opened #690 "My content"
**I**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

*

[2022-10-03 16:00] aswath-s-tw commented on #643
@maaverik @daltonfury42 I would like to take this up. Is it taken ? And one more question, is this eligible for hacktoberfest 2022 ?

[2022-10-05 16:16] NereidaRondon commented on #490
Hello, I would love the opportunity to work on converting the pages to CSS grid.  Can I be assigned this issue? 😁

[2022-10-05 16:20] daltonfury42 commented on #490
This project is not being actively maintained anymore. Thanks for offering
the help!

On Wed, 5 Oct 2022 at 9:46 PM, Nereida Rondon ***@***.***>
wrote:

[2022-10-05 17:13] maaverik commented on #643
Hi @aswath-s-tw, this project is not being actively maintained anymore. Thanks anyway for offering to help!

[2022-10-05 17:32] aswath-s-tw commented on #643
Right thanks !

[2022-10-05 20:18] mnosov622 commented on #140
Hello @thehamzarocks !

Can I work on this issue ?

[2022-10-06 03:04] daltonfury42 commented on #140
The project is not being maintained anymore, your PR will not be accepted.

Happy Hactobering!

(I've removed the hacktober label so that the project doesn't come up in
hactober repo lists anymore)

On Thu, Oct 6, 2022 at 1:48 AM Maxim Nosov ***@***.***> wrote:

[2022-10-08 19:49] tusharrajpoot commented on #476
@maaverik can i do this?

[2022-10-11 04:20] maaverik commented on #476
This project is not being actively maintained anymore. Thanks for offering to help!